.cd-top {
  display: inline-block;
  z-index: 9999;
  height: 36px;
  width: 36px;
  position: fixed;
  bottom: 36px;
  right: 10px;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: rgba($juicy-orange, 0.8) url(/assets/images/arrows/cd-top-arrow.svg) no-repeat center 50%;
  border-radius: 15px;
  visibility: hidden;
  opacity: 0;

  transition: opacity 0.3s 0s, visibility 0s 0.3s;

  &.cd-is-visible,
  &.cd-fade-out,
  .no-touch &:hover {
    transition: opacity 0.3s 0s, visibility 0s 0s;
  }

  /* the button becomes visible */
  &.cd-is-visible {
    visibility: visible;
    opacity: 1;
  }

  /* if the user keeps scrolling down, the button is out of focus and becomes less visible */
  &.cd-fade-out {
    opacity: 0.25;
  }

  .no-touch &:hover {
    background-color: rgba(#e86256, 1);
    opacity: 1;
  }

  @media #{$medium-up} {
    right: 24px;
    bottom: 36px;
  }

  @media #{$large-up} {
    height: 48px;
    width: 48px;
    right: 48px;
    bottom: 48px;
  }
}