[class*="block-grid-"] > li {

  @media #{$small-only} {
    float: none;
  }
}

[class*="small-block-grid-"] > li {

  @media #{$small-only} {
    float: left;
  }
}


// At Risk section

// Loader
.loading-indicator-location {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 15px;
  margin-bottom: -6px;
  margin-top: 0px;
  background: url(../images/loading.gif) 3px 4px no-repeat;
  background-size: 10px 10px;
  padding-left: 16px;
  opacity: 0.65;
  font-size: 12px;
}

// Hide risk boxes until triggered
.alert-box--risk {
  display: none;
}

.alert-box {
  margin: 0;
  padding: 2rem;
  background: none;
  border: none !important;

  h2 {
    margin-bottom: 1rem;
    color: $off-white;
  }

  &.warning,
  &.alert {
    padding: 1rem 2rem 1.25rem;
    background: rgba($yellow, 0.05);
    border-radius: 5px;
    line-height: 1.3;

    p {
      font-size: 2rem;
      margin: 0;
      line-height: 1;
      color: lighten($yellow, 20%);

      small {
        font-size: 60%;
        line-height: 1;
      }
    }
  }

  &.alert {
    background: rgba(red, 0.05);

    p {
      color: lighten(red, 35%);
    }
  }

}


.has-tip {
  color: $light-orange;
  font-weight: normal;
  text-decoration: underline;
  border: none;

  &:hover {
    color: $juicy-orange;
    border: none;
  }
}


// Orange bold text for emphasising facts
.emph {
  font-family: $header-font;
  color: $light-orange;
  text-transform: uppercase;
  font-weight: normal;
  font-size: 115%;
  letter-spacing: 1px;
}

.emph--block {
  display: block;
}


// Icons
.small-icon {
  width: 65px;

  @media #{$medium-up} {
    width: 85px;
  }

  @media #{$large-up} {
    width: 100px;
  }
}

.large-icon {
  width: 65px;

  @media #{$medium-up} {
    width: 100px;
  }

  @media #{$large-up} {
    width: 135px;
  }
}


// Pie charts
.pie {
  position: relative;
  width: 100px;
  height: 100px;
  line-height: 100px;
  border-radius: 50%;
  margin: 0 auto 1rem;
  background: darken($juicy-orange, 15%);
  background-image: linear-gradient(to right, transparent 50%, darken($juicy-orange, 7%) 0);
  color: transparent;
  text-align: center;
  box-shadow: 0 0 15px 0 rgba($dark-blue, 0.1);

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    border-radius: 0 100% 100% 0 / 50%;
    background-color: inherit;
    transform-origin: left;
    // animation: spin 50s linear infinite,
    //            bg 100s step-end infinite;
    // animation-play-state: paused;
    // animation-delay: inherit;
  }

  @media #{$medium-up} {
    width: 120px;
    height: 120px;
    line-height: 120px;
  }

  @media #{$medium-up} {
    width: 140px;
    height: 140px;
    line-height: 140px;
  }

  span {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    text-align: center;
    font-size: 2rem;
    font-family: $header-font;
    color: darken($juicy-orange, 35%);
    text-shadow: 1px 1px 1px $juicy-orange;

    @media #{$large-up} {
      font-size: 3rem;
    }
  }
}

// @keyframes spin {
//   to { transform: rotate(.5turn); }
// }
// @keyframes bg {
//   50% { background: darken($juicy-orange, 7%); }
// }


// Fact badges
.fact-badge {
  display: inline-block;
  margin: 0 auto 1rem;
  padding: 0.625rem 1rem 0.575rem;
  font-size: 1.75rem;
  font-family: $header-font;
  color: darken($juicy-orange, 35%);
  text-transform: uppercase;
  text-shadow: 1px 1px 2px lighten($juicy-orange, 12%);
  background: $juicy-orange;
  box-shadow: inset 0 0 10px 2px darken($juicy-orange, 10%);
  border-radius: 5px;
}


// Facts -- numbers/charts/infographics
.fact {
  display: inline-block;
  vertical-align: middle;
  color: #888;
  line-height: 1;

  span {
    color: $juicy-orange;
    font-size: 2.5rem;
    font-family: $header-font;
    text-transform: uppercase;
    line-height: 1;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  small {
    display: block;
    margin: 0;
    font-family: $body-font-family;
    text-transform: none;
    color: #eee;
  }
}


.block-grid--facts {

  .fact + .emph {
    display: block;
    margin-top: -0.5rem;
    color: #fff;
  }

  .fact span {
    color: $light-orange !important;
  }
}

  .fact--small {

    span {
      font-size: 2.2125rem;
    }

    + .emph {
      font-size: 70%;
    }
  }

  .fact--large span {
    font-size: 4.6125rem;
  }


// Orange circles with ripple/pulse effect
.circle-container {
  position: relative;
  display: block;
  width: 100%;
  margin: 0 auto;
  color: darken($juicy-orange, 35%);
  text-shadow: 1px 1px 2px lighten($juicy-orange, 12%);

  @media #{$medium-up} {
    width: 50%;
  }

  &:after {
    content: "";
    display: block;
    position: relative;
    z-index: 8;
    width: 50%;
    height: 0;
    margin: 0 auto;
    padding-bottom: 50%;
    border-radius: 50%;
    background: $juicy-orange;
    box-shadow: inset 0 0 10px 10px darken($juicy-orange, 10%);

    @media #{$medium-up} {
      width: 100%;
      padding-bottom: 100%;
    }
  }

  .content {
    position: absolute;
    top: 20%;
    left: 50%;
    z-index: 10;
    -ms-transform: translate(-50%, 50%);
        transform: translate(-50%, 50%);
    text-align: center;
    font-family: $header-font;
    font-size: 1em;

    @media #{$medium-up} {
      top: 10%;
      left: 50%;
      font-size: 2em;
    }
  }

  .dot {
    border: 5px solid $light-orange;
    background: transparent;
    border-radius: 50%;
    height: 175px;
    width: 175px;
    position: absolute;
    top: -50%;
    left: 0;
    z-index: 1;
    animation: pulse 3s ease-out infinite;
    opacity: 0;

    @media #{$medium-up} {
      width: 150%;
      height: 150%;
      top: -25%;
      left: -25%;
      border-width: 7px;
    }
  }
}