.cascadia-journey {
  padding: 0;
  position: relative;
  overflow: hidden;
  width: 100vw;

  &:after {
    z-index: 1005;
    background: linear-gradient(to right, $dark-blue 0, rgba($dark-blue, 0) 100%);

    @media #{$medium-up} {
      background: linear-gradient(to right, $dark-blue 0, rgba($dark-blue, 0.88) 30%, rgba($dark-blue, 0.5) 65%, rgba($dark-blue, 0) 100%);
    }
  }
}

  .cascadia-journey__background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 0;

    // TODO: Marcel, move this onto a new div
    background: linear-gradient(to top, $dark-blue 0%, rgba($dark-blue, 0) 8%);
  }

  .cascadia-journey__background--mobile {

  }

  .cascadia-journey__fade-out {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 999;
    margin: 0; padding: 150px 0;
    background-image: linear-gradient(to bottom, transparent, #161f29)
  }

  .helicopter {
    position: fixed;
    top: 25px;
    right: 15px;
    z-index: 1200;
    width: 65px;

    @media #{$medium-up} {
      top: 40px;
      right: 25px;
      width: 110px;
    }

    @media #{$large-up} {
      top: 65px;
      right: 65px;
      width: 150px;
    }
  }

  .cascadia-journey__timer {

    // TODO:
    display: none;

    width: 20rem;
    position: fixed;
    bottom: 50px;
    right: 50px;
    z-index: 999;
    padding: 0.5rem;
    background: rgba($dark-blue, 0.85);
    border: 2px solid $yellow;
    text-align: center;
  }


  .cascadia-journey__content {
    position: relative;
    z-index: 1010;

    .row {
      margin: 2% 0 3%;

      @media #{$medium-up} {
        margin: 5% 0 8%;
      }

      @media #{$large-up} {
        margin: 10% 0 14%;
      }

      .row {
        margin: 0;

        @media #{$small-only} {

          .columns {
            padding-left: 0;
          }
        }
      }
    }

    div.wow {
      margin: 20% 0;

      @media #{$medium-up} {
        margin: 7% 0;
      }

      @media #{$large-up} {
        margin: 14% 0;
      }
    }

    div.aftermath {
      margin-top: 80%;

      @media #{$medium-up} {
        margin-top: 22%;
      }

      @media #{$large-up} {
        margin-top: 24%;
      }
    }

    h1 {
      margin-top: 0;
      margin-bottom: 1rem;
      white-space: nowrap;

      @media #{$large-up} {
        margin-bottom: 2rem;
      }

      object {
        display: inline-block;
        width: 75px;
        height: 55px;
        margin: 0 0.25rem -0.5rem 0;

        @media #{$large-up} {
          display: block;
          width: 140px;
          height: 90px;
          margin: 0;
        }
      }
    }

    p {
      margin-bottom: 0.875rem;

      @media #{$large-up} {
        margin-bottom: 1.5rem;
      }
    }

    div.icon-grid {
      margin: 10% 0 8% -4% !important;

      @media #{$medium-only} {
        margin-left: -14% !important;
      }

      @media #{$large-up} {
        margin-left: -8% !important;
      }

      object + .emph {

        @media #{$small-only} {
          margin-top: -0.5rem;
        }
      }
    }

    ul {
      margin-top: 1.5rem;

      li {
        line-height: 1.3 !important;
        padding-bottom: 0.875rem;
      }

      object {
        display: block;
        margin: 0 auto 0.5rem;
      }
    }

    h2,
    h3,
    p,
    li {
      color: lighten(#8c949e, 22%);
    }

    blockquote {
      margin: 10% 0;
      padding: 0;
      border: none;
      color: $light-orange;
      font-size: 1.125rem;
      line-height: 1.2;

      @media #{$medium-up} {
        font-size: 2rem;
      }

      @media #{$large-up} {
        font-size: 2.75rem;
      }

      cite {
        display: block;
        margin-top: 0.375rem;
        font-style: normal;
        font-size: 0.5em;
        color: $dirty-blue;

        a {
          color: lighten($dirty-blue, 22%);

          &:hover {
            color: #fff;
            text-decoration: underline;
          }
        }
      }
    }
  }

.cascadia-journey__quake {
  position: relative;
  width: 100%;
  float: left;
  background: linear-gradient(to bottom, $dark-blue 0%, rgba($dark-blue, 0) 8%);
}


/* cities svgs and trigger lines */
.cities,
.tsunamis {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 999;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;

  object {
    width: 100%;
  }
}

// City animation positions
.cities--vancouver  { top: 29vw; }
.cities--seattle    { top: 128.8vw; }
.cities--olympia    { top: 193.2vw; }
.cities--portland   { top: 254.85vw; }
.cities--salem      { top: 315.25vw; }
.cities--eugene     { top: 374.3vw; }
.cities--grantspass { top: 427.2vw; }
.cities--redding    { top: 536.2vw; }

// TODO: hide (remove colours) before ship
.cities-trigger,
.tsunamis-trigger {
  border-top: 1px solid #f00;
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
}

// TODO: hide (remove colours) before ship
.tsunamis-trigger {
  border-top: 1px solid #0f0;
}

// Trigger city animations (distance from the top of the screen)
.cities-trigger--vancouver  { top: 80vw; }
.cities-trigger--seattle    { top: 170vw; }
.cities-trigger--olympia    { top: 230vw; }
.cities-trigger--portland   { top: 320vw; }
.cities-trigger--salem      { top: 340vw; }
.cities-trigger--eugene     { top: 400vw; }
.cities-trigger--grantspass { top: 460vw; }
.cities-trigger--redding    { top: 570vw; }

// Trigger tsunami animations (distance from the top of the screen)
.tsunamis-trigger--wave-1,
.tsunamis-trigger--wave-2 { top: 270vw; }