.js section, .js footer {
  visibility: none;
}

.js .pace-done section, .js .pace-done footer {
  visibility: visible;
}

.pace-inactive {
  display: none;
}

.pace {
  pointer-events: none;
  user-select: none;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  background: $dark-blue;

  @media #{$large-up} {
    background: url(/media/banners/trbo-banner-low.jpg) center center no-repeat;
    background-size: cover;
  }

  .pace-progress {
    background: $yellow;
    background-image: linear-gradient(to right, $juicy-orange 0%, $light-orange 50%, $yellow 100%);
    // border-bottom: 1px solid lighten($juicy-orange, 25%);
    // box-shadow: 0 1px 0 0 rgba($dark-blue, 0.1);
    position: fixed;
    z-index: 3000;
    top: 0;
    right: 100%;
    width: 100%;
    height: 8px;
  }
}


// Old JS preloader
// .js #preloader {
//   position: fixed;
//   left: 0;
//   right: 0;
//   top: 0;
//   bottom: 0;
//   z-index: 9999;
//   width: 100%;
//   height: 100%;
//   background: $dark-blue;
//   overflow: visible;
//   text-align: center;

//   @media #{$medium-up} {
//     background: url(/media/banners/trbo-banner-low.jpg) center center no-repeat;
//     background-size: cover;
//   }
// }