// =======================================
// Foundation
// =======================================
@import "settings";
@import "animate";
@import "source/bower_components/foundation/scss/normalize.scss";
@import "source/bower_components/foundation/scss/foundation.scss";


// =======================================
// Vars
// =======================================

$dark-blue: #161f29;
$dirty-blue: #7fa5c1;
$juicy-blue: #3a9ae2;
$yellow: #ffbf42;

$grey: #65768a;
$off-white: #c2d2de;

$orange: #ff7b22;
$light-orange: #ff9b58;
$juicy-orange: #ff4e15;

$header-font: Anton, Impact, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;


// =======================================
// Now on to the other bits
// =======================================

.button {
  background: $dark-blue;
  outline: 0;
  box-shadow: 0 0 20px 10px rgba($juicy-blue, 0.2), 0 0 4px 2px $juicy-blue;
  animation: blink 2s infinte ease-out;

  &:hover {
    background: darken($juicy-blue, 10%);
    box-shadow: 0 0 20px 10px rgba($juicy-blue, 0.1), 0 0 4px 2px rgba($juicy-blue, 0.4);
  }

  &:focus,
  &:active {
    outline: 0;
  }
}

// TODO
.js #preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  text-align: center;
  vertical-align: middle;
  background: $dark-blue;
  // background: url(http://files.mimoymima.com/images/loading.gif) no-repeat center center, rgba($dark-blue, 0.98);
  // background: url(/media/destruction-5.jpg) center center no-repeat, $dark-blue !important;
  // background-size: cover !important;

  h1 {
    margin-top: 25vh;
    color: #fff;
  }
}

.blink {
  animation-name: blink;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

@keyframes blink {
  0% { opacity: 1.0; }
  50% { opacity: 0.0; }
  100% { opacity: 1.0; }
}

@keyframes blinkAlt {
  0% { opacity: 1.0; }
  65% { opacity: 0; }
  100% { opacity: 0; }
}

body {
  background: #161f29;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;

  * {
    box-sizing: border-box;
  }
}

h1 {
  font-size: 2.5em;
  font-family: $header-font;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;

  @media #{$medium-up} {
    font-size: 4.25em;
  }

  @media #{$medium-up} {
    font-size: 5.25em;
  }

  small {
    display: block;
    margin: 2rem 0 1.5rem;
    font-family: $body-font-family;
    text-transform: none;
    font-size: 1.125rem;
    line-height: 1.3;
    color: #8c949e;

    @media #{$medium-up} {
      font-size: 1.375rem;
    }

    @media #{$large-up} {
      font-size: 1.6125rem;
    }

    strong {
      font-weight: normal;
      color: #fff;
    }
  }
}

h2 {
  font-weight: 500;
  font-size: 1.5em;
  line-height: 1.3;

  @media #{$medium-up} {
    font-size: 2.25em;
  }

  @media #{$large-up} {
    font-size: 2.875em;
  }
}

h3 {
  font-weight: 500;
  font-size: 1.35em;
  line-height: 1.3;

  @media #{$medium-up} {
    font-size: 1.875em;
  }

  @media #{$large-up} {
    font-size: 2.275em;
  }
}

p,
li {
  font-size: 1.125rem;
  line-height: 1.3;
  color: #8c949e;

  @media #{$medium-up} {
    font-size: 1.375rem;
  }

  @media #{$large-up} {
    font-size: 1.6125rem;
  }

  strong {
    font-weight: normal;
    color: #fff;
  }
}

h4 {
  color: #8c949e;
}

bold {
  font-weight: 500;
}



section {
  position: relative;
  padding: 1.5rem 0;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    // background: linear-gradient(to bottom, #10161c 10%, rgba(#10161c, 0.8) 30%);
    // background: rgba(#10161c, 0.9);
  }

  * {
    position: relative;
    z-index: 5;
  }

  @media #{$medium-up} {
    min-height: 100%;
    padding: 3.5rem 0;
  }

  @media #{$large-up} {
    padding: 6.5rem 0;
  }
}

section:not(.hero) {
  position: relative;
  padding: 3rem 0 0;

  @media #{$medium-up} {
    padding: 6rem 0 0;
  }

  @media #{$large-up} {
    padding: 12rem 0 0;
  }
}


.hero {
  min-height: 100%;
  height: 100%;
  // background: url(/media/destruction-5.jpg) center center no-repeat, $dark-blue !important;
  // background-size: cover !important;
  background: $dark-blue;
  background: #10161c;
  background: #161f29;

  // &:after {
    // background-image: linear-gradient(to bottom, rgba($dark-blue, 0.6) 50%, $dark-blue 100%);
    // opacity: 0.7;
    // display: none;
  // }

  h1 {
    margin-top: 30vh;
    margin-bottom: 7vh;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0 15px rgba($dark-blue, 0.75);

    @media #{$medium-up} {
      margin-top: 21vh;
    }

    strong {
      font-weight: 400;
    }
  }

  h2 {
    margin-top: 2rem;
    color: #fff;

    @media #{$medium-up} {
      margin-top: 4.5rem;
    }

    @media #{$large-up} {
      margin-top: 7rem;
    }
  }

  h3 {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;

    @media #{$medium-up} {
      margin-top: 0.75rem;
    }

    @media #{$large-up} {
      margin-top: 1.5rem;
    }
  }

  p {
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
    color: #777;

    img {
      display: inline-block;
      opacity: 0.3;
    }
  }
}

.title-logo {
  display: block;
  width: 180px;
  margin: 0 auto;
  text-align: center;

  @media #{$medium-up} {
    margin-top: -4rem;
  }

  img {
    width: 150px;
    opacity: 0.5;
  }

  &:hover {
    opacity: 1;
  }
}

.credit-logo {
  position: absolute;
  width: 150px;
  opacity: 0.25;
}

.credit-logo--left {
  width: 175px;
  top: 3.15rem;
  left: 3rem;
}

.credit-logo--right {
  top: 2.3rem;
  right: 3rem;
}

.js-animate-risk,
.js-animate-earthquake {
  visibility: hidden;

  &.animated {
    visibility: visible;
  }
}

.loading-indicator-location {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 15px;
  margin-bottom: -6px;
  margin-top: 0px;
  background: url(../images/loading.gif) 3px 4px no-repeat;
  background-size: 10px 10px;
  padding-left: 16px;
  opacity: 0.65;
  font-size: 12px;
}

.alert-box {
  display: none;
  margin: 0;
  padding: 2rem;
  background: none;
  border: 2px solid $juicy-blue;

  h2 {
    margin-bottom: 1rem;
    color: $off-white;
  }
}

  .alert-box--safe {

  }

  .alert-box--danger {
    border-color: red;

    h2 {
      color: $juicy-orange;
    }

    p {
      color: #fff;
    }
  }


.fact {
  display: inline-block;
  vertical-align: middle;
  color: #888;
  line-height: 1;

  span {
    color: #fc6500;
    font-size: 2.5rem;
    font-family: Anton, Rubik, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 1;
    display: block;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  small {
    display: block;
    margin-top: 2rem;
    margin-bottom: 0;
    font-family: $body-font-family;
    text-transform: none;
    color: #eee;
  }
}

  .fact--small {

    span {
      font-size: 2.2125rem;
    }
  }

  .fact--large {

    span {
      font-size: 4.6125rem;
    }
  }

  .fact--huge {

    span {
      font-size: 6rem;
    }
  }


  .circle-container {
    position: relative;
    display: block;
    width: 50%;
    color: $dark-blue;
    margin: 0 auto;

    &:after {
      content: "";
      display: block;
      position: relative;
      z-index: 8;
      width: 75%;
      height: 0;
      margin: 0 auto;
      padding-bottom: 75%;
      border-radius: 50%;
      background: $off-white;
      box-shadow: 0 0 0 12px $dark-blue, 0 0 0 14px $juicy-orange;
    }

    &.circle-container--small:after {
      width: 50%;
      padding-bottom: 50%;
    }

    &.circle-container--large:after {
      width: 50%;
      padding-bottom: 50%;

      @media #{$medium-up} {
        width: 100%;
        padding-bottom: 100%;
      }
    }

    &.blue,
    &.orange {
      color: #fff;
    }

    &.orange {
      color: darken($juicy-orange, 35%);
      text-shadow: 1px 1px 2px lighten($juicy-orange, 12%);
    }

    &.blue:after {
      background: $juicy-blue;
      box-shadow: 0 0 0 8px $dark-blue, 0 0 0 10px $dirty-blue;
    }

    &.orange:after {
      background: $juicy-orange;
      // box-shadow: 0 0 0 12px $dark-blue, 0 0 0 14px $light-orange;
      box-shadow: none;
      box-shadow: inset 0 0 10px 10px darken($juicy-orange, 10%);
    }

    .content {
      position: absolute;
      top: 30%;
      left: 40%;
      z-index: 10;
      transform: translate3d(-50%, 0, 0);
      text-align: center;
      font-family: $header-font;
      font-size: 1.5em;
    }

    &.circle-container--small .content,
    &.circle-container--large .content {
      top: 25%;
      left: 50%;
      transform: translate3d(-50%, 50%, 0);
      font-size: 1em;
    }

    @media #{$medium-up} {

      &.circle-container--large .content {
        top: 50%;
        left: 50%;
        transform: translate3d(-50%, -50%, 0);
        font-size: 2em;
      }
    }

    // .content--text {
    //   padding-top: 50%;
    //   line-height: 1.2;
    //   margin-top: -15%;
    // }

    .dot {
      border: 5px solid $light-orange;
      background: transparent;
      border-radius: 50%;
      height: 175px;
      width: 175px;
      position: absolute;
      top: -50%;
      left: 0;
      z-index: 1;
      animation: pulse 3s ease-out infinite;
      opacity: 0;

      @media #{$medium-up} {
        top: -50%;
        left: -50%;
      }
    }

    &.circle-container--large .dot {

      @media #{$medium-up} {
        width: 150%;
        height: 150%;
        top: -25%;
        left: -25%;
        border-width: 7px;
      }
    }
  }

@keyframes pulse {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  25% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}



// Japan polaroids
section.japan {
  position: relative;
  overflow: hidden;
  // background: url(/media/destruction.jpg) no-repeat;
  // background-size: cover;

  &:after {
    // background: linear-gradient(to bottom, #10161c 5%, rgba(#10161c, 0.3) 50%, #10161c 80%);
    // opacity: 1;
    display: none;
  }

  h1 {
    position: relative;
    margin: 5vh auto 2.5vh;

    &:before {
      content: '';
      display: block;
      width: 120px;
      height: 120px;
      margin: 0 auto;
      border-radius: 50%;
      background: #f12500;
      background: red;
      background: rgba(red, 0.25);
      box-shadow: 0 0 0 20px rgba(red, 0.25);
      animation: blinkAlt 1.5s infinite ease-out;
      position: absolute;
      top: -150px;
      left: 0;
      right: 0;
    }

    &:after {
      content: '';
      display: block;
      width: 120px;
      height: 120px;
      margin: 0 auto;
      border-radius: 50%;
      background: #f12500;
      background: red;
      animation: heartbeat 1.5s infinite ease-out;
      position: absolute;
      top: -150px;
      left: 0;
      right: 0;
    }

    @media #{$medium-up} {
      margin: 10vh auto 5vh;

      &:before,
      &:after {
        top: -175px;
      }
    }
  }

  p {
    margin-bottom: 0.5rem;

    &:last-of-type {
      margin-bottom: 5vh;
    }

    // strong {
    //   color: $light-orange;
    // }
  }
}

@keyframes heartbeat {
  0% { transform: scale(1.05); }
  65% { transform: scale(0.925); }
  100% { transform: scale(1); }
}


.japan__polaroids {

  img {
    opacity: 0.35 !important;
  }

  @media #{$medium-up} {
    width: 120%;
    max-width: 120%;
    margin: 0 0 0 -10%;
  }

  a {
    // background: $dark-blue;
    display: inline-block;
    // float: left;
    margin: 0 0 27px 30px;
    margin-bottom: 0;
    width: auto;
    // padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    // box-shadow: 0 3px 6px rgba($dirty-blue, 0.5);

    position: relative;
    z-index: 1;

    &:after {
      content: '';
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: rgba($light-orange, 0.15);
    }

    img {
      -webkit-filter: grayscale(100%);
              filter: grayscale(100%);
      // -webkit-clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0% 80%, 0% 20%);
              // clip-path: polygon(50% 0%, 100% 20%, 100% 80%, 50% 100%, 0% 80%, 0% 20%);
    }
  }

  .medium-3:first-of-type {

    a {
      left: 60px !important;

      &:first-of-type {
        top: -100px;
      }

      &:nth-of-type(2) {
        top: -80px;
        left: 115px;

        left: 50px !important;

        img {
          opacity: 0.25;
        }
      }

      &:nth-of-type(2n-1) {
        left: 205px;

        // TODO:
      }

      &:last-of-type {
        top: -60px;
        left: 65px;

        left: 40px !important;

        img {
          opacity: 0.32;
        }
      }
    }
  }

  .medium-6 {

    @media #{$medium-up} {
      // margin-top: -10rem;
      margin-top: 5rem;
    }

    .row {
      position: relative;
      z-index: 5;
    }

    a {
      left: -20px;

      &:first-of-type {
        top: -10px;

        @media #{$medium-up} {
          margin-bottom: 5rem;
        }

        img {
          opacity: 0.2;
        }
      }

      &:last-of-type {
        top: 10px;

        img {
          opacity: 0.2;
        }
      }
    }
  }

  .medium-3:last-of-type {

    a {
      right: 60px !important;

      &:first-of-type {
        top: -125px;
      }

      &:nth-of-type(2) {
        top: -105px;
        right: 140px;

        right: 50px !important;

        img {
          opacity: 0.25;
        }
      }

      &:nth-of-type(2n-1) {
        right: 250px;
      }

      &:last-of-type {
        top: -85px;
        right: 85px;

        right: 40px !important;

        img {
          opacity: 0.32;
        }
      }
    }
  }
}


.subduction {
  text-align: center;

  @media #{$medium-up} {
    text-align: left;
  }

  // TODO:
  // h1 {
  //   color: $juicy-orange;
  // }
}


.prediction {

  h1 {
    overflow: hidden;

    @media #{$medium-up} {
      margin-top: 3rem;
    }
  }

  .circle-container {
    margin-bottom: 1rem;

    &:last-of-type {
      margin-top: 3rem;
    }
  }

  h4 {
    color: $light-orange;
    font-size: 1.25rem;
    font-family: $header-font;
    font-weight: normal;
    text-transform: uppercase;
  }

  ul {

    h4 {
      margin-top: 1.5rem;
      font-size: 1.5rem;
    }

    p {
      font-size: 1.325rem;
    }
  }
}


.subduction,
.prediction {

  h1 {
    margin-bottom: 2.5vh;

    @media #{$medium-up} {
      margin-bottom: 5vh;
    }
  }
}


.quote {
  min-height: 0;
  margin: 5vh 0;
  padding: 15vh 0 !important;
  background: url(/media/skull.jpg) center center no-repeat;
  background-size: cover;

  blockquote {
    margin: 0;
    padding: 0;
    border: none;

    h2 {
      color: $light-orange;
    }

    cite {
      margin-top: 5vh;
      font-style: normal;
      color: $dirty-blue;
    }
  }

  &:after {
    // display: none;
  }
}


.fancy-headline {
  // TODO:
  // color: $juicy-orange;

  small {
    color: $off-white;
  }
}


.deep-dive-panel {
  padding: 2rem;
  text-align: center;
  border: 2px solid $juicy-blue;
  background: rgba($juicy-blue, 0.5);

  h4 {
    color: #fff;
    color: $off-white;
  }

  a {
    margin-top: 1.5rem;
  }

  .button {
    background: $juicy-blue;
    border-radius: 2px;
  }
}


.cascadia-hands {
  min-height: 0;
  text-align: center;
  padding: 2rem 0 !important;
  margin: 0;
  background: $dark-blue;

  h4 {
    margin: 0;
    color: #fff;
  }

  .button {
    margin: 0 0 0 1rem;
    background: $juicy-blue;
  }

  &:after {
    display: none;
  }
}


.cascadia-journey {
  padding: 0 !important;
  position: relative;
  overflow: hidden;

  &:after {
    z-index: 1005;
    background: linear-gradient(to right, $dark-blue 35%, rgba($dark-blue, 0) 80%);
  }
}

  .cascadia-journey__background {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: auto;
    z-index: 0;
  }

  .helicopter {
    position: fixed;
    top: 65px;
    right: 65px;
    z-index: 999;
    width: 150px;
  }

  .cascadia-journey__content {
    position: relative;
    z-index: 1010;

    .row {
      margin: 15% 0;
    }

    .wow {
      margin: 15% 0;
    }

    h1 {
      margin-bottom: 1rem;

      @media #{$medium-up} {
        margin-bottom: 2rem;
      }
    }

    h1 + ul {
      margin-bottom: 3rem;
    }

    ul {
      margin-top: 1.5rem;

      li {
        margin-bottom: 1rem;
        line-height: 1.2 !important;
      }
    }

    p,
    li {
      color: lighten(#8c949e, 22%);
    }
  }

.cascadia-journey__quake {
  position: relative;
}

  .cascadia-journey__timer {

    // TODO:
    // display: none;

    width: 20rem;
    position: fixed;
    bottom: 50px;
    right: 50px;
    padding: 0.5rem;
    background: rgba($dark-blue, 0.85);
    border: 2px solid $juicy-blue;
    text-align: center;
  }


/* cities svgs and trigger lines */
.cities, .tsunamis {
  position: absolute;
  width: 100%;
  height: auto;
  z-index: 999;
  top: 0;

  object {
    width: 100%;
  }
}

.cities-trigger, .tsunamis-trigger {
  border-top: 1px solid #F00;
  position: absolute;
  top: 0;
  width: 100%;
  height: 1px;
}

.tsunamis-trigger {
  border-top: 1px solid #0F0;
}

.cities-trigger--vancouver {
  top: 60vw;
}

.cities-trigger--seattle {
  top: 139vw;
}

.cities-trigger--olympia {
  top: 202vw;
}

.cities-trigger--portland {
  top: 291vw;
}

.cities-trigger--salem {
  top: 323vw;
}

.cities-trigger--eugene {
  top: 381vw;
}

.cities-trigger--grantspass {
  top: 435vw;
}

.cities-trigger--redding {
  top: 542vw;
}

/* tsunamis */
.tsunamis-trigger--wave-1 {
  top: 270vw;
}

.tsunamis-trigger--wave-2 {
  top: 300vw;
}

.tsunamis-trigger--wave-3 {
  top: 350vw;
}

.tsunamis-trigger--wave-4 {
  top: 410vw;
}

.tsunamis-trigger--wave-5 {
  top: 450vw;
}

.tsunamis-trigger--wave-6 {
  top: 510vw;
}

.tsunamis-trigger--wave-7 {
  top: 540vw;
}


.has-tip {
  color: $yellow;
  font-weight: normal;
  text-decoration: underline;
  border: none;

  &:hover {
    color: $juicy-orange;
    border: none;
  }
}