// =======================================
// Foundation
@import "settings";
@import "animate";
@import "source/bower_components/foundation/scss/normalize.scss";
@import "source/bower_components/foundation/scss/foundation.scss";

// TODO
.js div#preloader { position: fixed; left: 0; top: 0; z-index: 999; width: 100%; height: 100%; overflow: visible; background: #333 url('http://files.mimoymima.com/images/loading.gif') no-repeat center center; }

// Vars

$dark-blue: #161f29;
$dirty-blue: #7fa5c1;
$juicy-blue: #3a9ae2;

$grey: #65768a;
$off-white: #c2d2de;

$orange: #ff7b22;
$light-orange: #ff9b58;
$juicy-orange: #ff4e15;

$header-font: Anton, Impact, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;


// THE REST OF IT
// Now on to the other bits
// =======================================

// body {
//   background: url(../images/hero-map.svg) no-repeat;
//   background-attachment: fixed;
//   background-size: cover;
// }

body {
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-size: 4em;
  font-family: $header-font;
  text-transform: uppercase;
  line-height: 1;
}

h2 {
  font-weight: 500;
  font-size: 1.875rem;

  @media #{$medium-up} {
    font-size: 2rem;
    line-height: 1.3;
  }

  @media #{$large-up} {
    font-size: 2.875rem;
  }
}

p {
  font-size: 1.25em;
}

bold {
  font-weight: 500;
}

* {
  box-sizing: border-box;
}



section {
  position: relative;
  padding: 1.5rem 0;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    // background: linear-gradient(to bottom, #10161c 10%, rgba(#10161c, 0.8) 30%);
    background: rgba(#10161c, 0.95);
  }

  * {
    position: relative;
    z-index: 5;
  }

  @media #{$medium-up} {
    padding: 3.5rem 0;
  }

  @media #{$large-up} {
    padding: 6.5rem 0;
  }
}

section:not(.hero) {
  position: relative;
  min-height: 100%;
  // height: 100%;
  // height: 1000px;
  padding: 12rem 0 0;
  // background: url(../images/hero-map.svg) center 45% no-repeat;
  // background-size: 100%;
  background: none;
}

.fixed-header {
  width: 100%;
  overflow: hidden;
  min-height: 100%;
  // height: 100%;
  height: 1332px;
  padding: 0;
  // background: url(../images/hero-map.svg) right top no-repeat;
  background-size: cover;
  position: fixed;
}


.hero {
  min-height: 100%;
  height: 100%;
  background: url(../images/waves.jpg) center center no-repeat, $dark-blue !important;
  background-size: cover;

  &:after {
    display: none;
  }

  h1 {
    margin-top: 17vh;
    margin-bottom: 7vh;
    font-size: 525%;
    font-size: 11vh;
    color: #888;

    strong {
      color: #fff;
      font-weight: 400;
    }
  }

  h2 {
    margin-top: 2rem;
    color: #fff;

    @media #{$medium-up} {
      margin-top: 4.5rem;
    }

    @media #{$large-up} {
      margin-top: 7rem;
    }
  }

  h3 {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;

    @media #{$medium-up} {
      margin-top: 0.75rem;
    }

    @media #{$large-up} {
      margin-top: 1.5rem;
    }
  }

  p {
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
    color: #777;

    img {
      display: inline-block;
      opacity: 0.3;
    }
  }
}

.js-animate-risk,
.js-animate-subduction,
.js-animate-earthquake,
.js-animate-subduction-labels {
  visibility: hidden;

  &.animated {
    visibility: visible;
  }
}

.loading-indicator-location {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 15px;
  margin-bottom: -6px;
  margin-top: 0px;
  background: url(../images/loading.gif) 3px 4px no-repeat;
  background-size: 10px 10px;
  padding-left: 16px;
  opacity: 0.65;
  font-size: 12px;
}

.alert-box {
  display: none;
}



section.subduction {
  padding-top: 6em;
  .label-text {
    color: $dirty-blue;
    font-size: 1.25rem;
    letter-spacing: 0.25px;
  }
}

section.subduction-labels {
  position: fixed;
  width: 100%;
  top: 0;
  row {
    position: static;
  }
}

section.earthquake {
  padding-top: 12em;
  padding-bottom: 48em;
}

.blog-grid--facts {

  li {
    // line-height: 15rem;
  }
}

.fact {
  display: inline-block;
  vertical-align: middle;
  color: #888;
  line-height: 1;

  span {
    color: #fc6500;
    font-size: 3.6125rem;
    font-family: Anton, Rubik, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
    text-transform: uppercase;
    line-height: 1;
    // padding: 1rem 0.5rem 1rem 1.5rem;
    border: 2px solid $light-orange;
    margin-bottom: 1rem;
    // border-radius: 50%;
    // text-align: center;
  }

  small {
    display: block;
    margin-top: 2rem;
    margin-bottom: 0;
    font-family: $body-font-family;
    text-transform: none;
    color: #eee;
  }
}

  .fact--small {

    span {
      font-size: 2.2125rem;
    }
  }

  .fact--large {

    span {
      font-size: 4.6125rem;
    }
  }

  .fact--huge {

    span {
      font-size: 6rem;
    }
  }


  .circle-container {
    position: relative;
    // display: table;
    display: block;
    // width: 6rem;
    // height: 6rem;
    width: 50%;
    color: $dark-blue;
    // height: 0;
    // padding-bottom: 50%;
    // border-radius: 50%;
    // color: $dark-blue;
    // background: $off-white;
    // box-shadow: 0 0 0 12px $dark-blue, 0 0 0 14px $juicy-orange;

    &:after {
      content: "";
      display: block;
      width: 75%;
      height: 0;
      padding-bottom: 75%;
      border-radius: 50%;
      background: $off-white;
      box-shadow: 0 0 0 12px $dark-blue, 0 0 0 14px $juicy-orange;
    }

    &.circle-container--small:after {
      width: 50%;
      padding-bottom: 50%;
    }

    &.circle-container--large:after {
      width: 100%;
      padding-bottom: 100%;
    }

    &.blue,
    &.orange {
      color: #fff;
    }

    &.blue:after {
      background: $juicy-blue;
      box-shadow: 0 0 0 8px $dark-blue, 0 0 0 10px $dirty-blue;
    }

    &.orange:after {
      background: $juicy-orange;
      box-shadow: 0 0 0 12px $dark-blue, 0 0 0 14px $light-orange;
    }

    .content {
      position: absolute;
      top: 36%;
      left: 40%;
      transform: translate3d(-50%, 25%, 0);
      text-align: center;
      // width: 50%;
      // // display: table-cell;
      // // vertical-align: middle;
      // text-align: center;
      // font-family: $header-font;
      // letter-spacing: 1px;

      // float: left;
      // width: 100%;
      // padding-top: 50%;
      // line-height: 1em;
      // margin-top: -0.5em;
      // text-align: center;
    }

    &.circle-container--small .content {
      top: 25%;
      left: 25%;
      transform: translate3d(-50%, 50%, 0);
    }

    &.circle-container--large .content {
      top: 50%;
      left: 50%;
      transform: translate3d(-50%, -50%, 0);
    }

    // .content--text {
    //   padding-top: 50%;
    //   line-height: 1.2;
    //   margin-top: -15%;
    // }
  }

  .circle-container--small {
    // width: 4rem;
    // height: 4rem;
  }

  .circle-container--large {
    // width: 8rem;
    // height: 8rem;
  }





// Japan polaroids
.japan {
  position: relative;
  overflow: hidden;
  margin-top: 12rem;
  margin-bottom: 12rem;
  padding-top: 50%;
  padding-bottom: 50%;
}

.japan__polaroids {

  a {
    // background: $dark-blue;
    display: inline-block;
    // float: left;
    margin: 0 0 27px 30px;
    width: auto;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    // box-shadow: 0 3px 6px rgba($dirty-blue, 0.5);

    position: relative;
    z-index: 1;

    img {
      opacity: 0.3;
      -webkit-filter: grayscale(50%);
    }
  }

  .medium-3:first-of-type {

    a {

      &:first-of-type {
        top: -100px;
      }

      &:nth-of-type(2) {
        top: -50px;
        left: 80px;

        img {
          opacity: 0.15;
        }
      }

      &:nth-of-type(2n-1) {
        left: 120px;
      }

      &:last-of-type {

        img {
          opacity: 0.22;
        }
      }
    }
  }

  .medium-6 {

    .row {
      position: relative;
      z-index: 5;
    }

    a {
      left: -20px;

      &:first-of-type {
        top: -10px;

        img {
          opacity: 0.1;
        }
      }

      &:last-of-type {
        top: 10px;

        img {
          opacity: 0.1;
        }
      }
    }
  }

  .medium-3:last-of-type {

    a {

      &:first-of-type {
        top: -105px;
      }

      &:nth-of-type(2) {
        top: -45px;
        right: 90px;

        img {
          opacity: 0.15;
        }
      }

      &:nth-of-type(2n-1) {
        right: 160px;
      }

      &:last-of-type {

        img {
          opacity: 0.22;
        }
      }
    }
  }
}

.polaroids {
  // position: absolute;
  // top: 60px;
  // left: 0;
  // right: 0;
  // opacity: 0.3;

  // li {
  //   display: inline;
  //   position: absolute;
  //   z-index: 2;

  //   &:first-of-type {
  //     top: -150px;
  //     left: 30px;
  //   }

  //   &:nth-of-type(2) {
  //     top: -180px;
  //     left: 33%;
  //   }

  //   &:nth-of-type(3) {
  //     top: -120px;
  //     right: 30px;
  //   }

  //   &:nth-of-type(4) {
  //     top: 180px;
  //     left: -80px;
  //     z-index: 3;
  //   }

  //   &:nth-of-type(5) {
  //     top: 430px;
  //     left: 35%;
  //   }

  //   &:nth-of-type(6) {
  //     top: 180px;
  //     right: -80px;
  //     z-index: 3;
  //   }

  //   &:nth-of-type(7) {
  //     top: 440px;
  //     left: 60px;
  //   }

  //   &:nth-of-type(8) {
  //     top: 600px;
  //     left: 35%;
  //     opacity: 0;
  //   }

  //   &:nth-of-type(9) {
  //     top: 470px;
  //     right: 20px;
  //   }
  // }

  // a {
  //   background: #fff;
  //   display: inline;
  //   float: left;
  //   margin: 0 0 27px 30px;
  //   width: auto;
  //   padding: 10px;
  //   text-align: center;
  //   text-decoration: none;
  //   color: #333;
  //   font-size: 18px;
  //   box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
  // }

  // a:after {
  //   content: attr(title);
  // }

  // img {
  //   display: block;
  //   width: 360px;
  //   margin-bottom: 12px;
  // }
}

// By default, we tilt all our images -2 degrees
// ul.polaroids a {
//   transform: rotate(-2deg);
// }

// Rotate all even images 2 degrees
// ul.polaroids li:nth-child(even) a {
//   transform: rotate(2deg);
// }

// Don't rotate every third image, but offset its position
// ul.polaroids li:nth-child(3n) a {
//   transform: none;
//   position: relative;
//   top: -5px;
// }

// Rotate every fifth image by 5 degrees and offset it
// ul.polaroids li:nth-child(5n) a {
//   transform: rotate(5deg);
//   position: relative;
//   right: 5px;
// }

// Keep default rotate for every eighth, but offset it
// ul.polaroids li:nth-child(8n) a {
//   position: relative;
//   top: 8px;
//   right: 5px;
// }

// Keep default rotate for every eleventh, but offset it
// ul.polaroids li:nth-child(11n) a {
//   position: relative;
//   top: 3px;
//   left: -5px;
// }


.video-container {
  position: relative;
  z-index: 10;
  max-width: 100%;
  padding-bottom: 56.25%;
  padding-top: 30px;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}