// =======================================
// Custom Variables
// =======================================

$dark-blue: #161f29;
$dirty-blue: #7fa5c1;

$yellow: #ffbf42;
$light-orange: #ff9b58;
$juicy-orange: #ff4e15;

$grey: #65768a;
$off-white: #c2d2de;

$header-font: Anton, Impact, "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;


// =======================================
// Foundation
// =======================================

@import "settings";
@import "source/bower_components/foundation/scss/normalize.scss";
@import "source/bower_components/foundation/scss/foundation.scss";

// =======================================
// Import stylesheets
// =======================================
@import "animate";
@import "journey";
@import "elements";
@import "backtotop";


// =======================================
// Globals
// =======================================

html {
  overflow-y: auto;
  overflow-x: hidden;
}

body {
  text-rendering: optimizeLegibility;

  * {
    box-sizing: border-box;
  }
}

// Reset

ul,
ol {
  margin-left: 0;
  list-style-position: inside;
}

// Vertical spacing etc

section {
  position: relative;
  padding: 1.25rem 0;

  &:after {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
  }

  @media #{$medium-up} {
    // min-height: 100%;
    padding: 3rem 0;
  }

  @media #{$large-up} {
    padding: 6rem 0;
  }
}

section:not(.cascadia-journey),
footer {
  background: $dark-blue;
  position: relative;
  z-index: 1501;
}


// =======================================
// Typography
// =======================================

h1 {
  position: relative;
  left: -2px;
  font-size: 2.25em;
  font-family: $header-font;
  text-transform: uppercase;
  line-height: 1;
  color: #fff;

  @media #{$medium-up} {
    font-size: 3.25em;
  }

  @media #{$large-up} {
    font-size: 4.6125em;
  }

  @media screen and (min-width: 1369px) {
    font-size: 5.25em;
  }

  small {
    display: block;
    margin: 0.5rem 0 0.25rem;
    font-family: $body-font-family;
    text-transform: none;
    font-size: 1.125rem;
    line-height: 1.3;
    color: #8c949e;

    @media #{$medium-up} {
      font-size: 1.375rem;
    }

    @media #{$large-up} {
      font-size: 1.6125rem;
    }

    strong {
      font-weight: normal;
      color: #fff;
    }

    &.subtitle {
      position: relative;
      left: 5px;
      margin-bottom: 0.25rem;
      font-size: 1rem;
      font-family: $header-font;
      text-transform: uppercase;
      letter-spacing: 4px;
      font-weight: normal;

      @media #{$medium-up} {
        font-size: 1.125rem;
      }

      @media #{$large-up} {
        font-size: 1.25rem;
      }
    }

    &.subtitle--bottom {
      margin-top: 0.25rem;
    }
  }
}

h2 {
  font-weight: 500;
  font-size: 1.5em;
  line-height: 1.3;

  @media #{$medium-up} {
    font-size: 2em;
  }

  @media #{$large-up} {
    font-size: 2.875em;
  }
}

h3 {
  font-weight: 500;
  font-size: 1.35em;
  line-height: 1.3;

  @media #{$medium-up} {
    font-size: 1.875em;
  }

  @media #{$large-up} {
    font-size: 2.275em;
  }
}

p,
li {
  font-size: 1rem;
  line-height: 1.35;
  color: #8c949e;


  @media #{$medium-up} {
    font-size: 1.025rem;
    margin-bottom: 1rem;
  }

  @media #{$large-up} {
    margin-bottom: 1.25rem;
    font-size: 1.375rem;
  }
}

h4 {
  color: #8c949e;
}

strong,
bold {
  font-weight: normal;
  color: #fff;
}


// =======================================
// Links and buttons
// =======================================

.button {
  background: none;
  color: $juicy-orange;
  border: 2px solid $juicy-orange;
  border-radius: 5px;
  outline: 0;
  animation: blink 2s infinte ease-out;
  font-family: $header-font;
  text-transform: uppercase;
  letter-spacing: 1px;

  &:hover {
    color: #fff;
    background: $juicy-orange;
  }

  &:focus,
  &:active {
    outline: 0;
  }
}


// =======================================
// Header
// =======================================

// Logos

.title-logo,
.credit-logo {
  position: relative;
  z-index: 1510;
}

.title-logo {
  display: block;
  width: 100px;
  margin: 0 auto;
  text-align: center;

  @media #{$medium-up} {
    width: 140px;
    margin-top: -2rem;
  }

  @media #{$large-up} {
    width: 160px;
    margin-top: -4rem;
  }

  object {
    width: 100%;
  }
}

.credit-logo {
  position: absolute;
  width: 140px;
  opacity: 0.25;
}

  .credit-logo--left {
    width: 166px;
    top: 3.15rem;
    left: 1.25rem;

    @media #{$large-up} {
      left: 3rem;
    }
  }

  .credit-logo--right {
    top: 2.175rem;
    right: 1.25rem;

    @media #{$large-up} {
      right: 3rem;
    }
  }


// =======================================
// Landing / Hero
// =======================================

.hero {
  z-index: 1501;
  min-height: 100%;
  height: 100%;
  background: $dark-blue;
  text-align: center;

  .seismic-wave {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1502;
    margin: 0 auto;
    width: 100%;
    max-width: 800px;

    @media #{$medium-up} {
      top: 10%;
    }

    @media #{$large-up} {
      top: 75px;
    }
  }

  .row {
    position: relative;
    z-index: 1503;
  }

  @media #{$medium-up} {
    height: 100%;
  }

  h1 {
    margin-top: 32%;
    margin-bottom: 5vh;
    line-height: 1;
    color: #fff;
    text-shadow: 0 0 15px rgba($dark-blue, 0.75);

    @media #{$medium-up} {
      margin-top: 40%;
      margin-bottom: 3vh;
    }

    @media #{$large-up} {
      margin-top: 24vh;
    }
  }

  h2 {
    margin-top: 2rem;
    color: #fff;

    @media #{$medium-up} {
      margin-top: 4.5rem;
    }

    @media #{$large-up} {
      margin-top: 7rem;
    }
  }

  h3 {
    color: rgba(255, 255, 255, 0.5);
    font-weight: 300;

    @media #{$medium-up} {
      margin-top: 0.75rem;
    }

    @media #{$large-up} {
      margin-top: 1.5rem;
    }
  }

  p {
    margin-top: 1.25rem;
    margin-bottom: 2.5rem;
    color: #777;

    img {
      display: inline-block;
      opacity: 0.3;
    }
  }
}


// =======================================
// Meet Cascadia
// =======================================

.subduction {
  position: relative;
  z-index: 1501;
  text-align: center;
  background: $dark-blue;
  padding-top: 0 !important;

  img {
    width: 90%;
    max-width: 600px;
    margin: 0 auto;

    @media #{$large-up} {
      width: 100%;
      max-width: 100%;
    }
  }

  &:after {
    display: none;
  }
}


// =======================================
// Prediction
// =======================================

.prediction {

  @media #{$medium-up} {
    box-shadow: 0 50px 50px 0 $dark-blue;
  }

  h1 {
    overflow: hidden;
  }

  .circle-container {
    margin: 1.25rem auto 0.6125rem;
  }

  object {
    margin-bottom: 0.6125rem;

    @media #{$medium-up} {
      margin-bottom: 1.25rem;
    }
  }
}

.prediction--chance {

  @media #{$small-only} {
    padding-top: 0;
  }
}

.prediction--scenario {

  @media #{$small-only} {
    padding-top: 0;
  }

  ul {
    margin-bottom: 5vw;

    @media #{$medium-up} {
      margin-bottom: 10vw;
    }
  }
}

.subduction,
.prediction {

  h1 {
    margin-bottom: 2.5vh;

    @media #{$medium-up} {
      margin-bottom: 5vh;
    }
  }
}


// =======================================
// Japan
// =======================================

.japan {
  position: relative;
  padding-bottom: 0;

  h1 {
    position: relative;
    margin: 0 auto 1.5rem;

    @media #{$medium-up} {
      margin: 8rem auto 4rem;

      // Blinking red halo
      &:before {
        content: '';
        display: block;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        border-radius: 50%;
        background: rgba(red, 0.25);
        box-shadow: 0 0 0 20px rgba(red, 0.25);
        animation: blinkAlt 1.5s infinite ease-out;
        position: absolute;
        top: -175px;
        left: 0;
        right: 0;
      }

      // Pusling red dot
      &:after {
        content: '';
        display: block;
        width: 120px;
        height: 120px;
        margin: 0 auto;
        border-radius: 50%;
        background: red;
        animation: heartbeat 1.5s infinite ease-out;
        position: absolute;
        top: -175px;
        left: 0;
        right: 0;
      }
    }
  }

  p {
    margin-bottom: 1.5rem;
  }

  @media #{$small-only} {

    img {
      width: 100%;
      max-width: 300px;
      margin: 0 auto 2rem;
    }
  }
}

// Japan photos
.japan__polaroids {

  @media #{$medium-up} {
    width: 100%;
    max-width: 100%;
    position: relative;
    left: -125px;
  }

  a {
    background: #fff;
    display: inline-block;
    float: left;
    width: auto;
    margin: 0 0 0 10px;
    padding: 4px 4px 24px;
    border-radius: 1px;
    text-align: center;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    box-shadow: 0 3px 6px rgba($dirty-blue, 0.5);
    position: relative;
    z-index: 1;

    @media #{$medium-up} {
      margin: 0 0 0 30px;
      padding: 12px 12px 48px;
    }

    // Scatter the polaroids around
    &:first-of-type {
      top: -100px;
      left: 160px;
      transform: rotate(1deg);
    }

    &:nth-of-type(2) {
      top: -80px;
      left: 145px;
      transform: rotate(-2deg);
    }

    &:last-of-type {
      top: -60px;
      left: 175px;
      transform: rotate(-1deg);
    }
  }
}


// =======================================
// Let's Get Prepared & Protected
// =======================================

.preparedness {
  padding-top: 6vw;
  text-align: center;

  @media #{$medium-up} {
    box-shadow: 0 -50px 50px 0 $dark-blue;
  }

  .row {
    position: relative;
    z-index: 1505;
  }

  h1 {
    margin-top: 10vw;
    margin-bottom: 0;

    span {
      color: $light-orange;
    }
  }

  p:first-of-type {
    margin-top: 1.25rem;

    @media #{$large-up} {
      margin-top: 1.75rem;
    }
  }

  p {
    margin-bottom: 0.75rem;

    @media #{$large-up} {
      margin-bottom: 1.25rem;
    }
  }

  ul {
    margin-top: 5vw;
  }

  li {
    color: #fff;

    small {
      display: block;
      margin-top: 0.5rem;
      line-height: 1.3;
      color: $dirty-blue;
    }
  }
}


// At Risk?

.at-risk {
  padding: 10% 0 5%;
}

  .at-risk__cta {
    position: relative;
    padding: 0;
    background: url(/media/trbo-CTA-bg.svg) left top no-repeat;
    background-size: 30%;

    @media #{$medium-up} {
      padding: 5rem 0 3.25rem;
      background-position: left center;
      background-size: 25%;
    }

    @media #{$large-up} {
      padding: 9rem 0 7rem;
    }
  }

    .button--risk {
      margin-top: 1.5rem;
      background: $dark-blue;
      box-shadow: 0 0 26px 5px $dark-blue;
    }

    .at-risk__cta__disclaimer {
      position: relative;
      max-width: 660px;
      padding: 0.75rem 0.75rem 0.7125rem;
      text-align: center;
      border: 2px solid $dirty-blue;
      background: $dark-blue;
      border-radius: 8px;

      @media #{$medium-up} {
        padding: 2rem 3rem;
        text-align: left;
      }

      &:after,
      &:before {
        left: 50%;
        bottom: 100%;
        border: solid transparent;
        content: '';
        height: 0;
        width: 0;
        position: absolute;
        pointer-events: none;

        @media #{$medium-up} {
          left: auto;
          bottom: auto;
          right: 100%;
          top: 50%;
        }
      }

      &:after {
        border-color: transparent;
        border-bottom-color: $dark-blue;
        border-width: 12px;
        margin-left: -12px;

        @media #{$medium-up} {
          border-bottom-color: transparent;
          border-right-color: $dark-blue;
          margin-top: -12px;
        }
      }

      &:before {
        border-color: transparent;
        border-bottom-color: $dirty-blue;
        border-width: 15px;
        margin-left: -15px;

        @media #{$medium-up} {
          border-bottom-color: transparent;
          border-right-color: $dirty-blue;
          margin-top: -15px;
        }
      }
    }

// Loader
.loading {
  display: none;
  background: url(../images/loading.gif) 0 4px no-repeat;
  background-size: 8px 8px;
  padding-left: 16px;
  color: #fff;
  font-size: 0.9rem;
  opacity: 0.7;
  font-family: $body-font-family;
  font-style: normal;
  text-transform: none;
}

// Response boxes
.area-safe,
.area-affected {
  width: 110px;
  margin-top: 1rem;
}

.alert-box--safe,
.alert-box--danger {
  border-radius: 5px;
  margin-top: 5rem;

  p {
    color: #fff;
  }
}

// Hide risk boxes until triggered
.alert-box--risk {
  display: none;
}

.alert-box {
  margin: 0;
  padding: 1rem;
  background: none;
  border: none !important;

  @media #{$large-up} {
    padding: 2rem;
    text-align: left;
  }

  h2 {
    margin-bottom: 1rem;
    color: $off-white;
  }

  object {
    margin: 0 auto 1rem;
  }
}

  .alert-box--safe {
    background: rgba(lightgreen, 0.05);

    h2 {
      color: lightgreen;
    }
  }

  .alert-box--danger {
    background: rgba($light-orange, 0.05);

    h2 {
      color: $juicy-orange;
    }
  }

// Emergency Kit
.checklist {

  img {
    display: block;
    margin: 0 auto 0.5rem;
  }

  small {

    @media #{$small-only} {
      font-size: 85%;
    }
  }
}

// Sharing
.preparedness__sharing {
  padding-top: 2.5rem;

  @media #{$large-up} {
    padding-top: 5rem;
  }
}

.button--twitter,
.button--facebook,
.button--email {
  font-size: 1.25rem;
  width: 100%;
  transition: all 0.2s ease-in;

  @media #{$medium-only} {
    font-size: 1rem;
    padding: 1rem 0.5rem;
  }

  @media #{$large-up} {
    font-size: 1.8rem;
  }

  object {
    width: 25px;
    height: 25px;
    margin-bottom: -0.25rem;
    margin-right: 0.5rem;

    @media #{$medium-only} {
      width: 18px;
      height: 18px;
      margin-bottom: -0.125rem;
      margin-right: 0.125rem;
    }

    @media #{$large-up} {
      width: 40px;
      height: 40px;
      margin-bottom: -0.5rem;
    }
  }

  &:hover {
    box-shadow: inset 0 0 7px 4px rgba(255, 255, 255, 0.05);
  }
}

.button--twitter {
  border-color: #55acee;
  color: #fff;
  background-color: #55acee;
  box-shadow: inset 0 0 7px 4px rgba(22, 31, 41, 0.3);

  &:hover {
    background-color: #55acee;
    color: #fff;
  }
}

.button--facebook {
  border-color: #3b5998;
  color: #fff;
  background-color: #3b5998;
  box-shadow: inset 0 0 7px 4px rgba(22, 31, 41, 0.3);

  &:hover {
    background-color: #3b5998;
    color: #fff;
  }
}

.button--email {
  // color: #621800;
  color: #fff;
  background-color: $primary-color;
  box-shadow: inset 0 0 7px 4px rgba(22, 31, 41, 0.2);

  &:hover {
    // color: #621800;
    color: #fff;
  }
}


// =======================================
// Footer
// =======================================

footer {
  padding-top: 4vh;
  border-top: 1px solid rgba($dirty-blue, 0.3);
  text-align: center;

  h1 {
    margin-top: 7vh;
    margin-bottom: 3vh;
    text-align: center;

    &:first-of-type {
      margin-top: 5vh;
    }
  }

  h4 {
    margin: 4vh 0;

    a.emph {
      display: block;

      @media #{$large-up} {
        display: inline;
      }
    }
  }

  li {
    margin-bottom: 0.375rem;
  }
}

.hanno-logo {
  position: relative;
  top: -1px;
  margin-right: 0.25rem;
}