---
title: The Really Big One
---

<section>

  <div class="row">
    <div class="columns">

      <h1 style="color: orange; opacity: 0.6;">Text elements</h1>

      <br/><br/><br/>

      <div class="row">
        <div class="medium-4 columns">

          <div class="wow bounceIn" data-wow-delay="0.5s">
            <h4>Lorem Ipsum Dolor</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis hic atque fuga sunt blanditiis accusamus, facilis!</p>
          </div>

        </div>
        <div class="medium-6 columns end">

          <div class="wow fadeInUp" data-wow-delay="1s">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptate, nam est, vitae tempora deserunt sunt quis, omnis illo iusto perspiciatis. Quod vel magnam suscipit maxime repellat dolor accusamus quas.</p>
          </div>

        </div>
      </div>

      <br/><br/><br/><br/>

      <div class="row">
        <div class="medium-3 columns">

          <div class="panel wow bounceInLeft" data-wow-delay="1.5s">
            <h4>Lorem Ipsum Dolor</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis hic atque fuga sunt blanditiis accusamus, facilis!</p>
          </div>

        </div>
        <div class="medium-6 medium-offset-1 columns end">

          <div class="panel panel--large wow zoomInDown" data-wow-delay="2s">
            <h1>Lorem ipsum dolor sit amet.</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Labore voluptate, nam est, vitae tempora deserunt sunt quis, omnis illo iusto perspiciatis. Quod vel magnam suscipit maxime repellat dolor accusamus quas.</p>
          </div>

        </div>
      </div>

    </div>
  </div>

  <br/><br/><br/><br/><br/><br/>
  <hr>
  <br/><br/><br/><br/><br/><br/>

  <div class="row">
    <div class="columns">

      <h1 style="color: orange; opacity: 0.6;">Numbers</h1>

      <br/><br/><br/>

      <div class="row">
        <div class="medium-4 columns">

          <div class="fact fact--large wow fadeInDown">
            <h3>1.000.000</h3>
            <p>residential buildings</p>
          </div>

          <br/><br/><br/><br/>

          <div class="fact fact--large wow fadeInLeft">
            <h3>700</h3>
            <p>miles</p>
            <p><small>off the coast of the Pacific Northwest</small></p>
          </div>

          <br/><br/><br/><br/>

          <div class="fact fact--large wow fadeInUp">
            <h3>2/3</h3>
            <p>of all airports, hospitals, railways, and schools</p>
          </div>

          <br/><br/><br/><br/><br/><br/>

        </div>
        <div class="medium-4 columns">

          <div class="fact wow bounceInDown">
            <h3>1.000.000</h3>
            <p>residential buildings</p>
          </div>

          <br/><br/><br/><br/>

          <div class="fact wow bounceIn">
            <h3>700</h3>
            <p>miles</p>
            <p><small>off the coast of the Pacific Northwest</small></p>
          </div>

          <br/><br/><br/><br/>

          <div class="fact wow bounceInUp">
            <h3>2/3</h3>
            <p>of all airports, hospitals, railways, and schools</p>
          </div>

          <br/><br/><br/><br/><br/><br/>

        </div><div class="medium-4 columns">

          <div class="fact fact--small wow slideInRight">
            <h3>1.000.000</h3>
            <p>residential buildings</p>
          </div>

          <br/><br/><br/><br/>

          <div class="fact fact--small wow zoomIn">
            <h3>700</h3>
            <p>miles</p>
            <p><small>off the coast of the Pacific Northwest</small></p>
          </div>

          <br/><br/><br/><br/>

          <div class="fact fact--small wow slideInUp">
            <h3>2/3</h3>
            <p>of all airports, hospitals, railways, and schools</p>
          </div>

          <br/><br/><br/><br/><br/><br/>

        </div>

    </div>
  </div>

  <br/><br/><br/><br/><br/><br/>
  <hr>
  <br/><br/><br/><br/><br/><br/>

  <div class="row">
    <div class="columns">

      <h1 style="color: orange; opacity: 0.6;">Popup / popover container</h1>

      <br/><br/><br/>

      <div class="row">
        <div class="medium-4 columns">

        <span data-tooltip aria-haspopup="true" class="has-tip tip-top round" title="700 miles!">extended information</span>

        </div>
        <div class="medium-4 columns">

        <span data-tooltip aria-haspopup="true" class="has-tip tip-bottom" title="Tooltips are awesome, you should totally use them!">extended information</span>

        </div>
        <div class="medium-4 columns">

        <span data-tooltip aria-haspopup="true" class="has-tip tip-right radius" title="Tooltips are awesome, you should totally use them!">extended information</span>

        </div>
      </div>

      <br/><br/><br/>

      <div class="row">
        <div class="medium-4 columns">

          <span class="circle-container wow rollIn blue circle-container--small">
            <span class="content wow fadeIn" data-wow-delay="1s">700</span>
          </span>

        </div>
        <div class="medium-4 columns">

          <span class="circle-container wow bounceIn orange circle-container--large" data-wow-delay="0.5s">
            <span class="content wow fadeIn" data-wow-delay="1s">1.000.000 <br/> residential buildings destroyed</span>
          </span>

        </div>
        <div class="medium-4 columns">

          <span class="circle-container wow fadeIn" data-wow-delay="1s">
            <span class="content wow fadeIn" data-wow-delay="1s">88%</span>
          </span>

        </div>
      </div>

    </div>
  </div>

  <br/><br/><br/><br/><br/><br/>
  <hr>
  <br/><br/><br/><br/><br/><br/>

  <div class="row">
    <div class="columns">

      <h1 style="color: orange; opacity: 0.6;">Misc?</h1>

      <br/><br/><br/>

      <div class="row">
        <div class="medium-4 columns">

          <h4>Progress bar</h4>
          <br/>

          <div class="progress radius alert">
            <span class="meter custom-meter" style="width: 0%;"></span>
          </div>

          <button class="quake-timer radius" style="display: block; width: 250px; line-height: 1; height: 45px; margin: 0 auto; color: #fff; background: red;">Animate the bar:</button>

        </div>
        <div class="medium-5 medium-offset-2 end columns">

          <h4>Timer</h4>
          <br/>

          <h1>
            <p id="number-one">0</p>
            <p>:</p>
            <p id="number-two">00</p>
          </h1>

        </div>
      </div>

    </div>
  </div>

  <br/><br/><br/><br/><br/><br/>
  <hr>
  <br/><br/><br/><br/><br/><br/>

</section>