---
title: The Really Big One
---

<!-- Landing / Hero -->
<section class="hero">

  <a class="title-logo wow fadeInDown" href="/">

    <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="96px" viewBox="0 0 220 132.6" style="enable-background:new 0 0 220 132.6;" xml:space="preserve">
      <style type="text/css">
        .st0{fill:#FAFAFA;}
      </style>
      <g>
        <polygon class="st0" points="4,50 12,50 12,27 16,27 16,22 0,22 0,27 4,27  "/>
        <polygon class="st0" points="25,38 27,38 27,50 35,50 35,22 27,22 27,32 25,32 25,22 18,22 18,50 25,50  "/>
        <polygon class="st0" points="51,45 45,45 45,38 50,38 50,33 45,33 45,27 50,27 50,22 38,22 38,50 51,50  "/>
        <path class="st0" d="M67,27.4c2,0,2.9,0.3,3.4,1c0.4,0.6,0.6,2.3,0.6,5V50h12V36.9c0-4.1,0-6.6-0.2-7.5s-0.7-1.9-1.6-3
          c-0.9-1.1-2.6-1.9-5.2-2.6c2.9-0.3,4.8-1.1,5.8-2.4c1-1.4,1.5-4,1.5-7.9c0-4.3-0.7-7.5-2.1-9.4c-1.4-2-3.2-3-5.4-3.5
          C73.6,0.1,69.4,0,63.2,0H54v50h13V27.4z M67,8.3c2,0,2.6,0.2,3.1,0.8c0.6,0.5,0.9,1.6,0.9,3.2V15c0,2.2-0.3,3.5-0.9,4
          S69,19.5,67,19.5V8.3z"/>
        <polygon class="st0" points="111,40 102,40 102,29 110,29 110,19 102,19 102,10 110,10 110,0 88,0 88,50 111,50  "/>
        <path class="st0" d="M131.8,50h13.4l-7.5-50h-19L112,50h13.6l0.8-9h4.7L131.8,50z M126.2,32c0.3-4,1.2-11.6,2.5-21.2
          c0.7,8.4,1.3,15.2,2,21.2H126.2z"/>
        <polygon class="st0" points="169,40 161,40 161,0 147,0 147,50 169,50  "/>
        <polygon class="st0" points="185,0 172,0 172,50 193,50 193,40 185,40  "/>
        <path class="st0" d="M198,50h12V31.9L220,0h-12.1c-1.7,8-2.9,14.5-3.7,19.9C204,16.5,203,10,201.1,0H189l9,31.9V50z"/>
        <path class="st0" d="M13,83.7L32.8,68L22.7,83.7l9.5,10L46,80.5c0.1-1.1,0.2-2.2,0.2-3.5c0-6.5-1-11.3-2.9-14.2
          c-2-2.9-4.5-5.1-7.7-6.1c-3.2-1-7.9-1.7-14.1-1.7H2v76l23.9-31L13,83.7z"/>
        <path class="st0" d="M2,131h22.6c7.9,0,13.1-0.4,15.7-1.4c2.6-0.9,4.6-2.6,5.8-5c1.2-2.5,1.9-6.2,1.9-11.3v-7c0-4.9-1-8.6-2.6-10.9
          c-0.2-0.3-0.5-0.6-0.7-0.9L2,131L2,131z"/>
        <polygon class="st0" points="52,88.4 52,131 71,131 71,81.9 63.5,78.2  "/>
        <polygon class="st0" points="71,68.9 71,55 52,55 52,75.2 62.4,64.9  "/>
        <path class="st0" d="M120.2,69.7c-0.3-1.4-0.6-2.7-1-3.8c-1.2-3.3-3.6-6.1-7.4-8.4c-3.8-2.4-8.6-3.5-14.3-3.5
          c-5.8,0-10.6,1.4-14.3,4.1c-3.7,2.7-5.9,5.7-6.7,9c-0.3,1.1-0.5,2.5-0.7,4.1l29.8,13.4L120.2,69.7z"/>
        <path class="st0" d="M106.8,125.6l-19.7-22.3l9.3-9.5L75,83.8v21.3c0,5.2,0.4,9.1,0.7,11.7c0.4,2.6,1.4,5.1,2.9,7.4
          c1.5,2.4,3.7,4.3,6.6,5.9c2.9,1.6,6,2.4,9.3,2.4c2.8,0,5.2-0.6,7.2-1.7C103.8,129.7,105.5,127.9,106.8,125.6l1.8,5.4H121V90.5V86
          l-22.3,17.6L106.8,125.6z"/>
        <path class="st0" d="M154.4,60.8c-1.3-1.8-3-3.1-5.2-4c-2.2-0.9-4.6-1.3-7.3-1.3c-2.9,0-5.4,0.5-7.5,1.4c-2.1,0.9-3.8,2.3-5.1,4
          c-1.3,1.8-1.8,3.7-2.1,5.8c-0.2,2.1-0.2,5.7-0.2,10.8v8.7c0,5.2,0,8.9,0.2,10.9c0.2,2.1,1,4,2.3,5.8c1.3,1.8,3,3.1,5.2,4
          s4.6,1.3,7.3,1.3c2.9,0,5.3-0.5,7.5-1.4c2.1-0.9,3.8-2.3,5.1-4c1.3-1.8,2-3.7,2.2-5.8c0.2-2.1,0.3-5.7,0.3-10.8v-8.7
          c0-5.2-0.1-8.9-0.3-10.9C156.4,64.5,155.7,62.6,154.4,60.8z M144,92.8c0,3-0.1,4.9-0.4,5.7c-0.2,0.8-0.8,1.2-1.7,1.2
          c-0.9,0-1.4-0.3-1.6-1c-0.2-0.7-0.3-2.5-0.3-5.4V69.5c0-2.6,0.1-4.2,0.5-4.7c0.4-0.5,0.8-0.8,1.5-0.8c0.8,0,1.3,0.3,1.6,1
          c0.3,0.7,0.4,2.2,0.4,4.5V92.8z"/>
        <polygon class="st0" points="180,79.3 173,57 162,57 162,107 173,107 173,84.1 179.9,107 191,107 191,57 180,57  "/>
        <polygon class="st0" points="210,86 218,86 218,76 210,76 210,67 219,67 219,57 197,57 197,107 219,107 219,97 210,97  "/>
        <polygon class="st0" points="1.9,131 1.9,131 1.9,131  "/>
      </g>
    </svg>

  </a>


  <svg class="seismic-wave" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="100%" height="326px" viewBox="0 0 1076 228" style="enable-background:new 0 0 1076 228;" xml:space="preserve">
    <style type="text/css">
      .waves-st0{fill:#161F29;}
      .waves-st1{opacity:0.5;fill:none;stroke:#FF4D00;stroke-miterlimit:10;}
      .waves-st2{fill:#FF4D00;}
      .waves-st3{filter:url(#Adobe_OpacityMaskFilter);}
      .waves-st4{opacity:0.39;mask:url(#SVGID_1_);fill:url(#SVGID_2_);}
      .waves-st5{fill:url(#FadeOut_1_);}
    </style>
    <g id="Background">
      <rect class="waves-st0" width="1076" height="228"/>
    </g>
    <g id="Layer_2">
      <g id="Waves">
        <path id="MotionPath" fill="none" opacity="0.5" stroke="#FF4D00" stroke-width="1" d="M524,114.2 872,114.2 872,112.2 874,112.2 874,116.2 876,116.2 876,114.2 898,114.2 898,110.2
          900,110.2 900,118.2 902,118.2 902,114.2 918,114.2 918,112.2 920,112.2 920,116.2 922,116.2 922,110.2 924,110.2 924,118.2
          926,118.2 926,114.2 940,114.2 940,112.2 942,112.2 942,116.2 944,116.2 944,112.2 946,112.2 946,114.2 956,114.2 956,112.2
          958,112.2 958,116.2 960,116.2 960,114.2 960,110.2 962,110.2 962,118.2 964,118.2 964,114.2 964,112.2 966,112.2 966,116.2
          968,116.2 968,114.2 974,114.2 974,112.2 976,112.2 976,116.2 978,116.2 978,114.2 978,110.2 980,110.2 980,118.2 982,118.2
          982,108.2 984,108.2 984,120.2 986,120.2 986,100.2 988,100.2 988,142.2 990,142.2 990,86.2 992,86.2 992,146.2 994,146.2
          994,82.2 996,82.2 996,150.2 998,150.2 998,78.2 1000,78.2 1000,134.2 1002,134.2 1002,96.2 1004,96.2 1004,132.2 1006,132.2
          1006,104.2 1008,104.2 1008,124.2 1010,124.2 1010,110.2 1012,110.2 1012,118.2 1014,118.2 1014,114.2 1020,114.2 1026,114.2
          1026,110.2 1028,110.2 1028,118.2 1030,118.2 1030,112.2 1032,112.2 1032,116.2 1034,116.2 1034,114.2 1044,114.2 1044,104.2
          1046,104.2 1046,126.2 1048,126.2 1048,76.2 1050,76.2 1050,152.2 1052,152.2 1052,72.2 1052,60.2 1054,60.2 1054,168.2
          1056,168.2 1056,40.2 1058,40.2 1058,188.2 1060,188.2 1060,32.2 1062,32.2 1062,196.2 1064,196.2 1064,54.2 1066,54.2
          1066,176.2 1068,176.2 1068,68.2 1070,68.2 1070,164.2 1072,164.2 1072,72.2 1074,72.2 1074,160.2 1076,160.2 1076,88.2
          1078,88.2 1078,136.2 1080,136.2 1080,102.2 1082,102.2 1082,124.2 1084,124.2 1084,110.2 1086,110.2 1086,118.2 1088,118.2
          1088,114.2 1104,114.2 1104,110.2 1106,110.2 1106,118.2 1108,118.2 1108,112.2 1110,112.2 1110,116.2 1112,116.2 1112,106.2
          1114,106.2 1114,124.2 1116,124.2 1116,96.2 1118,96.2 1118,134.2 1120,134.2 1120,92.2 1122,92.2 1122,138.2 1124,138.2
          1124,108.2 1126,108.2 1126,122.2 1128,122.2 1128,110.2 1130,110.2 1130,120.2 1132,120.2 1132,112.2 1134,112.2 1134,118.2
          1136,118.2 1136,114.2 1140,114.2 1140,110.2 1142,110.2 1142,118.2 1144,118.2 1144,114.2 1150,114.2 1150,112.2 1152,112.2
          1152,116.2 1154,116.2 1154,114.2 1160,114.2 1160,108.2 1162,108.2 1162,122.2 1164,122.2 1164,100.2 1166,100.2 1166,130.2
          1168,130.2 1168,94.2 1170,94.2 1170,136.2 1172,136.2 1172,108.2 1174,108.2 1174,122.2 1176,122.2 1176,114.2 1188,114.2
          1188,112.2 1190,112.2 1190,116.2 1192,116.2 1192,114.2 1220,114.2 1220,110.2 1222,110.2 1222,118.2 1224,118.2 1224,108.2
          1226,108.2 1226,120.2 1228,120.2 1228,114.2 1620,114.2"/>
        <polyline class="waves-st1" points="-552,114.2 -204,114.2 -204,112.2 -202,112.2 -202,116.2 -200,116.2 -200,114.2 -178,114.2
          -178,110.2 -176,110.2 -176,118.2 -174,118.2 -174,114.2 -158,114.2 -158,112.2 -156,112.2 -156,116.2 -154,116.2 -154,110.2
          -152,110.2 -152,118.2 -150,118.2 -150,114.2 -136,114.2 -136,112.2 -134,112.2 -134,116.2 -132,116.2 -132,112.2 -130,112.2
          -130,114.2 -120,114.2 -120,112.2 -118,112.2 -118,116.2 -116,116.2 -116,114.2 -116,110.2 -114,110.2 -114,118.2 -112,118.2
          -112,114.2 -112,112.2 -110,112.2 -110,116.2 -108,116.2 -108,114.2 -102,114.2 -102,112.2 -100,112.2 -100,116.2 -98,116.2
          -98,114.2 -98,110.2 -96,110.2 -96,118.2 -94,118.2 -94,108.2 -92,108.2 -92,120.2 -90,120.2 -90,100.2 -88,100.2 -88,142.2
          -86,142.2 -86,86.2 -84,86.2 -84,146.2 -82,146.2 -82,82.2 -80,82.2 -80,150.2 -78,150.2 -78,78.2 -76,78.2 -76,134.2 -74,134.2
          -74,96.2 -72,96.2 -72,132.2 -70,132.2 -70,104.2 -68,104.2 -68,124.2 -66,124.2 -66,110.2 -64,110.2 -64,118.2 -62,118.2
          -62,114.2 -56,114.2 -50,114.2 -50,110.2 -48,110.2 -48,118.2 -46,118.2 -46,112.2 -44,112.2 -44,116.2 -42,116.2 -42,114.2
          -32,114.2 -32,104.2 -30,104.2 -30,126.2 -28,126.2 -28,76.2 -26,76.2 -26,152.2 -24,152.2 -24,72.2 -24,60.2 -22,60.2 -22,168.2
          -20,168.2 -20,40.2 -18,40.2 -18,188.2 -16,188.2 -16,32.2 -14,32.2 -14,196.2 -12,196.2 -12,54.2 -10,54.2 -10,176.2 -8,176.2
          -8,68.2 -6,68.2 -6,164.2 -4,164.2 -4,72.2 -2,72.2 -2,160.2 0,160.2 0,88.2 2,88.2 2,136.2 4,136.2 4,102.2 6,102.2 6,124.2
          8,124.2 8,110.2 10,110.2 10,118.2 12,118.2 12,114.2 28,114.2 28,110.2 30,110.2 30,118.2 32,118.2 32,112.2 34,112.2 34,116.2
          36,116.2 36,106.2 38,106.2 38,124.2 40,124.2 40,96.2 42,96.2 42,134.2 44,134.2 44,92.2 46,92.2 46,138.2 48,138.2 48,108.2
          50,108.2 50,122.2 52,122.2 52,110.2 54,110.2 54,120.2 56,120.2 56,112.2 58,112.2 58,118.2 60,118.2 60,114.2 64,114.2
          64,110.2 66,110.2 66,118.2 68,118.2 68,114.2 74,114.2 74,112.2 76,112.2 76,116.2 78,116.2 78,114.2 84,114.2 84,108.2
          86,108.2 86,122.2 88,122.2 88,100.2 90,100.2 90,130.2 92,130.2 92,94.2 94,94.2 94,136.2 96,136.2 96,108.2 98,108.2 98,122.2
          100,122.2 100,114.2 112,114.2 112,112.2 114,112.2 114,116.2 116,116.2 116,114.2 144,114.2 144,110.2 146,110.2 146,118.2
          148,118.2 148,108.2 150,108.2 150,120.2 152,120.2 152,114.2 524,114.2     "/>

          <animateTransform attributeName="transform"
            type="translate"
            values="0 0;-1076 0"
            begin="0"
            dur="7"
            repeatCount="indefinite"
            />
      </g>
      <rect id="Offset" x="538" class="waves-st0" width="538" height="228" opacity="1"/>

        <circle class="waves-st2" cx="538" cy="114" r="2">
        <animateTransform attributeName="transform"
          type="translate"
          begin="0"
          dur="7"
          values="0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 -4;0 4;0 -4;0 4;0 0;0 0;0 -4;0 4;0 -20;0 20;0 0;0 -5;0 5;0 -50;0 50;0 0;0 0;0 -20;0 20;0 0;0 -4;0 4;0 -4;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0;0 0"
          repeatCount="indefinite"
          />
        </circle>

      <linearGradient id="FadeOut_1_" gradientUnits="userSpaceOnUse" x1="188.3333" y1="114" x2="315.0439" y2="114">
        <stop  offset="0" style="stop-color:#161F29"/>
        <stop  offset="1" style="stop-color:#161F29;stop-opacity:0"/>
      </linearGradient>
      <rect id="FadeOut" class="waves-st5" ry="-2" width="320" height="228"/>
    </g>
  </svg>

  <div class="row">
    <div class="columns medium-10 medium-centered text-center">

      <h1 class="wow fadeIn">An <strong>earthquake will destroy</strong> a sizable portion of the <strong>Pacific Northwest</strong>.</h1>

      <p class="wow fadeIn">It’s not a question of if, but when.</p>

      <a class="scroll-hint wow fadeIn" href="#subduction"><span class="blink">&darr;</span></a>

    </div>
  </div>

</section>


<!-- Meet Cascadia -->
<section id="subduction" class="subduction">

  <div class="row">
    <div class="medium-8 medium-centered large-5 large-uncentered columns">

      <h1 class="wow fadeIn">
        <small class="subtitle">Meet The</small>
        Cascadia
        <small class="subtitle subtitle--bottom">Subduction Zone</small>
      </h1>

      <object class="hide-for-large-up wow fadeIn" data="/media/subduction-zone.svg" type="image/svg+xml" width="100%"></object>

      <div class="wow fadeIn">
        <p>You might think that San Andreas is the only thing we have to worry about. You’d be wrong: There’s a 700 mile fault line stretching from Vancouver to Northern California off the Pacific coast.</p>

        <p><strong>Cascadia has the potential to create <span class="emph">30 times</span> the energy of the San Andreas fault.</strong></p>
      </div>

    </div>
    <div class="large-7 columns show-for-large-up text-right">

      <object class="wow fadeInUp" data="/media/subduction-zone.svg" type="image/svg+xml" width="780"></object>

    </div>
  </div>

</section>


<!-- Another Disaster -->
<section id="prediction" class="prediction prediction--chance">

  <div class="row">
    <div class="medium-10 columns medium-centered text-center wow fadeInUp">

      <p>Scientists are telling us that Cascadia is about to rupture and unleash a devastating earthquake.</p>
      <h1>A megaquake in the next 50 years is a serious risk</h1>

    </div>
  </div>

  <div class="row text-center">
    <div class="medium-8 medium-centered large-6 columns">

      <ul class="block-grid small-block-grid-2">
        <li>
          <h3 class="fact-badge wow bounceIn">1 in 3</h3>
          <p class="wow fadeInUp">Chance of a <span class="emph emph--block">magnitude 8.5+</span> earthquake</p>
        </li>
        <li>
          <h3 class="fact-badge wow bounceIn">1 in 10</h3>
          <p class="wow fadeInUp">Chance of a <span class="emph emph--block">magnitude 9+</span> earthquake</p>
        </li>
      </ul>

    </div>
  </div>

</section>


<!-- Japan -->
<section id="js-japan" class="japan text-center">

  <div class="row japan__polaroids">
    <div class="columns medium-4 small-12">

      <a class="wow fadeInx rollIn">
        <img alt="Japan 2011, fire at the nuclear plant, where a 9.0 mangitude earthquake caused meltdown" src="/media/japan/japan-1.jpg" width="244">
      </a>

      <a class="wow fadeInx rollIn">
        <img alt="Japan 2011, large ships washed up in the city, wrecked by a devastating tsunami" src="/media/japan/japan-2.jpg" width="244">
      </a>

      <a class="wow fadeInx rollIn">
        <img alt="Japan 2011, man walking amongst what’s left of the city after the horrific natural disaster" src="/media/japan/japan-3.jpg" width="244">
      </a>

    </div>
    <div class="columns medium-5 medium-offset-3 large-5 large-offset-2 left">

      <h1 class="wow fadeInUp">
        <small class="hide-for-smallx">Okay, so let’s put that into context...</small>
        Remember Japan<br>in 2011?
      </h1>

      <div class="row">
        <div class="medium-11 medium-centered large-8 columns">

          <p class="wow fadeInUp">That quake was of magnitude <span class="emph">9.0</span> and unleashed a devastating tsunami.</p>

          <p class="wow fadeInUp">We’re at real risk of an even more powerful quake from Cascadia.</p>

        </div>
      </div>

    </div>
  </div>

</section>


<!-- What’s going to happen -->
<section class="prediction prediction--scenario">

  <div class="row text-center">
    <div class="columns">

      <h1 class="wow fadeIn" data-wow-duration="1.25s">
        <small>The region will suffer</small>
        the worst natural disaster
        <small>in the history of North America</small>
      </h1>

      <ul class="block-grid medium-block-grid-3">

        <li>
          <object class="large-icon wow bounceIn" data="/media/icons/scenario-eq.svg" type="image/svg+xml" width="165"></object>

          <div class="wow fadeInUp">
            <span class="emph">A huge earthquake</span>
            <p>will last for 4 minutes or longer</p>
          </div>
        </li>

        <li>
          <object class="large-icon wow bounceIn" data="/media/icons/scenario-tsunami.svg" type="image/svg+xml" width="165"></object>

          <div class="wow fadeInUp">
            <span class="emph">A devastating tsunami</span>
            <p>will reach the continent 15 minutes after the shaking has stopped</p>
          </div>
        </li>

        <li>
          <object class="large-icon wow bounceIn" data="/media/icons/scenario-aftershock.svg" type="image/svg+xml" width="165"></object>

          <div class="wow fadeInUp">
            <span class="emph">Aftershocks</span>
            <p>will follow hard on the heels of the main shock</p>
          </div>
        </li>

      </ul>

      <h3 class="wow fadeIn">The following information may save your life.</h3>

    </div>
  </div>

</section>


<!-- The Journey -->
<section id="js-cascadia-journey" class="cascadia-journey">

  <!-- cities trigger points -->
  <div class="cities-trigger cities-trigger--vancouver js-cities-trigger-vancouver hide-for-small"></div>
  <div class="cities-trigger cities-trigger--seattle js-cities-trigger-seattle hide-for-small"></div>
  <div class="cities-trigger cities-trigger--olympia js-cities-trigger-olympia hide-for-small"></div>
  <div class="cities-trigger cities-trigger--portland js-cities-trigger-portland hide-for-small"></div>
  <div class="cities-trigger cities-trigger--salem js-cities-trigger-salem js-facts hide-for-small"></div>
  <div class="cities-trigger cities-trigger--eugene js-cities-trigger-eugene hide-for-small"></div>
  <div class="cities-trigger cities-trigger--grantspass js-cities-trigger-grantspass hide-for-small"></div>
  <div class="cities-trigger cities-trigger--redding js-cities-trigger-redding hide-for-small"></div>

  <!-- Cities animations -->
  <!-- Hiding this on small for performance's sake -->
  <div class="hide-for-small">

    <div class="cities cities--vancouver js-cities-vancouver">
      <object data="/media/cities/trbo-map-vancouver.svg" type="image/svg+xml"></object>
    </div>

    <div class="cities cities--seattle js-cities-seattle">
      <object data="/media/cities/trbo-map-seattle.svg" type="image/svg+xml"></object>
    </div>

    <div class="cities cities--olympia js-cities-olympia">
      <object data="/media/cities/trbo-map-olympia.svg" type="image/svg+xml"></object>
    </div>

    <div class="cities cities--portland js-cities-portland">
      <object data="/media/cities/trbo-map-portland.svg" type="image/svg+xml"></object>
    </div>

    <div class="cities cities--salem js-cities-salem">
      <object data="/media/cities/trbo-map-salem.svg" type="image/svg+xml"></object>
    </div>

    <div class="cities cities--eugene js-cities-eugene">
      <object data="/media/cities/trbo-map-eugene.svg" type="image/svg+xml"></object>
    </div>

    <div class="cities cities--grantspass js-cities-grantspass">
      <object data="/media/cities/trbo-map-grantspass.svg" type="image/svg+xml"></object>
    </div>

    <div class="cities cities--redding js-cities-redding">
      <object data="/media/cities/trbo-map-redding.svg" type="image/svg+xml"></object>
    </div>

  </div>

  <!-- Tsunami trigger points -->
  <!-- Hiding this on small for performance's sake -->
  <div class="hide-for-small">

    <div class="tsunamis-trigger tsunamis-trigger--wave-1 js-tsunamis-trigger-wave-1"></div>
    <div class="tsunamis-trigger tsunamis-trigger--wave-2 js-tsunamis-trigger-wave-2"></div>
    <div class="tsunamis-trigger tsunamis-trigger--wave-3 js-tsunamis-trigger-wave-3"></div>
    <div class="tsunamis-trigger tsunamis-trigger--wave-4 js-tsunamis-trigger-wave-4"></div>
    <div class="tsunamis-trigger tsunamis-trigger--wave-5 js-tsunamis-trigger-wave-5"></div>
    <div class="tsunamis-trigger tsunamis-trigger--wave-6 js-tsunamis-trigger-wave-6"></div>
    <div class="tsunamis-trigger tsunamis-trigger--wave-7 js-tsunamis-trigger-wave-7"></div>

  </div>

  <!-- Tsunami animations -->
  <!-- Hiding this on small for performance's sake -->

  <div class="hide-for-small">

    <div class="tsunamis js-tsunamis-wave-1">
      <object data="/media/tsunamis/trbo-map-wave-1.svg" type="image/svg+xml"></object>
    </div>

    <div class="tsunamis js-tsunamis-wave-2">
      <object data="/media/tsunamis/trbo-map-wave-2.svg" type="image/svg+xml"></object>
    </div>

    <div class="tsunamis js-tsunamis-wave-3">
      <object data="/media/tsunamis/trbo-map-wave-3.svg" type="image/svg+xml"></object>
    </div>

    <div class="tsunamis js-tsunamis-wave-4">
      <object data="/media/tsunamis/trbo-map-wave-4.svg" type="image/svg+xml"></object>
    </div>

    <div class="tsunamis js-tsunamis-wave-5">
      <object data="/media/tsunamis/trbo-map-wave-5.svg" type="image/svg+xml"></object>
    </div>

    <div class="tsunamis js-tsunamis-wave-6">
      <object data="/media/tsunamis/trbo-map-wave-6.svg" type="image/svg+xml"></object>
    </div>

    <div class="tsunamis js-tsunamis-wave-7">
      <object data="/media/tsunamis/trbo-map-wave-7.svg" type="image/svg+xml"></object>
    </div>

  </div>


  <!-- Journey background image -->
  <object class="cascadia-journey__background hide-for-small" data="/media/map/trbo-map-base.svg" type="image/svg+xml"></object>

  <!-- Journey background image - mobile -->
  <img class="cascadia-journey__background cascadia-journey__background--mobile show-for-small" src="/media/map/trbo-map-full-mobile.jpg">

  <!-- Fade out the Journey background image at the bottom -->
  <div class="cascadia-journey__fade-out"></div>

  <!-- Helicopter -->
  <!-- Hiding this on small for performance's sake -->
  <div class="helicopter">
    <object data="/media/map/helicopter-no-blades.svg" type="image/svg+xml"></object>
    <img class="helicopter-blades" src="/media/map/helicopter-blades.png">
  </div>

  <!-- Journey Content -->
  <div class="cascadia-journey__content cascadia-journey__quake">

    <div class="row">

      <div class="small-10 large-7 large-offset-1 columns">

        <div class="wow fadeIn hide-for-small">

          <div class="row">
            <div class="medium-2 columns">
              <object class="small-icon wow bounceIn" data="/media/icons/quake-dogs.svg" type="image/svg+xml" width="100"></object>
            </div>
            <div class="medium-10 columns">
              <p>Animals are able to sense the seismic waves before humans do. If you hear dogs starting to bark unusually loudly and intensely, <strong>take immediate action</strong>...</p>
            </div>
          </div>

        </div>

        <div class="wow fadeIn">

          <h1><object class="large-icon" data="/media/icons/location-indoors.svg" type="image/svg+xml"></object> Indoors</h1>

          <div class="row icon-grid text-center">
            <div class="columns small-4 medium-3">
              <object class="xsmall-icon wow bounceIn" data="/media/icons/quake-drop.svg" type="image/svg+xml"></object>
              <span class="emph emph--block">Drop</span>
            </div>
            <div class="columns small-4 medium-3">
              <object class="xsmall-icon wow bounceIn" data="/media/icons/quake-cover.svg" type="image/svg+xml"></object>
              <span class="emph emph--block">Cover</span>
            </div>
            <div class="columns small-4 medium-3 end">
              <object class="xsmall-icon wow bounceIn" data="/media/icons/quake-hold.svg" type="image/svg+xml"></object>
              <span class="emph emph--block">Hold On</span>
            </div>
          </div>

          <p><em class="emph--basic">Don’t rush to the exit!</em> Hide under a sturdy table, cover your head &amp; neck and wait until the shaking stops.</p>
          <p>If there’s no table nearby, go to an interior wall, the corner of the room, or lie down alongside a couch.</p>

        </div>

        <div class="wow fadeIn">

          <h1><object class="large-icon" data="/media/icons/location-city.svg" type="image/svg+xml"></object> In the city</h1>

          <ul class="block-grid medium-block-grid-2">
            <li><em class="emph--basic">Move to an open area</em>, well away from buildings, streetlights and utility wires.</li>
            <li><em class="emph--basic">If you’re in a densely built area</em>, shelter inside the lobby of the nearest building.</li>
            <li><em class="emph--basic">If you’re in a car</em>, stop and set the parking brake. Stay in the car until shaking stops.</li>
            <li><em class="emph--basic">Avoid danger zones</em>: bridges, underpasses and parking garages.</li>
          </ul>

        </div>

        <div class="wow fadeIn">

          <h1><object class="large-icon" data="/media/icons/location-outdoors.svg" type="image/svg+xml"></object> Outdoors</h1>

          <ul class="block-grid medium-block-grid-2">
            <li><em class="emph--basic">Stay away from riverbeds</em>: they carry a lot of debris and you’ll be vulnerable to surges of water and mud.</li>
            <li><em class="emph--basic">To avoid landslides</em>, move away from cliffs and steep embankments.</li>
          </ul>

        </div>

        <div class="wow fadeIn">

          <h1><object class="large-icon" data="/media/icons/location-coast.svg" type="image/svg+xml"></object> At the coast</h1>

          <p><span class="emph">Flee to high ground as quickly as possible</span></p>

          <p>Once the shaking stops, you’ll have only <span class="emph">15 minutes</span> before the tsunami hits the shore. Move fast!</p>

          <p class="wow fadeIn">The closer to high tide the quake strikes, the further inland the waves will travel: up to <span class="emph">3 miles</span> in some parts.</p>

          <p class="wow fadeIn">Waves will be as high as <span class="emph">30-40 feet</span> and we can expect <span class="emph">multiple waves</span> to strike over a period of several hours.</p>
        </div>

      </div>

      <div class="small-10 medium-9 medium-uncentered large-7 large-offset-1 left columns">

        <div class="wow fadeIn text-center aftermath">

          <h1>The Aftermath</h1>

          <p>By the time the shaking has ceased and the tsunami has receded, the region will be unrecognizable. The human toll will be astronomical:</p>

          <ul class="block-grid small-block-grid-2 block-grid--facts">

            <li class="text-center">
              <object class="large-icon wow bounceIn" data="/media/icons/stats-rip.svg" type="image/svg+xml"></object>
              <h3 class="fact fact--large">
                <span class="js-quake-dead hide-for-small">0</span>
                <span class="show-for-small">13,000</span>
              </h3>
              <span class="emph">dead</span>
            </li>

            <li class="text-center">
              <object class="large-icon wow bounceIn" data="/media/icons/stats-injuries.svg" type="image/svg+xml"></object>
              <h3 class="fact fact--large">
                <span class="js-quake-injured hide-for-small">0</span>
                <span class="show-for-small">27,000</span>
              </h3>
              <span class="emph">injured</span>
            </li>

            <li class="text-center">
              <br/>
              <object class="small-icon wow bounceIn" data="/media/icons/stats-homes.svg" type="image/svg+xml"></object>
              <h3 class="fact fact--small">
                <span class="js-quake-misplaced hide-for-small">0</span>
                <span class="show-for-small">1,000,000</span>
              </h3>
              <span class="emph">misplaced</span>
            </li>

            <li class="text-center">
              <br/>
              <object class="small-icon wow bounceIn" data="/media/icons/stats-supplies.svg" type="image/svg+xml"></object>
              <h3 class="fact fact--small">
                <span class="js-quake-nowater hide-for-small">0</span>
                <span class="show-for-small">2,500,000</span>
              </h3>
              <span class="emph">with no access<br/> to food or water</span>
            </li>

          </ul>

        </div>

        <blockquote class="text-center wow fadeIn">

          <!-- &ldquo; --> Our operating assumption is that everything west of Interstate 5 will be toast <!-- &rdquo; -->

          <cite class="wow fadeIn">
            Kenneth Murphy, <a href="http://www.fema.gov/" title="Federal Emergency Management Agency" target="_blank">FEMA</a> Region X director
          </cite>

        </blockquote>

        <div class="wow fadeIn text-center">
          <p>Huge damage or destruction is expected to property and utilities all across the region:</p>

          <ul class="block-grid small-block-grid-2 block-grid--facts">
            <li>
              <div class="pie"><span>88%</span></div>
              <p>of all ports and potable water sources</p>
            </li>
            <li>
              <div class="pie"><span>77%</span></div>
              <p>of all fire stations and <!-- waste- -->water treatment plants</p>
            </li>
            <li>
              <div class="pie"><span>66%</span></div>
              <p>of all airports, railways, hospitals, and schools</p>
            </li>
            <li>
              <div class="pie"><span>50%</span></div>
              <p>of all highway bridges, police stations and emergency command centers</p>
            </li>
          </ul>

          <ul class="block-grid small-block-grid-2 block-grid--facts">
            <!-- <li>
              <span class="fact-badge">3,000 miles</span>
              <p>of natural gas pipelines</p>
            </li>
            <li>
              <span class="fact-badge">743</span>
              <p>electric power facilities</p>
            </li> -->
            <li>
              <span class="fact-badge">1,000,000</span>
              <p>residential buildings</p>
            </li>
            <li>
              <span class="fact-badge">$70 billion</span>
              <p>in damage!</p>
            </li>
          </ul>

        </div>

        <div class="wow fadeIn text-center hide-for-small">
          <p>These estimates are based on <a href="http://www.fema.gov/" title="Federal Emergency Management Agency" target="_blank">FEMA’s</a> official planning scenario, which has the earthquake striking in the morning of a winter day. If it strikes in the summer instead (when the beaches will be full), those numbers could be off by a horrifying margin.</p>
        </div>

      </div>
    </div>

  </div>

</section>


<!-- Let’s prepare! -->
<section class="preparedness">

  <div class="row">
    <div class="columns">

      <div class="wow fadeIn text-center">

        <h1>Let’s Get Prepared &amp; Protected</h1>
        <p>The disaster is unavoidable, but it doesn’t take much to get prepared. Here’s what you need to do...</p>

      </div>

      <div id="js-risk" class="at-risk wow fadeIn">

        <h1><span>1</span> Check to see if you’re in the danger zone</h1>

        <div class="row at-risk__cta">
          <div class="medium-5 large-3 columns">

            <p class="js-animate-risk wow fadeIn text-center">
              <button class="button large button--risk js-button-risk">
                Am I at risk?
                <br/><span class="loading js-loading">Checking your location...</span>
              </button>
            </p>

          </div>
          <div class="medium-7 large-9 columns">

            <p class="at-risk__cta__disclaimer">If you’re at home in the Pacific Northwest right now, click here to allow us to check your location.</p>

            <div class="alert-box alert-box--risk alert-box--danger js-alert-box-danger">

              <div class="row">
                <div class="large-3 columns show-for-large-up text-left">
                  <object class="large-icon area-affected" data="/media/icons/area-affected.svg" type="image/svg+xml"></object>
                </div>
                <div class="large-9 columns">
                  <object class="large-icon area-affected hide-for-large-up" data="/media/icons/area-affected.svg" type="image/svg+xml"></object>
                  <h2>You’re in the affected area</h2>
                  <p>It’s super important for you to pay attention to the following information: it might save the lives of you and your family.</p>
                </div>
              </div>

            </div>

            <div class="alert-box alert-box--risk alert-box--safe js-alert-box-safe">

              <div class="row">
                <div class="large-3 columns show-for-large-up text-left">
                  <object class="large-icon area-safe" data="/media/icons/area-safe.svg" type="image/svg+xml"></object>
                </div>
                <div class="large-9 columns">
                  <object class="large-icon area-safe hide-for-large-up" data="/media/icons/area-safe.svg" type="image/svg+xml"></object>
                  <h2>You’re not in the affected area.</h2>
                  <p>Phew! It looks like you’re outside the risk zone. But please share this information with people you know who live in Pacific Northwest!</p>
                </div>
              </div>

            </div>

          </div>
        </div>

      </div>

      <div class="wow fadeIn">

        <h1><span>2</span> Secure your home</h1>

        <p class="emph--basic">Don’t let your home become your enemy! A few simple changes can make a huge difference:</p>

        <ul class="block-grid medium-block-grid-2 large-block-grid-3 block-grid--tips text-left">
          <li>Bolt your house to its foundation and heavy furniture (like bookcases) to the walls and floor.</li>
          <li>Secure dangerous equipment like your water heater. Turn off utilities when not in use.</li>
          <li>Keep beds, couches and tables away from windows.</li>
          <li>Remove heavy, sharp objects from the walls. Secure mirrors.</li>
          <li>Store your alchohol and bottles below waist level. Install latches on your cupboard doors.</li>
          <li>Have a fire extinguisher (or five) handy.</li>
        </ul>

      </div>

      <div class="checklist wow fadeIn">

        <h1><span>3</span> Prepare an emergency kit</h1>

        <p class="emph--basic">Put together a kit to help you get out of trouble: and store it somewhere you can grab it in a hurry:</p>

        <ul class="block-grid small-block-grid-2 medium-block-grid-3">
          <li>
            <img class="xsmall-icon" src="/media/icons/checklist/emergency-info.svg" onerror="this.onerror=null; this.src='/media/icons/checklist/emergency-info.gif'">
            Emergency-contact information
          </li>
          <li>
            <img class="xsmall-icon" src="/media/icons/checklist/copies.svg" onerror="this.onerror=null; this.src='/media/icons/checklist/copies.gif'">
            Copies of important documents <small class="show-for-medium-up">(birth certificates, passports, driver’s licenses and wills)</small>
          </li>
          <li>
            <img class="xsmall-icon" src="/media/icons/checklist/cash.svg" onerror="this.onerror=null; this.src='/media/icons/checklist/cash.gif'">
            Cash <small class="show-for-medium-up">(A.T.M.s won’t work after the quake)</small>
          </li>
          <li>
            <img class="xsmall-icon" src="/media/icons/checklist/drugs.svg" onerror="this.onerror=null; this.src='/media/icons/checklist/drugs.gif'">
            Prescription drugs <small class="show-for-medium-up">(these expire, so, as with food, you’ll have to periodically replace them)</small>
          </li>
          <li>
            <img class="xsmall-icon" src="/media/icons/checklist/flashlight.svg" onerror="this.onerror=null; this.src='/media/icons/checklist/flashlight.gif'">
            Flashlights and extra batteries
          </li>
          <li>
            <img class="xsmall-icon" src="/media/icons/checklist/glasses.svg" onerror="this.onerror=null; this.src='/media/icons/checklist/glasses.gif'">
            Spare eyeglasses
          </li>
          <li>
            <img class="xsmall-icon" src="/media/icons/checklist/whistle.svg" onerror="this.onerror=null; this.src='/media/icons/checklist/whistle.gif'">
            A whistle <small class="show-for-medium-up">Attach one to your key chain, too, in case you wind up trapped somewhere</small>
          </li>
          <li>
            <img class="xsmall-icon" src="/media/icons/checklist/first-aid.svg" onerror="this.onerror=null; this.src='/media/icons/checklist/first-aid.gif'">
            Basic first-aid supplies
          </li>
          <li>
            <img class="xsmall-icon" src="/media/icons/checklist/clothes.svg" onerror="this.onerror=null; this.src='/media/icons/checklist/clothes.gif'">
            Warm clothing, sturdy shoes
          </li>
          <li>
            <img class="xsmall-icon" src="/media/icons/checklist/waterproof.svg" onerror="this.onerror=null; this.src='/media/icons/checklist/waterproof.gif'">
            Rain gear, sleeping bags, a tent
          </li>
          <li>
            <img class="xsmall-icon" src="/media/icons/checklist/food.svg" onerror="this.onerror=null; this.src='/media/icons/checklist/food.gif'">
            Water, food for 2&ndash;3 weeks
          </li>
          <li>
            <img class="xsmall-icon" src="/media/icons/checklist/water-tablets.svg" onerror="this.onerror=null; this.src='/media/icons/checklist/water-tablets.gif'">
            Water-purification tablets <small class="show-for-medium-up">Or a back-country filtering device. Both are helpful if water supplies become contaminated</small>
          </li>
        </ul>

      </div>

      <div class="wowUp fadeIn">

        <h1><span>4</span> Make an emergency plan for your family</h1>

        <p>Refer to <a href="http://www.ready.gov/evacuating-yourself-and-your-family" target="_blank">Evacuation Guidelines</a> and create a <a href="http://www.ready.gov/make-a-plan" target="_blank">Family Emergency Plan</a> for yourself.</p>

      </div>

      <div class="wow fadeIn">

        <h1><span>5</span> Demand better seismic safety</h1>

        <p class="emph--basic">No amount of individual preparedness can keep you safe if the bridge you’re on collapses.</p>

        <div class="row">
          <div class="medium-10 medium-centered large-8 columns">

            <p>If you’re alarmed by seismic issues that exceed your own capacity to solve them, find the person who should be handling it and make some noise.</p>

          </div>
        </div>

      </div>

      <div class="wow fadeIn">

        <h1><span>6</span> Share this website</h1>

        <div class="row">
          <div class="medium-10 medium-centered large-8 columns">

            <p>Very few things on the internet are as important as the information that’s on this page. Help us to spread the word and save lives.</p>

          </div>
        </div>

        <div class="row preparedness__sharing">

          <div class="medium-4 columns">
            <a href="TODO: twitter share link" class="button button--twitter wow zoomIn" target="_blank">
              <object data="/media/icons/media-twitter.svg" type="image/svg+xml"></object>
              Tweet This
            </a>
          </div>
          <div class="medium-4 columns">
            <a href="TODO facebook share link" class="button button--facebook wow zoomIn" target="_blank">
              <object data="/media/icons/media-facebook.svg" type="image/svg+xml"></object>
              FB Share This
            </a>
          </div>
          <div class="medium-4 columns">
            <a href="TODO email forward link" class="button button--email wow zoomIn" target="_blank">
              <object data="/media/icons/media-email.svg" type="image/svg+xml"></object>
              Email This
            </a>
          </div>

        </div>

      </div>

    </div>
  </div>

</section>


<footer class="wow fadeIn">

  <div class="row footer-letter">
    <div class="medium-10 medium-centered columns">

      <p>If you’ve scrolled this far, you now have <strong>concrete information</strong> that can save lifes. Your life, your loved ones’, or perhaps someone across the internet with whom you will share this website.</p>

      <p>This brochure is heavily inspired by an article titled “The really big one”, written by Kathryn Schulz. With more than <span class="emph">6,000</span> words, it covers in great detail the history of earthquakes in the region and what we can expect in the future. I recommend you read it.</p>

      <p>This project was about taking a great sum of knowledge and <strong>compressing</strong> it into a digital form that’s succinct, memorable, actionable and interactive. To do so we highlight numbers and figures that are impactful and narrate a story you can swipe and digest at your own pace.</p>

      <p>I believe the hyperlink is one of the greatest inventions of our time. To inform someone, just let them know about <a href="http://thereallybig.one" target="_blank">thereallybig dot one</a>. This website can be downloaded, reverse-engineered, indexed, extended and shared. It’s <a href="https://github.com/rauchg/thereallybigone" target="_blank">open source</a>, which means it can also be freely modified, improved, translated or even give life to something entirely new.</p>

      <p class="text-right">
        <strong>-</strong><br>
        <strong>Guillermo Rauch</strong><br>
        <a class="emph--basic sign-handle" href="https://twitter.com/rauchg" target="_blank">
          <img src="/media/icons/twitter.svg"> @rauchg
        </a>
      </p>
  </div>
</div>
  <div class="row">
    <div class="medium-10 medium-centered columns">


      <div class="text-left small-footer">
        <p>
          The site, illustrations and scripts were built by
          <a class="emph" href="https://hanno.co" target="_blank"><img class="hanno-logo" src="/media/hanno-logo.svg" onerror="this.onerror=null; this.src='/media/hanno-logo.gif'" width="30">Hanno</a>
        </p>

        <p>This site is unaffiliated with but heavily inspired by the <a href="http://www.newyorker.com/magazine/2015/07/20/the-really-big-one" target="_blank">New Yorker article</a> which gained popularity last summer. The <a href="http://www.newyorker.com/tech/elements/how-to-stay-safe-when-the-big-one-comes" target="_blank">follow-up</a> article (which includes safety tips) is also worth reading. Both articles authored by Kathryn Schulz. This site is using excerpts from Kathryn's amazingly written articles, either straight up unedited or adapted to fit the narrative.</p>

        <p>Photos of the Japan 2011 disaster are &copy; copyright <a href="https://www.flickr.com/photos/dugspr/" target="_blank">Douglas Sprott</a>. Used under Creative Commons Attribution-NonCommercial 2.0 Generic <a href="https://creativecommons.org/licenses/by-nc/2.0/" target="_blank">(CC BY-NC 2.0)</a> license, adapted to fit the polaroid image format. <a href="https://flic.kr/p/9s4zXS" target="_blank">Nuclear plant fire photo</a>, <a href="https://flic.kr/p/9th8uF" target="_blank">Ships photo</a>, <a href="https://flic.kr/p/9sRyKf" target="_blank">Man amongst the ruins photo</a>.</p>
        <p>Special thanks to <a href="https://twitter.com/impronunciable" target="_blank">Dan Zajdband</a> for improving the offline and mobile experience.</p>
      </div>
    </div>
  </div>
</footer>

<a href="#0" class="cd-top">Top</a>
