---
title: The Really Big One
---

<section class="hero text-center">

  <h1 class="logo">The Really Big One</h1>

  <div class="row">
    <div class="columns medium-8 large-6 text-left">

      <h2>An earthquake will destroy a sizable portion of the Pacific Northwest &mdash;</h2>
      <h3>the region will suffer the worst natural disaster in the history of North America.</h3>

    </div>
  </div>

</section>

<section class="subduction text-center">

  <h2>Cascadia Subduction zone</h2>
  <h3 class="big-fact"><span>700 miles</span><br/>off the coast of the Pacific Northwest</h3>
  <br/><br/>

  <div class="row">
    <div class="columns small-6">

      <p>Juan de Fuca plate <br/> &darr;</p>

    </div>
    <div class="columns small-6">

      <p>North American plate <br/> &darr;</p>

    </div>
  </div>

</section>

<section class="earthquake text-center">

  <h2>Full-margin Rupture</h2>
  <h3 class="big-fact"><span>2:48</span><br/></h3>
  <br/><br/>

  <div class="progress alert small-10 small-offset-1 medium-6 medium-offset-3">
    <span class="meter" style="width: 66%"></span>
  </div>

  <br/><br/><br/>
  <ul class="block-grid medium-block-grid-3">
    <li><h3 class="big-fact"><span>30<small>times</small></span><br/>the energy of a San Andreas fault earthquake!</h3></li>
    <li><h3 class="big-fact"><span>14000<small>sq miles</small></span><br/></h3></li>
    <li><h3 class="big-fact"><span>7000000<small>people</small></span><br/>are in the affected area</h3></li>
  </ul>


  <br/><br/>
  <!-- <hr> -->
  <br/>
  <blockquote>
    <h2 style="color: orange;">"Our operating assumption is that everything west of Interstate 5 will be toast."</h2>
  </blockquote>
  <br/>
  <!-- <hr> -->

</section>