---
title: The Really Big One
---

<!-- Landing / Hero -->
<section class="hero">

  <object class="hide-for-small credit-logo credit-logo--left" data="/assets/images/nyr-logo.svg" type="image/svg+xml"></object>

  <a class="title-logo wow fadeInDown" href="/">
    <object data="/assets/images/trbo-logo.svg" type="image/svg+xml"></object>
  </a>

  <object class="hide-for-small credit-logo credit-logo--right" data="/assets/images/arc-logo.svg" type="image/svg+xml"></object>

  <object class="seismic-wave" data="/media/seismic-waves.svg" type="image/svg+xml"></object>

  <div class="row">
    <div class="columns medium-10 medium-centered text-center">

      <h1 class="wow fadeIn">An <strong>earthquake will destroy</strong> a sizable portion of the <strong>Pacific Northwest</strong>.</h1>

      <p class="wow fadeIn">It’s not a question of if, but when.</p>

      <!-- TODO: -->
      <a style="display: block; margin: 0 auto; margin-top: 7vh; color: red;" class="wow fadeIn"href="#subduction"><span class="blink">&darr;</span></a>

    </div>
  </div>

</section>


<!-- Meet Cascadia -->
<section id="subduction" class="subduction">

  <div class="row">
    <div class="medium-11 medium-centered large-5 large-uncentered columns">

      <h1 class="wow fadeInUp"><small class="subtitle">Meet The</small>Cascadia <small class="subtitle subtitle--bottom">Subduction Zone</small></h1>

      <object class="hide-for-large-up wow fadeIn" data="/media/subduction-zone.svg" type="image/svg+xml" width="360"></object>

      <div class="wow fadeIn">
        <p>You might think that San Andreas is the only thing we have to worry about. You’d be wrong: There’s a 700 mile fault line stretching from Vancouver to Northern California off the Pacific coast.</p>

        <p><strong>Cascadia has the potential to create <span class="emph">30 times</span> the energy of the San Andreas fault.</strong></p>
      </div>

    </div>
    <div class="large-7 columns show-for-large-up text-right">

      <object class="wow fadeIn" data="/media/subduction-zone.svg" type="image/svg+xml" width="780"></object>

    </div>
  </div>

</section>


<!-- Another Disaster -->
<section id="prediction" class="prediction prediction--chance">

  <div class="row">
    <div class="medium-10 columns medium-centered text-center wow fadeInUp">

      <p>Scientists are telling us that Cascadia is about to rupture and unleash a devastating earthquake.</p>
      <h1>A megaquake in the next 50 years is a serious risk</h1>

    </div>
  </div>

  <div class="row text-center">
    <div class="medium-8 medium-centered large-6 columns">

      <ul class="block-grid small-block-grid-2">
        <li>
          <!-- <span class="circle-container wow bounceIn">
            <span class="content wow fadeIn">30%</span>
            <div class="dot"></div>
          </span> -->
          <!-- <h3 class="fact fact--large wow bounceIn">
            <span>1 in 3</span>
          </h3> -->
          <h3 class="fact-badge wow bounceIn">1 in 3</h3>
          <p class="wow fadeInUp">Chance of a <span class="emph emph--block">magnitude 8.5+</span> earthquake</p>
        </li>
        <li>
          <!-- <span class="circle-container wow bounceIn">
            <span class="content wow fadeIn">10%</span>
            <div class="dot"></div>
          </span> -->
          <div class="pie"><span>10%</span></div>
          <p class="wow fadeInUp">Chance of a <span class="emph emph--block">magnitude 9+</span> earthquake</p>
        </li>
      </ul>

    </div>
  </div>

</section>


<!-- Japan -->
<section id="js-japan" class="japan text-center">

  <div class="row japan__polaroids">

    <div class="columns small-5 medium-4 hide-for-small">
      <a class="wow fadeInx rollIn">
        <img alt="Japan 2011, fire at the nuclear plant, where a 9.0 mangitude earthquake caused meltdown" src="/media/japan/japan-1.jpg" width="244">
      </a>
      <a class="wow fadeInx rollIn">
        <img alt="Japan 2011, large ships washed up in the city, wrecked by a devastating tsunami" src="/media/japan/japan-2.jpg" width="244">
      </a>
      <a class="wow fadeInx rollIn">
        <img alt="Japan 2011, man walking amongst what’s left of the city after the horrific natural disaster" src="/media/japan/japan-3.jpg" width="244">
      </a>
    </div>

    <div class="columns medium-6 medium-offset-1 left">

      <h1 class="wow fadeInUp">
        <small class="hide-for-small">Okay, so let’s put that into context...</small>
        Remember Japan<br>in 2011?
      </h1>

      <div class="wow fadeIn text-center">
        <img class="show-for-small-only" alt="Japan 2011, man walking amongst what’s left of the city after the horrific natural disaster" src="/media/japan/japan-3.jpg" width="276">
      </div>

      <div class="row">
        <div class="medium-11 medium-centered columns">

          <p class="wow fadeInUp">That quake was of magnitude <span class="emph">9.0</span> and unleashed a devastating tsunami.</p>
          <p class="wow fadeInUp">We’re at real risk of an even more powerful quake from Cascadia.</p>

        </div>
      </div>

    </div>

  </div>

</section>


<!-- What’s going to happen -->
<section class="prediction prediction--scenario">

  <div class="row text-center">
    <div class="columns">

      <h1 class="wow fadeIn" data-wow-duration="1.25s">
        <small>The region will suffer</small>
        the worst natural disaster
        <small>in the history of North America</small>
      </h1>

      <ul class="block-grid medium-block-grid-3">

        <li>
          <object class="large-icon wow bounceIn" data="/media/icons/scenario-eq.svg" type="image/svg+xml" width="165"></object>

          <div class="wow fadeInUp">
            <span class="emph">A huge earthquake</span>
            <p>will last for 4 minutes or longer</p>
          </div>
        </li>

        <li>
          <object class="large-icon wow bounceIn" data="/media/icons/scenario-tsunami.svg" type="image/svg+xml" width="165"></object>

          <div class="wow fadeInUp">
            <span class="emph">A devastating tsunami</span>
            <p>will reach the continent 15 minutes after the shaking has stopped</p>
          </div>
        </li>

        <li>
          <object class="large-icon wow bounceIn" data="/media/icons/scenario-aftershock.svg" type="image/svg+xml" width="165"></object>

          <div class="wow fadeInUp">
            <span class="emph">Aftershocks</span>
            <p>will follow hard on the heels of the main shock</p>
          </div>
        </li>

      </ul>

      <h3 class="wow fadeIn">The following information may save your life.</h3>

    </div>
  </div>

</section>


<!-- The Journey -->
<section id="js-cascadia-journey" class="cascadia-journey">

  <!-- cities trigger points -->
  <div class="cities-trigger cities-trigger--vancouver js-cities-trigger-vancouver"></div>
  <div class="cities-trigger cities-trigger--seattle js-cities-trigger-seattle"></div>
  <div class="cities-trigger cities-trigger--olympia js-cities-trigger-olympia hide-for-small"></div>
  <div class="cities-trigger cities-trigger--portland js-cities-trigger-portland"></div>
  <div class="cities-trigger cities-trigger--salem js-cities-trigger-salem hide-for-small"></div>
  <div class="cities-trigger cities-trigger--eugene js-cities-trigger-eugene"></div>
  <div class="cities-trigger cities-trigger--grantspass js-cities-trigger-grantspass hide-for-small"></div>
  <div class="cities-trigger cities-trigger--redding js-cities-trigger-redding"></div>

  <!-- cities -->
  <div class="cities cities--vancouver js-cities-vancouver">
    <object data="/media/cities/trbo-map-vancouver.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities cities--seattle js-cities-seattle">
    <object data="/media/cities/trbo-map-seattle.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities cities--olympia js-cities-olympia">
    <object data="/media/cities/trbo-map-olympia.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities cities--portland js-cities-portland">
    <object data="/media/cities/trbo-map-portland.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities cities--salem js-cities-salem">
    <object data="/media/cities/trbo-map-salem.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities cities--eugene js-cities-eugene">
    <object data="/media/cities/trbo-map-eugene.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities cities--grantspass js-cities-grantspass">
    <object data="/media/cities/trbo-map-grantspass.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities cities--redding js-cities-redding">
    <object data="/media/cities/trbo-map-redding.svg" type="image/svg+xml"></object>
  </div>

  <!-- tsunamis trigger points -->
  <!-- TODO: Clean this up if we don’t need it anymore? -->
  <div class="tsunamis-trigger tsunamis-trigger--wave-1 js-tsunamis-trigger-wave-1"></div>
  <div class="tsunamis-trigger tsunamis-trigger--wave-2 js-tsunamis-trigger-wave-2"></div>
  <div class="tsunamis-trigger tsunamis-trigger--wave-3 js-tsunamis-trigger-wave-3"></div>
  <div class="tsunamis-trigger tsunamis-trigger--wave-4 js-tsunamis-trigger-wave-4"></div>
  <div class="tsunamis-trigger tsunamis-trigger--wave-5 js-tsunamis-trigger-wave-5"></div>
  <div class="tsunamis-trigger tsunamis-trigger--wave-6 js-tsunamis-trigger-wave-6"></div>
  <div class="tsunamis-trigger tsunamis-trigger--wave-7 js-tsunamis-trigger-wave-7"></div>

  <!-- tsunamis -->
  <!-- TODO: Clean this up if we don’t need it anymore? -->
  <div class="tsunamis js-tsunamis-wave-1">
    <object data="/media/tsunamis/trbo-map-wave-1.svg" type="image/svg+xml"></object>
  </div>

  <div class="tsunamis js-tsunamis-wave-2">
    <object data="/media/tsunamis/trbo-map-wave-2.svg" type="image/svg+xml"></object>
  </div>

  <div class="tsunamis js-tsunamis-wave-3">
    <object data="/media/tsunamis/trbo-map-wave-3.svg" type="image/svg+xml"></object>
  </div>

  <div class="tsunamis js-tsunamis-wave-4">
    <object data="/media/tsunamis/trbo-map-wave-4.svg" type="image/svg+xml"></object>
  </div>

  <div class="tsunamis js-tsunamis-wave-5">
    <object data="/media/tsunamis/trbo-map-wave-5.svg" type="image/svg+xml"></object>
  </div>

  <div class="tsunamis js-tsunamis-wave-6">
    <object data="/media/tsunamis/trbo-map-wave-6.svg" type="image/svg+xml"></object>
  </div>

  <div class="tsunamis js-tsunamis-wave-7">
    <object data="/media/tsunamis/trbo-map-wave-7.svg" type="image/svg+xml"></object>
  </div>


  <!-- Journey background image -->
  <object class="cascadia-journey__background" data="/media/map/trbo-map-base.svg" type="image/svg+xml"></object>

  <!-- Helicopter -->
  <object class="helicopter" data="/media/map/helicopter.svg" type="image/svg+xml"></object>

  <!-- Journey Content -->
  <div class="cascadia-journey__content cascadia-journey__quake">

    <!-- <div class="cascadia-journey__timer">
      <h1 class="js-quake-counter">0:00</h1>

      <div class="progress radius alert">
        <span class="meter custom-meter" style="width: 0%;"></span>
      </div>

      <small>TODO: should be visible only until you get to Olympia</small>
      <small>TODO: ideally this would change colour from yellow to red</small>
    </div> -->

    <div class="row">
      <div class="small-9 large-7 columns">

        <!-- <h2>TODO: Timer starts</h2> -->

        <div class="wow fadeIn hide-for-small">

          <div class="row">
            <div class="medium-3 large-2 columns">
              <object class="small-icon wow bounceIn" data="/media/icons/quake-dogs.svg" type="image/svg+xml" width="100"></object>
            </div>
            <div class="medium-9 large-10 columns">
              <p>Animals are able to sense the seismic waves before humans do. If you hear dogs starting to bark unusually loudly and intensely, <strong>take immediate action</strong>...</p>
            </div>
          </div>

        </div>

        <div class="wow fadeIn">

          <h1><object class="large-icon" data="/media/icons/location-indoors.svg" type="image/svg+xml"></object> Indoors</h1>

          <!-- <h3>&ldquo; Earthquakes don’t kill people, buildings (and their contents) do.</h3> -->

          <div class="row icon-grid text-center">
            <div class="columns small-4 large-3">
              <object class="xsmall-icon wow bounceIn" data="/media/icons/quake-drop.svg" type="image/svg+xml"></object>
              <span class="emph emph--block">Drop</span>
            </div>
            <div class="columns small-4 large-3">
              <object class="xsmall-icon wow bounceIn" data="/media/icons/quake-cover.svg" type="image/svg+xml"></object>
              <span class="emph emph--block">Cover</span>
            </div>
            <div class="columns small-4 large-3 end">
              <object class="xsmall-icon wow bounceIn" data="/media/icons/quake-hold.svg" type="image/svg+xml"></object>
              <span class="emph emph--block">Hold On</span>
            </div>
          </div>

          <p><span class="emph">Don’t rush to the exit!</span></p>
          <p>Hide under a sturdy table, cover your head &amp; neck and wait until the shaking stops.</p>
          <p>If there’s no table nearby, go to an interior wall, the corner of the room, or lie down alongside a couch.</p>

        </div>

        <div class="wow fadeIn">

          <h1><object class="large-icon" data="/media/icons/location-city.svg" type="image/svg+xml"></object> In the city</h1>

          <ul class="block-grid medium-block-grid-2">
            <li>Move to an open area, well away from buildings, streetlights and utility wires.</li>
            <li>If you’re in a densely built area, shelter inside the lobby of the nearest building.</li>
            <li>If you’re in a car, stop and set the parking brake. Stay in the car until shaking stops.</li>
            <li>Avoid danger zones: bridges, underpasses and parking garages.</li>
          </ul>

        </div>

        <div class="wow fadeIn">

          <h1><object class="large-icon" data="/media/icons/location-outdoors.svg" type="image/svg+xml"></object> Outdoors</h1>

          <ul class="block-grid medium-block-grid-2">
            <li>Stay away from riverbeds: they carry a lot of debris and you’ll be vulnerable to surges of water and mud.</li>
            <li>To avoid landslides, move away from cliffs and steep embankments.</li>
          </ul>

        </div>

        <!-- <h2>TODO: Timer Stops</h2> -->

        <div class="wow fadeIn">

          <h1><object class="large-icon" data="/media/icons/location-coast.svg" type="image/svg+xml"></object> At the coast</h1>

          <p><span class="emph">Flee to high ground as quickly as possible</span></p>

          <p>Once the shaking stops, you’ll have only <span class="emph">15 minutes</span> before the tsunami hits the shore. Move fast!</p>
        </div>

        <!-- <div class="alert-box alert wow fadeIn show-for-medium-up"><p><small>[TODO: icon] Warning: If you live near the coast or are on the beach when disaster strikes, you’ll only have a few minutes to get to higher ground and save your life!</small></p></div> -->

        <p class="wow fadeIn">The closer to high tide the quake strikes, the further inland the waves will travel: up to <span class="emph">3 miles</span> in some parts.

        <p class="wow fadeIn">Waves will be as high as <span class="emph">30-40 feet</span> and we can expect <span class="emph">multiple waves</span> to strike over a period of several hours.</p>


        <div class="wow fadeIn text-center aftermath">
          <h1>The Aftermath</h1>

          <p>By the time the shaking has ceased and the tsunami has receded, the region will be unrecognizable. The human toll will be astronomical.</p>
        </div>

        <div class="wow fadeIn">

          <ul class="block-grid small-block-grid-2 block-grid--facts">

            <li class="text-center">
              <object class="large-icon wow bounceIn" data="/media/icons/stats-rip.svg" type="image/svg+xml"></object>
              <h3 class="fact fact--large">
                <span class="js-quake-dead">0</span>
              </h3>
              <span class="emph">dead</span>

              <!-- Of the almost thirteen thousand people expected to die in the Cascadia event, one thousand will perish in the earthquake,” Schulz writes. “The others will be killed by the tsunami -->
            </li>

            <li class="text-center">
              <object class="large-icon wow bounceIn" data="/media/icons/stats-injuries.svg" type="image/svg+xml"></object>
              <h3 class="fact fact--large">
                <span class="js-quake-injured">0</span>
              </h3>
              <span class="emph">injured</span>
            </li>

            <li class="text-center">
              <br/>
              <object class="small-icon wow bounceIn" data="/media/icons/stats-homes.svg" type="image/svg+xml"></object>
              <h3 class="fact fact--small">
                <span class="js-quake-misplaced">0</span>
              </h3>
              <span class="emph">misplaced</span>
            </li>

            <li class="text-center">
              <br/>
              <object class="small-icon wow bounceIn" data="/media/icons/stats-supplies.svg" type="image/svg+xml"></object>
              <h3 class="fact fact--small">
                <span class="js-quake-nowater">0</span>
              </h3>
              <span class="emph">with no access<br/> to food or water</span>
            </li>

          </ul>

        </div>


        <!-- TODO: fix styling -->
        <blockquote class="text-center wow fadeIn">

          <p class="show-for-small-only">&ldquo; Our operating assumption is that everything west of Interstate 5 will be toast. &rdquo;</p>
          <h2 class="show-for-medium-up">&ldquo; Our operating assumption is that everything west of Interstate 5 will be toast. &rdquo;</h2>

          <cite class="wow fadeIn">
            <small>Kenneth Murphy, <a href="http://www.fema.gov/" title="Federal Emergency Management Agency" target="_blank">FEMA</a> Region X director</small>
          </cite>

        </blockquote>


        <div class="wow fadeIn text-center">
          <p>Huge damage or destruction is expected to property and utilities all across the region:</p>
        </div>

        <div class="wow fadeIn text-center">

          <ul class="block-grid small-block-grid-2 block-grid--facts">
            <li>
              <div class="pie"><span>88%</span></div>
              <p>of all ports and potable water sources</p>
            </li>
            <li>
              <div class="pie"><span>77%</span></div>
              <p>of all fire stations and <!-- waste- -->water treatment plants</p>
            </li>
            <li>
              <div class="pie"><span>66%</span></div>
              <p>of all airports, railways, hospitals, and schools</p>
            </li>
            <li>
              <div class="pie"><span>50%</span></div>
              <p>of all highway bridges, police stations and emergency command centers</p>
            </li>
          </ul>

          <ul class="block-grid small-block-grid-2 block-grid--facts">
            <li><span class="fact-badge">3,000 miles</span> <br/> of natural gas pipelines</li>
            <li><span class="fact-badge">743</span> <br/> electric power facilities</li>
            <li><span class="fact-badge">1,000,000</span> <br/> residential buildings</li>
            <li><span class="fact-badge">$70 billion</span> <br/> in damage!</li>
          </ul>

        </div>

        <div class="wow fadeIn text-center hide-for-small">
          <p>These estimates are based on <a href="http://www.fema.gov/" title="Federal Emergency Management Agency" target="_blank">FEMA’s</a> official planning scenario, which has the earthquake striking at 9:41 A.M. on February 6th. If it strikes in the summer instead (when the beaches will be full), those numbers could be off by a horrifying margin.</p>
        </div>

      </div>
    </div>

  </div>
</section>


<!-- Let’s prepare! -->
<section class="preparedness">

  <div class="row">
    <div class="columns">

      <div class="wow fadeInUp text-center">

        <h1>Let’s Get Prepared &amp; Protected</h1>
        <p>The disaster is unavoidable, but it doesn’t take much to get prepared. Here’s what you need to do...</p>

      </div>

      <div id="js-risk" class="at-risk wow fadeInUp">

        <h1><span>1</span> Check to see if you’re in the danger zone</h1>
        <p>If you’re at home in the Pacific Northwest right now, click here to allow us to check your location.</p>

        <div class="row">
          <div class="medium-4 large-3 at-risk__cta columns">

            <p class="js-animate-risk wow fadeIn">
              <button class="button large button--risk js-button-risk">
                Am I at risk?
                <span class="loading-indicator-location js-loading">Checking your location...</span>
              </button>
            </p>

          </div>
          <div class="medium-8 large-9 columns">

            <div class="alert-box alert-box--danger alert-box--risk js-alert-box-danger">
              <div class="row">
                <div class="medium-2 columns">
                  <object class="area-affected" data="/media/icons/area-affected.svg" type="image/svg+xml"></object>
                </div>
                <div class="medium-10 columns">
                  <h2>You’re in the affected area</h2>
                  <p>It’s super important for you to pay attention to the following information: it might save the lives of you and your family.</p>
                </div>
              </div>
            </div>

            <div class="alert-box alert-box--safe alert-box--risk js-alert-box-safe">
              <div class="row">
                <div class="medium-2 columns">
                  <object class="area-safe" data="/media/icons/area-safe.svg" type="image/svg+xml"></object>
                </div>
                <div class="medium-10 columns">
                  <h2>You’re not in the affected area.</h2>
                  <p>Phew! It looks like you’re outside the risk zone. But please share this information with people you know who live in Pacific Northwest!</p>
                </div>
              </div>
            </div>

          </div>
        </div>

      </div>

      <div class="wow fadeInUp">

        <h1><span>2</span> Secure your home</h1>

        <p>Don’t let your home become your enemy! A few simple changes can make a huge difference:</p>

        <ul class="block-grid medium-block-grid-2 large-block-grid-3">
          <li>Bolt your house to its foundation and heavy furniture (like bookcases) to the walls and floor.</li>
          <li>Secure dangerous equipment like your water heater: if it topples, you’ll be at risk. Turn off utilities when not in use.</li>
          <li>Have a fire extinguisher (or five) handy.</li>
          <li>Keep beds, couches and tables away from windows.</li>
          <li>Remove heavy, sharp objects from the walls. Secure mirrors. Install latches on your cupboard doors.</li>
          <li>Store your alchohol and bottles below waist level.</li>
          <li>Get to know your neighbours. You’ll be working together when disaster strikes.</li>
        </ul>

      </div>


      <div class="wow fadeInUp">

        <h1><span>3</span> Prepare an emergency kit</h1>

        <p>Put together a kit to help you get out of trouble: and store it somewhere you can grab it in a hurry:</p>

        <!-- TODO: add checkboxes (Arnas) or interactive check list with localStorage (Marcel) -->
        <ul class="block-grid medium-block-grid-2 large-block-grid-3">
          <li>Emergency-contact information</li>
          <li>Copies of important documents <br/> <small>(birth certificates, passports, driver’s licenses and wills)</small></li>
          <li>Cash <br/> <small>(A.T.M.s won’t work after the quake)</small></li>
          <li>Prescription drugs <br/> <small>(these expire, so, as with food, you’ll have to periodically replace them)</small></li>
          <li>Flashlights and extra batteries</li>
          <li>Spare eyeglasses</li>
          <li>A whistle <br/> <small>Attach one to your key chain, too, in case you wind up trapped somewhere</small></li>
          <li>Basic first-aid supplies</li>
          <li>Warm clothing, sturdy shoes</li>
          <li>Rain gear, sleeping bags, a tent</li>
          <li>Water, food for 2&ndash;3 weeks</li>
          <li>Water-purification tablets <br/> <small>Or a back-country filtering device. Both are helpful if water supplies become contaminated</small></li>
        </ul>

      </div>


      <div class="wowUp fadeIn">

        <h1><span>4</span> Look up and learn the evacuation plan for your area</h1>

        <p>LEarn the route to the nearest gathering point, safe zone or evacuation point.</p>

        <p>TODO: Where can this route be found?</p>

      </div>


      <div class="wow fadeInUp">

        <h1><span>5</span> Demand better seismic safety!</h1>
        <p>TODO: Explain where this information can be found. Contact your local representative?</p>

      </div>


      <div class="wow fadeInUp">

        <h1><span>6</span> Share this website.</h1>

        <p>Very few things on the internet are as important as the information that’s on this page. Help us to spread the word and save lives.</p>

        <div class="row">

          <div class="medium-4 columns">
            <a href="TODO" class="button button--twitter">
              <object data="/media/icons/media-twitter.svg" type="image/svg+xml"></object>
              Tweet This
            </a>
          </div>
          <div class="medium-4 columns">
            <a href="TODO" class="button button--facebook">
              <object data="/media/icons/media-facebook.svg" type="image/svg+xml"></object>
              FB Share This
            </a>
          </div>
          <div class="medium-4 columns">
            <a href="TODO" class="button button--email">
              <object data="/media/icons/media-email.svg" type="image/svg+xml"></object>
              Email This
            </a>
          </div>

        </div>

      </div>

    </div>
  </div>

</section>


<footer class="wow fadeIn">

  <div class="row">
    <div class="columns">

      <h2>Credits &amp; Further Reading</h2>

      <ul>
        <li>This site is unaffiliated but heavily inspired by the <a href="http://www.newyorker.com/magazine/2015/07/20/the-really-big-one">New Yorker article</a> which gained popularity last summer. The <a href="http://www.newyorker.com/tech/elements/how-to-stay-safe-when-the-big-one-comes">follow-up article</a> (which includes safety tips) is also worth reading.</li>
        <li>The University of Oregon’s <a href="http://earthquake.uoregon.edu/">Pacific Northwest earthquake forum</a>.</li>
        <li>The <a href="http://crew.org/">Cascadia Region Earthquake Workgroup</a> and their <a href="http://crew.org/sites/default/files/cascadia_subduction_scenario_2013.pdf">Subduction Scenario</a>.</li>

        <li>TODO: <a href="http://pnsn.org/outreach/hazard-maps-and-scenarios/eq-hazard-maps/tsunami">Tsunami Hazard Maps</a></li>

        <li><a href="http://www.ezsystemspdx.com/san-andreas-fault-vs-cascadia-subduction-zone/">
          San Andreas vs Cascadia</a></li>
        <li>The Really Big One earthquake and tsunami explained by hands: <a href="https://www.youtube.com/watch?v=9n_hP9o2lf8">Watch the video</a></li>
      </ul>

      <hr>

      <h4>Photos of the Japan 2011 disaster are &copy; copyright <a href="https://www.flickr.com/photos/dugspr/">Douglas Sprott</a></h4>
      <p>Used under Creative Commons Attribution-NonCommercial 2.0 Generic <a href="https://creativecommons.org/licenses/by-nc/2.0/">(CC BY-NC 2.0)</a> license, adapted to suit the design of this website.</p>
      <ul>
        <li><a href="https://flic.kr/p/9s4zXS">Nuclear plant fire photo</a></li>
        <li><a href="https://flic.kr/p/9th8uF">Ships photo</a></li>
        <li><a href="https://flic.kr/p/9sRyKf">Man amongst the ruins photo</a></li>
      </ul>

    </div>
  </div>

  <div class="row credits wow fadeInUp">
    <div class="columns">
      <p>Project initiated by <a href="https://twitter.com/rauchg">Guillermo Rauch</a>, designed and built by <a href="https://hanno.co">Hanno</a>, with support from <a href="TODO red cross">American Red Cross</a>.</p>
    </div>
  </div>

</footer>