---
title: The Really Big One
---

<div id="preloader">
  <h1 class="blink">The Really Big One Is Coming &hellip;</h1>
  <a href="http://github.hubspot.com/pace/docs/welcome/">I'd like to implement an idicator like the tiny red loading bar at the top on YouTube. This should be quick and easy: http://github.hubspot.com/pace/docs/welcome/</a>
</div>

<!-- Landing / Hero -->
<section class="hero">

  <img class="hide-for-small credit-logo credit-logo--left" src="/assets/images/nyr-logo.svg" onerror="this.onerror=null; this.src='/assets/images/nyr-logo.png'" />

  <a class="title-logo" href="/">
    <img class="wow fadeInDown" src="/assets/images/trbo-logo.svg" onerror="this.onerror=null; this.src='/assets/images/trbo-logo.png'" width="150" />
  </a>

  <img class="hide-for-small credit-logo credit-logo--right" src="/assets/images/arc-logo.svg" onerror="this.onerror=null; this.src='/assets/images/arc-logo.png'" width="160" />

  <div class="row">
    <!-- TODO: -->
    <div class="columns medium-10 medium-offset-1 text-center">

      <h1 class="wow fadeIn" data-wow-delay="0.25s" data-wow-duration="1.25s">An <strong>earthquake will destroy</strong> a sizable portion of the <strong>Pacific Northwest</strong>.</h1>

      <h3 class="wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1.25s">It’s not a question of if, but when.</h3>

      <!-- <object data="/media/seismic-waves.svg" type="image/svg+xml" width="700"></object> -->

      <a style="display: block; margin: 0 auto; margin-top: 7vh; color: red;" class="wow fadeIn" data-wow-delay="1s" href="#subduction"><span class="blink">&darr;</span></a>

    </div>
  </div>

</section>


<!-- Subduction description -->
<section id="subduction" class="subduction js-animate-subductionx">

  <div class="row">
    <div class="medium-10 medium-centered large-5 large-uncentered columns">

      <h1 class="wow fadeInUp"><small class="subtitle">Meet The</small>Cascadia <small class="subtitle subtitle--bottom">Subduction Zone</small></h1>

      <img class="hide-for-large-up wow fadeIn" data-wow-delay="0.15s" src="/media/subduction-zone.svg" width="360">

      <div class="wow fadeIn" data-wow-delay="0.3s">
        <p>You might think that San Andreas is the only thing we have to worry about. You’d be wrong: There’s a 700 mile fault line stretching from Vancouver to Northern California off the Pacific coast.</p>

        <p><strong>Cascadia has the potential to create <span class="emph">30 times</span> the energy of the San Andreas fault.</strong></p>
      </div>

    </div>
  </div>

</section>


<section id="prediction" class="prediction">

  <div class="row">
    <div class="medium-10 columns medium-centered text-center wow fadeInUp">

      <p>Scientists are telling us that Cascadia is about to rupture and unleash a devastating earthquake.</p>
      <h1>A megaquake in the next 50 years is a serious risk</h1>

    </div>
  </div>

  <div class="row text-center">
    <div class="medium-8 medium-centered large-6 columns">

      <ul class="medium-block-grid-2">
        <li>
          <span class="circle-container circle-container--large wow bounceIn orange" data-wow-delay="0.25s">
            <span class="content wow fadeIn" data-wow-delay="0.35s">30%</span>
            <div class="dot"></div>
          </span>

          <!-- <h4 class="wow fadeInUp" data-wow-delay="0.45s">Chance of a <strong>magnitude 8.5+</strong> earthquake</h4> -->
          <p class="wow fadeInUp" data-wow-delay="0.45s">Chance of a <span class="emph">magnitude 8.5+</span> earthquake</p>
        </li>
        <li>
          <span class="circle-container circle-container--large wow bounceIn orange" data-wow-delay="0.35s">
            <span class="content wow fadeIn" data-wow-delay="0.45s">10%</span>
            <div class="dot"></div>
          </span>

          <!-- <h4 class="wow fadeInUp" data-wow-delay="0.55s">Chance of a <strong>magnitude 9+</strong> earthquake</h4> -->
          <p class="wow fadeInUp" data-wow-delay="0.45s">Chance of a <span class="emph">magnitude 9+</span> earthquake</p>
        </li>
      </ul>

    </div>
  </div>

</section>


<!-- Japan -->
<section id="js-japan" class="japan text-center">

  <div class="row japan__polaroids">

    <div class="columns medium-4 hide-for-small">
      <a href="TODO" title="TODO"class="wow fadeInx rollIn" data-wow-delay="0">
        <img alt="TODO" src="/media/japan/japan-disaster-09.jpg" width="450">
      </a>
      <a href="TODO" title="TODO" class="wow fadeInx rollIn" data-wow-delay="0.125s">
        <img alt="TODO" src="/media/japan/japan-disaster-04.jpg" width="400">
      </a>
      <a href="TODO" title="TODO" class="wow fadeInx rollIn" data-wow-delay="0.25s">
        <img alt="TODO" src="/media/japan/japan-disaster-01.jpg" width="400">
      </a>
    </div>

    <div class="columns medium-6 medium-offset-1 left">

      <!-- TODO: -->
      <!-- <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.5s">
        <img alt="TODO" src="/media/japan/japan-disaster-02.jpg" width="400">
      </a> -->

      <!-- <div class="row"> -->
        <!-- <div class="columns text-center"> -->

          <!-- <h2 class="wow fadeInUp" data-wow-delay="0">Remember the massive quake and tsunami that hit Japan in 2011, causing nuclear meltdown and horrific damage?</h2> -->

          <h1 class="wow fadeInUp"><small>Okay, so let's put that into context...</small> Remember Japan<br>in 2011?</h1>

          <div class="row">
            <div class="medium-11 medium-centered large-10 columns">

              <p class="wow fadeIn" data-wow-delay="0.125s">That quake was of magnitude <span class="emph">9.0</span>.</p>
              <p class="wow fadeIn" data-wow-delay="0.25s">We're at real risk of an even more powerful quake from Cascadia.</p>

            </div>
          </div>

          <!-- <a style="display: block; margin: 0 auto; margin-top: 7vh; color: red;" class="wow fadeIn" data-wow-delay="1s" href="#subduction"><span class="blink">&darr;</span></a> -->

        <!-- </div> -->
      <!-- </div> -->

      <!-- <a href="TODO" title="TODO" class="hide-for-small wowx fadeIn" data-wow-delay="0.25s">
        <img alt="TODO" src="/media/japan/japan-disaster-07.jpg" width="400">
      </a> -->
    </div>

    <!-- <div class="columns medium-3 hide-for-small">
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.125s">
        <img alt="TODO" src="/media/japan/japan-disaster-03.jpg" width="380">
      </a>
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.275s">
        <img alt="TODO" src="/media/japan/japan-disaster-06.jpg" width="400">
      </a>
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.35s">
        <img alt="TODO" src="/media/japan/japan-disaster-05.jpg" width="400">
      </a>
    </div> -->

  </div>

</section>


<section class="prediction">

  <div class="row text-center">
    <div class="columns">

      <h1 class="fancy-headline wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1.25s"><small style="position: relativex; left: -25%x;">The region will suffer</small> the worst natural disaster <small style="position: relativex; right: -15%x;">in the history of North America</small></h1>

      <ul class="medium-block-grid-3">

        <li>
          <object class="wow bounceIn" data-wow-delay="0.25s" data="/media/trbo-icon-eq.svg" type="image/svg+xml" width="165"></object>

          <div class="wow fadeInUp" data-wow-delay="0.25s">
            <h4>A huge earthquake</h4>
            <p>will last for 4 minutes or longer</p>
          </div>
        </li>

        <li>
          <object class="wow bounceIn" data-wow-delay="0.4s" data="/media/trbo-icon-tsunami.svg" type="image/svg+xml" width="165"></object>

          <div class="wow fadeInUp" data-wow-delay="0.4s">
            <h4>A devastating tsunami</h4>
            <p>will reach the continent 15 minutes after the shaking has stopped</p>
          </div>
        </li>

        <li>
          <object class="wow bounceIn" data-wow-delay="0.6s" data="/media/trbo-icon-aftershock.svg" type="image/svg+xml" width="165"></object>

          <div class="wow fadeInUp" data-wow-delay="0.6s">
            <h4>Aftershocks</h4>
            <p>will follow, just when you think the coast has cleared</p>
          </div>
        </li>

      </ul>

      <h1><small>The following information may save your life.</small>Here's how it will all unfold.</h1>

    </div>
  </div>

</section>


<section id="js-cascadia-journey" class="cascadia-journey">

  <!-- cities trigger points -->
  <div class="cities-trigger cities-trigger--vancouver js-cities-trigger-vancouver"></div>
  <div class="cities-trigger cities-trigger--seattle js-cities-trigger-seattle"></div>
  <div class="cities-trigger cities-trigger--olympia js-cities-trigger-olympia"></div>
  <div class="cities-trigger cities-trigger--portland js-cities-trigger-portland"></div>
  <div class="cities-trigger cities-trigger--salem js-cities-trigger-salem"></div>
  <div class="cities-trigger cities-trigger--eugene js-cities-trigger-eugene"></div>
  <div class="cities-trigger cities-trigger--grantspass js-cities-trigger-grantspass"></div>
  <div class="cities-trigger cities-trigger--redding js-cities-trigger-redding"></div>

  <!-- cities -->
  <div class="cities js-cities-vancouver">
    <object data="/media/cities/trbo-map-vancouver.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities js-cities-seattle">
    <object data="/media/cities/trbo-map-seattle.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities js-cities-olympia">
    <object data="/media/cities/trbo-map-olympia.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities js-cities-portland">
    <object data="/media/cities/trbo-map-portland.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities js-cities-salem">
    <object data="/media/cities/trbo-map-salem.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities js-cities-eugene">
    <object data="/media/cities/trbo-map-eugene.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities js-cities-grantspass">
    <object data="/media/cities/trbo-map-grantspass.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities js-cities-redding">
    <object data="/media/cities/trbo-map-redding.svg" type="image/svg+xml"></object>
  </div>

  <!-- tsunamis trigger points -->
  <div class="tsunamis-trigger tsunamis-trigger--wave-1 js-tsunamis-trigger-wave-1"></div>
  <div class="tsunamis-trigger tsunamis-trigger--wave-2 js-tsunamis-trigger-wave-2"></div>
  <div class="tsunamis-trigger tsunamis-trigger--wave-3 js-tsunamis-trigger-wave-3"></div>
  <div class="tsunamis-trigger tsunamis-trigger--wave-4 js-tsunamis-trigger-wave-4"></div>
  <div class="tsunamis-trigger tsunamis-trigger--wave-5 js-tsunamis-trigger-wave-5"></div>
  <div class="tsunamis-trigger tsunamis-trigger--wave-6 js-tsunamis-trigger-wave-6"></div>
  <div class="tsunamis-trigger tsunamis-trigger--wave-7 js-tsunamis-trigger-wave-7"></div>

  <!-- tsunamis -->
  <div class="tsunamis js-tsunamis-wave-1">
    <object data="/media/tsunamis/trbo-map-wave-1.svg" type="image/svg+xml"></object>
  </div>

  <div class="tsunamis js-tsunamis-wave-2">
    <object data="/media/tsunamis/trbo-map-wave-2.svg" type="image/svg+xml"></object>
  </div>

  <div class="tsunamis js-tsunamis-wave-3">
    <object data="/media/tsunamis/trbo-map-wave-3.svg" type="image/svg+xml"></object>
  </div>

  <div class="tsunamis js-tsunamis-wave-4">
    <object data="/media/tsunamis/trbo-map-wave-4.svg" type="image/svg+xml"></object>
  </div>

  <div class="tsunamis js-tsunamis-wave-5">
    <object data="/media/tsunamis/trbo-map-wave-5.svg" type="image/svg+xml"></object>
  </div>

  <div class="tsunamis js-tsunamis-wave-6">
    <object data="/media/tsunamis/trbo-map-wave-6.svg" type="image/svg+xml"></object>
  </div>

  <div class="tsunamis js-tsunamis-wave-7">
    <object data="/media/tsunamis/trbo-map-wave-7.svg" type="image/svg+xml"></object>
  </div>

  <!-- Journey background image -->
  <img class="cascadia-journey__background" src="/media/map/trbo-map-base.svg">

  <!-- TODO: position this at the beginning of the journey -->
  <!-- Helicopter -->
  <img class="helicopter" src="/media/map/helicopter.svg">

  <div class="cascadia-journey__content cascadia-journey__quake js-animate-earthquake-1">

    <!-- <div class="cascadia-journey__timer">
      <h1 class="js-quake-counter">0:00</h1>

      <div class="progress radius alert">
        <span class="meter custom-meter" style="width: 0%;"></span>
      </div>

      <small>TODO: should be visible only until you get to Olympia</small>
      <small>TODO: ideally this would change colour from yellow to red</small>
    </div> -->

    <div class="row">
      <div class="small-9 medium-8 medium-offset-1 columns">
        <!-- <h1>TODO: Chapter 1: Earthquake<br/>from Vancouver to Seattle</h1> -->
        <!-- <h2>TODO: Timer starts</h2> -->

        <div class="wow fadeIn">

          <!-- <h2>TODO: EQ Trivia</h2> -->

          <!-- <h1><small>The following information may save your life.</small>Here's how it will all unfold.</h1> -->

          <p>Animals are able to sense the seismic waves before we feel the shaking.</p>
          <p>Dogs will start barking and animals will start acting crazy.</p>

          <!-- <p>TODO: That's not a timely warning as it only happens a few seconds before, but it's a definite sign (?)</p> -->

          <p>TODO: An illustration/animation of dogs barking?</p>
        </div>

        <div class="wow fadeIn">
          <!-- <p>TODO: One more bit of EQ trivia?</p> -->
          <h3>When you realise the EQ is happening, here's what you need to do:</h3>
        </div>

        <!-- <div class="wow fadeIn">
          <h2>Earthquakes don’t kill people, buildings and their contents do.</h2>
        </div> -->

        <div class="wow fadeIn" data-wow-delay="0.5s">

          [TODO: icon]
          <!-- <h3>If you're indoors when it happens</h3> -->
          <h1>Indoors</h1>

          <h3>&mdash; Earthquakes don’t kill people, buildings <!-- and their contents --> do.</h3>

          <br/><br/>

          <p>Don't rush to the exit! Drop, cover and hold on!</p>

          <small>TODO: Drop, Cover and Hold On illo</small>
          <br/>
          <img src="TODO" alt="Drop, Cover and Hold On" height="100">
          <br/><br/>

          <ol>
            <li>Hide under a sturdy table</li>
            <li>Cover your head &amp; neck</li>
            <li>Hold on until the shaking stops</li>
          </ol>

          <p>If there’s no table, go to an inside wall, corner of the room, or lay down next to a couch.</p>

          <br/>

          <div class="alert-box warning show-for-medium-up"><p><small>[TODO: icon] Tip: You should practice the “DROP, COVER AND HOLD ON” method at work and at home at least twice a year.</small></p></div>

          <!-- <p><small>[TODO: icon] Tip: You should practice the “DROP, COVER AND HOLD ON” method at work and at home at least twice a year.</small></p> -->

          <!-- <ul> -->
            <!-- <li>Don’t go outside</li> -->
            <!-- <li>Watch out for objects that could fall</li> -->
            <!-- <li>Don’t rush to the exit</li> -->
            <!-- <li>Hide under a sturdy table, cover your head &amp; neck, hold on until the shaking stops</li> -->
            <!-- <li>Grab onto the table leg and hold on until shaking stops</li> -->
            <!-- <li>If there’s no table, go to an inside wall, corner of the room, or lay down next to a couch</li> -->
          <!-- </ul> -->

          <!-- <p>TODO: YOU ARE SAFER PRACTICING THE “DROP, COVER, AND HOLD ON” maneuver under a sturdy piece of furniture like a strong desk or table. If indoors, stay there. Drop to the floor, make yourself small and get under a desk or table or stand in a corner. If outdoors, get into an open area away from trees, buildings, walls and power lines. If in a high-rise building, stay away from windows and outside walls, stay out of elevators, and get under a table. If driving, pull over to the side of the road and stop. Avoid overpasses and power lines. Stay inside your car until the shaking is over. If in a crowded public place, do not rush for the doors. Crouch and cover your head and neck with your hands and arms. You should practice the “DROP, COVER AND HOLD ON” method at work and at home at least twice a year.</p> -->

        </div>

        <div class="wow fadeIn" data-wow-delay="0.5s">

          [TODO: icon]
          <!-- <h3>If you're outside in the city</h3> -->
          <h1>In the city</h1>

          <p>Move to an open area, away from buildings, streetlights or utility wires</p>
          <p>If you’re in a densely built area, hide inside a lobby of the nearest building</p>
          <p>Avoid bridges, underpasses and parking garages</p>
          <p>If you’re in a car, stop it, set the parking brake, and stay in the car until shaking stops</p>


          <br/><br/><br/>

          [TODO: icon]
          <!-- <h3>If you're outdoors</h3> -->
          <h1>Outdoors</h1>

          <p>Move away from cliffs and steep embankments to avoid landslides</p>
          <p>Stay away from river beds as they carry a lot of debrees and surges of water and mud</p>

        </div>

        <div class="wow fadeIn" data-wow-delay="0.5s">

          [TODO: icon]
          <!-- <h3>If you’re near the coast</h3> -->
          <h1>At the coast</h1>

          <p>Flee to high ground as quickly and possible to escape tsunami waves</p>

        </div>

        <!-- <h2>TODO: Timer Stops</h2> -->

      </div>
    </div>

  </div>
  <!-- End of js-animate-earthquake-1 -->

  <div class="cascadia-journey__content js-animate-earthquake-2">

    <div class="row">
      <div class="small-9 medium-8 medium-offset-1 columns">

        <div class="wow fadeIn">
          <h1>Enter Tsunami</h1>
          <p>Afte shaking has stopped, you'll have 15 minutes to get to the high ground because the tsunami will follow</p>
        </div>

        <br/>

        <div class="alert-box alert show-for-medium-up"><p><small>[TODO: icon] Warning: If you’re at the epicentre you’ll only have a few minutes until the first wave hits</small></p></div>

        <div class="wow fadeIn">

          <h3>&mdash; Of all natural disasters tsunamis are the hardest to survive...</h3>&mdash;

          <p>Waves will be as high as 100ft in some areas, and will come 3 miles inland</p>
          <p>There are 71000 people in the inundation zone of the tsunami</p>
          <p>TODO: Etc</p>

        </div>

        <div class="wow fadeIn">

          <p>Make sure you reasearch and learn your local evacuation plans. If there's no highground in the area, you'll need to find the nearest vertical evacuation point -- look it up and learn/find the quickest/safest way there.</p>

        </div>

      </div>
    </div>

  </div>
  <!-- End of js-animate-earthquake-2 -->


  <div class="cascadia-journey__content js-animate-earthquake-3">

    <div class="row">
      <div class="small-9 medium-8 medium-offset-1 columns">

        <div class="wow fadeIn">
          <h2>By the time the shaking has ceased and the tsunami has receded, the region will be unrecognizable</h2>
        </div>

        <div class="wow fadeIn">

          <ul class="block-grid medium-block-grid-2 blog-grid--facts">

            <p>TODO: Reduce animation duration by a lot</p>

            <li>
              <p>[TODO: Cross/Tombstone ICON]</p>
              <h3 class="fact fact--large">
                <span class="js-quake-energy">0</span>

                <p>TODO: animate from 0 to 13000</p>
                <small>dead</small>
              </h3>
            </li>

            <li>
              <p>[TODO: Medical ICON]</p>
              <h3 class="fact">
                <span class="js-quake-people">0</span>

                <p>TODO: animate from 0 to 27000</p>
                <small>injured</small>
              </h3>
            </li>

            <li>
              <p>[TODO: Broken House ICON]</p>
              <h3 class="fact fact--small">
                <span class="js-quake-miles">0</span>

                <p>TODO: animate from 0 to 1,000,000</p>
                <small>misplaced</small>
              </h3>
            </li>

            <li>
              <p>[TODO: No supplies ICON]</p>
              <h3 class="fact fact--small">
                <span class="js-quake-miles">0</span>

                <p>TODO: animate from 0 to 2,500,000</p>
                <small>with no access to food or water</small>
              </h3>
            </li>

          </ul>

        </div>

      </div>
    </div>

    <hr>

    <div class="quotex wow fadeIn">

      <div class="row text-center">
        <div class="small-9 medium-7 medium-offset-1 columns">

          <blockquote class="wow fadeIn" data-wow-delay="0.5s">

            <h2>"Our operating assumption is that everything west of Interstate 5 will be toast."</h2>

            <cite class="wow fadeIn" data-wow-delay="1.5s">
              <p>Kenneth Murphy, FEMA Region X director in an interview with The New Yorker</p>
            </cite>

          </blockquote>

        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="small-9 medium-8 medium-offset-1 columns">

        <!-- <h1>TODO: Chapter 3: Destruction Stats</h1> -->
        <!-- <h3>TODO: animated numbers</h3> -->

        <div class="wow fadeIn">
          <h2>A lot of the areas will be inaccessible / cut off etc</h2>
        </div>

        <div class="wow fadeIn">

          <p>Region-wide, FEMA (TODO) expects to see seriously damaged or destroyed</p>

          <p>TODO: I'll build this out as CSS/SVG pie charts</p>

          <!-- <h3>TODO: animated numbers</h3> -->
          <ul class="small-block-grid-2 medium-block-grid-4">
            <li>88% of ports and potable water sources</li>
            <li>77% of fire stations and waste-water treatment plants</li>
            <li>⅔ of all airports, hospitals, railways and schools</li>
            <li>~ ½ of all highway bridges, police stations and emergency command centers</li>
            <li>~3,000 miles of natural gas pipelines</li>
            <li>743 electric power facilities</li>
            <li>~ 1,000,000 residential buildings</li>
          </ul>

          <p>$70 billion in damage!</p>

        </div>

        <div class="wow fadeIn">
          <p><small>These estimates are based on the agency’s official planning scenario, which has the earthquake striking at 9:41 A.M. on February 6th. If, instead, it strikes in the summer, when the beaches are full, those numbers could be off by a horrifying margin.</small></p>
        </div>

      </div>
    </div>

  </div>

  <br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/>
</section>

<section class="js-animate-info preparedness">

  <section class="quotex">

    <div class="row text-center">
      <div class="columns">

        <h1>We are not prepared.</h1>
        <p>Unlike our friends in Japan, the Pacific Northwest is not prepared for the disaster at all:</p>

        <br/><br/>

        <blockquote class="wow fadeIn" data-wow-delay="0.5s">

          <h2>"... the gap between what we know and what we should do about it is getting bigger and bigger"</h2>

          <cite class="wow fadeIn" data-wow-delay="1.5s">
            <p>Dr. Chris Goldfinger, Geologist with Oregon State Uni</p>
          </cite>

        </blockquote>

      </div>
    </div>

  </section>

  <div class="row">
    <div class="columns">

      <div class="text-center">

        <h1>TODO: Give people hope!</h1>

        <h2>Potential fatalities along Cascadia’s coast can be reduced if people in the tsunami zone are educated about the hazard and prepared to evacuate to higher ground.</h2>

        <h2>Stop Wasting Time and Start Preparing</h2>
        <p>The disaster is unavoidable, but it doesn't take much to get prepared. Here’s what you need to do:</p>

      </div>

      <div id="js-risk" class="at-risk">

        <h1><span>1</span> Check to see if you are at risk</h1>

        <div class="row">
          <div class="columns">
            <!-- TODO: Fix 'Am I at risk?' bit -->
            <p class="js-animate-risk wow fadeIn">

              <button class="button large js-button-risk">
                Am I at risk?
                <span class="loading-indicator-location js-loading">Checking your location...</span>
              </button>

            </p>
          </div>
        </div>

        <div class="row">
          <div class="columns medium-10 medium-centered large-8 end text-center">

            <!-- TODO: messaging -->

            <div class="alert-box alert-box--danger alert-box--risk js-alert-box-danger">
              <h2>You're in the affected area</h2>
              <p>Please pay close attention to the following information!</p>
            </div>

            <div class="alert-box alert-box--safe alert-box--risk js-alert-box-safe">
              <h2>You're not in the affected area.</h2>
              <p>Phew, you've got nothing to worry about. But please share this information with people you know who live in Pacific Northwest!</p>
            </div>

          </div>
        </div>

      </siv>

      <hr>

      <h1><span>2</span> Secure your home</h1>

      <p>Lorem ipsum Excepteur Excepteur reprehenderit Excepteur in amet.</p>

      <ul>
        <li>Bolt your house to the foundation</li>
        <li>Bolt your furniture to the walls and floor. Install latches on cupboards.</li>
        <li>Secure dangerous equipment (water heater, etc) and make sure all family members excercise safe usage of utilities.</li>
        <li>Have a fire extinguisher (or five) handy.</li>
        <li>Keep beds and couches and tables away from windows.</li>
        <li>Remove heavy and sharp objects from the walls. Secure mirrors.</li>
        <li>Do not store alchohol/bottles above waist level.</li>
        <li>Get to know your neighbours -- you'll be working together when disaster strikes.</li>
      </ul>

      <hr>

      <h1><span>3</span> Prepare emergency kit</h1>

      <p>Lorem ipsum Excepteur Excepteur reprehenderit Excepteur in amet.</p>

      <ul>
        <li>Emergency-contact information</li>
        <li>Copies of important documents (birth certificates, passports, driver’s licenses, wills)</li>
        <li>Cash (A.T.M.s won’t work after the quake)</li>
        <li>Prescription drugs (these expire, so, as with food, you’ll have to periodically replace them)</li>
        <li>Flashlights, extra batteries</li>
        <li>Spare eyeglasses</li>
        <li>A whistle (attach one to your key chain, too, in case you wind up trapped somewhere)</li>
        <li>Basic first-aid supplies</li>
        <li>Warm clothing, sturdy shoes</li>
        <li>Rain gear, sleeping bags, a tent</li>
        <li>Water, food for 2-3 weeks</li>
        <li>Water-purification tablets or a back-country filtering device can be helpful in case water supplies are contaminated</li>
      </ul>

      <hr>

      <h1><span>4</span> Look up and learn the evacuation plan for your area</h1>

      <p>Know a way to the nearest gathering point / safe zone / evacuation point</p>

      <hr>

      <h1><span>5</span> Demand better seismic safety!</h1>

      <hr>

      <h1><span>6</span> Share this website.</h1>
      <p>Spread the word and help save lives.</p>
      <a href="" class="button large">Tweet This</a>
      <a href="" class="button large">FB Share This</a>
      <a href="" class="button large">Email This</a>

    </div>
  </div>

</section>


<section class="footer">

  <div class="row">
    <div class="columns">

      <h2>Credits &amp; Further Reading</h2>

      <ul>
        <li>This site is unaffiliated with, but heavily inspired by the <a href="http://www.newyorker.com/magazine/2015/07/20/the-really-big-one">New Yorker article</a> which gained popularity last summer. The <a href="http://www.newyorker.com/tech/elements/how-to-stay-safe-when-the-big-one-comes">follow-up article</a> (which includes safety tips) is also worth reading.</li>
        <li>The University of Oregon’s <a href="http://earthquake.uoregon.edu/">Pacific Northwest earthquake forum</a>.</li>
        <li>The <a href="http://crew.org/">Cascadia Region Earthquake Workgroup</a> and their <a href="http://crew.org/sites/default/files/cascadia_subduction_scenario_2013.pdf">Subduction Scenario</a>.</li>


        <li><a href="http://www.ezsystemspdx.com/san-andreas-fault-vs-cascadia-subduction-zone/">
          San Andreas vs Cascadia</a></li>
        <li>'The Really Big One' earthquake and tsunami explained by hands: <a href="https://www.youtube.com/watch?v=9n_hP9o2lf8">Watch the video</a></li>
      </ul>

    </div>
  </div>

</section>