---
title: The Really Big One
---

<!-- SVG background container -->
<div class="fixed-header">
</div>

<!-- Landing / Hero -->
<section class="hero">

  <div class="row">
    <div class="columns medium-7 medium-offset-1 large-7 large-offset-0">

      <h2 class="wow fadeInUp" data-wow-delay="0" data-wow-duration="1.25s">
          An earthquake will destroy a sizable portion of the Pacific Northwest.
      </h2>

      <h3 class="wow fadeInUp" data-wow-delay="0.25s" data-wow-duration="1.25s">
          The region will suffer the worst natural disaster<br/>in the history of North America.
      </h3>

      <p class="wow fadeInUp"  data-wow-delay="0.5s" data-wow-duration="1.25s" style="color: #777; margin-top: 1.25rem; margin-bottom: 2.5rem;">
        <a href="TODO">&mdash; <img style="display: inline; opacity: 0.3" src="/assets/images/nyr-logo.svg" width="150"></a>
      </p>

      <div class="row">
        <div class="columns medium-4">

          <p class="wow fadeInUp"  data-wow-delay="1.75s">
            <button class="button large js-button-risk">Am I at risk?<span class="loading-indicator-location js-loading">Checking your location...</span></button>
          </p>

        </div>
        <div class="columns medium-6 end">

          <div class="alert-box alert js-alert-box-danger">
            You're in the affected area. Please pay close attention to this information!
          </div>
          <div class="alert-box js-alert-box-safe">
            You're not in the affected area. Please share this information with people you know how live there!
          </div>

        </div>
      </div>

    </div>
  </div>

</section>


<!-- Subduction -->
<section class="subduction">

  <div class="row">
    <div class="columns medium-7 medium-offset-1 large-offset-0 text-center">

      <h2 class="wow animation-test" data-wow-delay="0.1s" data-wow-duration="0.5s">

          Cascadia Subduction zone
      </h2>

      <h3 class="fact wow animation-test" data-wow-delay="0.3s" data-wow-duration="0.5s">

          <span class="wow animation-test" data-wow-delay="0" data-wow-duration="1s">
            700 miles
          </span>

          <br/>
          off the coast of the Pacific Northwest
      </h3>

      <br/><br/><br/><br/><br/>

    </div>
  </div>

  <ul class="block-grid medium-block-grid-3 text-center" style="overflow: hidden;">
    <li class="wow slideInDown">Pacific Plate <br/> &darr;</li>
    <li class="wow slideInDown">Juan de Fuca plate <br/> &darr;</li>
    <li class="wow slideInDown">North American plate <br/> &darr;</li>
  </ul>

</section>


<!-- Earthquake -->
<section class="earthquake text-center">

  <div class="row">
    <div class="columns medium-7 medium-offset-1 large-offset-0">

      <h2>Full-margin Rupture</h2>
      <br/><br/>

      <div class="wow fadeIn">

        <button class="quake-timer radius" style="display: block; width: 250px; line-height: 1; height: 45px; margin: 0 auto; color: #fff; background: red;">Animate the bar:</button>

        <br/><br/>

        <div class="row">
          <div class="columns small-2">

            <h3 class="fact">
              <span style="color: salmon !important; position: relative; top: -1.75rem;">2:48</span>
              <br/>
            </h3>

          </div>
          <div class="columns small-10 medium-8 end">

            <div class="progress radius alert">
              <span class="meter custom-meter" style="width: 0%;"></span>
            </div>

          </div>
        </div>

      </div>

      <br/><br/><br/>

      <ul class="block-grid medium-block-grid-3 blog-grid--facts">

        <li>
          <h3 class="fact">
            <span>30 x</span>
            <br/>
            <small>the energy of a San Andreas fault earthquake!</small>
          </h3>
        </li>

        <li>
          <h3 class="fact">
            <span>7.000.000</span>
            <br/>
            <small>people in the affected area</small>
          </h3>
        </li>

        <li>
          <h3 class="fact">
            <span>14.000</span>
            <br/>
            <small>sq miles</small>
          </h3>
        </li>

      </ul>

    </div>
  </div>

</section>

<section class="earthquake text-center">

  <div class="row">
    <div class="columns medium-7 medium-offset-1 large-offset-0">

      <br/><br/><br/><br/>

      <blockquote>
        <h2 class="wow fadeInDown" data-wow-delay="0.15s" data-wow-duration="1s">
            "Our operating assumption is that everything west of Interstate 5 will be toast."
        </h2>
      </blockquote>

    </div>
  </div>

</section>

<section class="earthquake text-center">

  <div class="row">
    <div class="columns medium-7 medium-offset-1 large-offset-0">

      <h2>FEMA victims estimates are pretty grim</h2>

      <ul class="block-grid medium-block-grid-2 blog-grid--facts">

        <li>
          <h3 class="fact fact--small wow fadeIn">
            <span class="wow pulse">
              2.500.0000 <small>with no food or water</small>
            </span>
          </h3>
        </li>

        <li>
          <h3 class="fact wow fadeIn" data-wow-delay="0.2s">

              <span class="wow pulse" data-wow-delay="0.2s" data-wow-duration="0.6s">
                1.000.000 <small>misplaced</small>
              </span>

          </h3>
        </li>

      </ul>
      <ul class="block-grid medium-block-grid-2 blog-grid--facts">
        <li>
          <h3 class="fact fact--large wow fadeIn" data-wow-delay="0.4s">

            <span class="wow pulse" data-wow-delay="0.4s" data-wow-duration="0.8s">
              27.000 <small>injured</small>
            </span>

          </h3>
        </li>

        <li>
          <h3 class="fact fact--huge wow fadeIn" data-wow-delay="0.6s" data-wow-duration="1s">

            <span class="wow pulse" data-wow-delay="0.6s" data-wow-duration="2s" data-wow-iteration="5">
              13.000 <small>dead</small>
            </span>

          </h3>
        </li>

      </ul>


      <br/><br/><br/><br/><br/><br/><br/>


      <h2>The EQ will destroy:</h2>

      <br/><br/><br/>

      <ul class="block-grid medium-block-grid-4">
        <li>
          <h3 class="fact fact--large">
            <span>2/3</span>
            <br/>
            <small>of all airports, hospitals, railways, and schools</small>
          </h3>
        </li>
        <li>
          <h3 class="fact fact--large">
            <span>1/2</span>
            <br/>
            <small>of all highway bridges, police stations, and emergency command centers</small>
          </h3>
        </li>
        <li>
          <h3 class="fact fact--large">
            <span>88<strong style="font-size: 2rem; position: relative; top: -0.75rem; left: 0.25rem;">%</strong></span>
            <br/>
            <small>of all ports and potable water sources</small>
          </h3>
        </li>
        <li>
          <h3 class="fact fact--large">
            <span>77<strong style="font-size: 2rem; position: relative; top: -0.75rem; left: 0.25rem;">%</strong></span>
            <br/>
            <small>of all fire stations and waste-water treatment plants</small>
          </h3>
        </li>
      </ul>

      <ul class="block-grid medium-block-grid-3 blog-grid--facts">
        <li>
          <h3 class="fact fact--small">
            <span>743</span>
            <br/>
            <small>electric power facilities</small>
          </h3>
        </li>
        <li>
          <h3 class="fact fact--small">
            <span>1.000.000</span>
            <br/>
            <small>residential buildings</small>
          </h3>
        </li>
        <li>
          <h3 class="fact fact--small">
            <span>3.000</span>
            <br/>
            <small>miles of natural gas pipelines</small>
          </h3>
        </li>
      </ul>

      <br/>

      <div class="row">
        <div class="columns">

          <p style="color: #999;">* Estimates are based on the agency’s official planning scenario, which has the earthquake striking at 9:41 A.M. on February 6th. If, instead, it strikes in the summer, when the beaches are full, those numbers could be off by a horrifying margin.</p>

        </div>
      </div>

    </div>
  </div>

</section>

<section class="earthquake text-center">

  <div class="row">
    <div class="columns medium-10 medium-centered">

      <h2>Pacific Northwest is not prepared for the disaster at all</h2>

      <blockquote>
        <h3 class="wow fadeInDown" data-wow-delay="0.15s" data-wow-duration="1s">
            "... the gap between what we know and what we should do about it is getting bigger and bigger"
        </h3>

        <cite>- Dr. Goldfinger, Seismology expert</cite>
      </blockquote>

    </div>
  </div>

</section>

<section>

  <div class="row">
    <div class="columns">

      <h2>Stop Wasting Time and Start Preparing</h2>

      <p>The disaster is unavoidable, but it doesn't take much to get prepared. Here's what you need to do:</p>

      <hr>

      <h1><span>1</span> Secure your home</h1>

      <p>Lorem ipsum Excepteur Excepteur reprehenderit Excepteur in amet.</p>

      <ul>
        <li>Bolt your house to the foundation</li>
        <li>Bolt your furniture to the walls and floor. Install latches on cupboards.</li>
        <li>Secure dangerous equipment (water heater, etc) and make sure all family members excercise safe usage of utilities.</li>
        <li>Have a fire extinguisher (or five) handy.</li>
        <li>Keep beds and couches and tables away from windows.</li>
        <li>Remove heavy and sharp objects from the walls. Secure mirrors.</li>
        <li>Do not store alchohol/bottles above waist level.</li>
        <li>Get to know your neighbours -- you'll be working together when disaster strikes.</li>
      </ul>

      <hr>

      <h1><span>2</span> Prepare emergency kit</h1>

      <p>Lorem ipsum Excepteur Excepteur reprehenderit Excepteur in amet.</p>

      <ul>
        <li>Emergency-contact information</li>
        <li>Copies of important documents (birth certificates, passports, driver’s licenses, wills)</li>
        <li>Cash (A.T.M.s won’t work after the quake)</li>
        <li>Prescription drugs (these expire, so, as with food, you’ll have to periodically replace them)</li>
        <li>Flashlights, extra batteries</li>
        <li>Spare eyeglasses</li>
        <li>A whistle (attach one to your key chain, too, in case you wind up trapped somewhere)</li>
        <li>Basic first-aid supplies</li>
        <li>Warm clothing, sturdy shoes</li>
        <li>Rain gear, sleeping bags, a tent</li>
        <li>Water, food for 2-3 weeks</li>
        <li>Water-purification tablets or a back-country filtering device can be helpful in case water supplies are contaminated</li>
      </ul>

      <hr>

      <h1><span>3</span> Look up and learn the evacuation plan for your area</h1>

      <p>Know a way to the nearest gathering point / safe zone / evacuation point</p>

    </div>
  </div>

</section>

<section>

  <div class="row">
    <div class="columns">

      <h2>CTA</h2>

      <a href="" class="button large">Share This</a>

    </div>
  </div>

</section>