---
title: The Really Big One
---

<div id="preloader">
  <h1 class="blink">The Big One Is Coming &hellip;</h1>
  <a href="http://github.hubspot.com/pace/docs/welcome/">I'd like to implement an idicator like the tiny red loading bar at the top on YouTube. This should be quick and easy: http://github.hubspot.com/pace/docs/welcome/</a>
</div>

<!-- Landing / Hero -->
<section class="hero">

  <img class="hide-for-small credit-logo credit-logo--left" src="/assets/images/nyr-logo.svg" onerror="this.onerror=null; this.src='/assets/images/nyr-logo.png'" />

  <a class="title-logo" href="/">
    <img class="wow fadeInDown" src="/assets/images/trbo-logo.svg" onerror="this.onerror=null; this.src='/assets/images/trbo-logo.png'" width="150" />
  </a>

  <img class="hide-for-small credit-logo credit-logo--right" src="/assets/images/arc-logo.svg" onerror="this.onerror=null; this.src='/assets/images/arc-logo.png'" width="160" />

  <div class="row">
    <!-- TODO: -->
    <div class="columns medium-10 medium-offset-1 text-center">

      <h1 class="wow fadeIn" data-wow-delay="0.25s" data-wow-duration="1.25s">An <strong>earthquake will destroy</strong> a sizable portion of the <strong>Pacific Northwest</strong>.</h1>

      <h3 class="wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1.25s">It’s not a question of if, but when.</h3>

      <a style="display: block; margin: 0 auto; margin-top: 7vh; color: red;" class="wow fadeIn" data-wow-delay="1s" href="#subduction"><span class="blink">&darr;</span></a>

    </div>
  </div>

</section>


<!-- Subduction description -->
<section id="subduction" class="subduction js-animate-subductionx">

  <div class="row">
    <div class="medium-11 columns medium-centered large-10 large-offset-0 large-centered">

      <h1 class="wow fadeInUp">Meet the Cascadia Subduction Zone</h1>

      <div class="wow fadeInUp" data-wow-delay="0.3s">
        <p>You might think that San Andreas is the only thing we have to worry about. You’d be wrong: There’s a 700 mile fault line stretching from Vancouver to Northern California off the Pacific coast.</p>

        <p><strong><em>Cascadia</em> has the potential to create 30 times the energy of the San Andreas fault.</strong></p>
      </div>

    </div>
  </div>

</section>


<section id="prediction" class="prediction">

 <!--  <div class="row text-center">
    <div class="columns large-9 large-centered">

      <p>Science shows that the <span data-tooltip class="has-tip tip-top" aria-haspopup="true" title="Complete opening up of the fault">full-margin rupture</span> here happens on average every 400-600 years. TODO: "lighter" quakes happen more often (every 250 years on average or something). This paragraph needs more work.</p>

      <br/><br/>
      <br/><br/><br/>

    </div>
  </div> -->

  <div class="row">
    <div class="medium-10 columns medium-centered text-center wow fadeInUp">

      <h1><small>Scientists are telling us that Cascadia is going to start moving.</small> <!-- major --> A quake in the next 50 years is a serious risk</h1>
      <!-- <p>1700 was the last time Cascadia ruptured.</p> -->

      <!-- <p>Experts report there is a one in three chance of a Big One, and one in ten chance of The Really Big One happening in the next 50 years.</p> -->

    </div>
    <!-- <div class="medium-3 columns text-center">

    </div> -->
  </div>

  <div class="row text-center">
    <div class="medium-8 medium-centered large-6 columns">

      <ul class="medium-block-grid-2">
        <li>
          <span class="circle-container circle-container--large wow bounceIn orange" data-wow-delay="0.25s">
            <span class="content wow fadeIn" data-wow-delay="0.35s">30%</span>
            <div class="dot"></div>
          </span>

          <h4 class="wow fadeInUp" data-wow-delay="0.45s">Chance of a magnitude <strong>8.5+</strong> <!-- 8.2-8.6 --> earthquake</h4>
        </li>
        <li>
          <span class="circle-container circle-container--large wow bounceIn orange" data-wow-delay="0.35s">
            <span class="content wow fadeIn" data-wow-delay="0.45s">10%</span>
            <div class="dot"></div>
          </span>

          <h4 class="wow fadeInUp" data-wow-delay="0.55s">Chance of a magnitude <strong>9+</strong> <!-- 8.7-9.2 --> earthquake</h4>
        </li>
      </ul>

    </div>
  </div>

</section>


<!-- Japan -->
<section id="js-japan" class="japan text-center">

  <div class="row japan__polaroids">

    <div class="columns medium-3 hide-for-small">
      <a href="TODO" title="TODO"class="wow fadeInx rollIn" data-wow-delay="0">
        <img alt="TODO" src="/media/japan/japan-disaster-09.jpg" width="500">
      </a>
      <a href="TODO" title="TODO" class="wow fadeInx rollIn" data-wow-delay="0.25s">
        <img alt="TODO" src="/media/japan/japan-disaster-04.jpg" width="400">
      </a>
      <a href="TODO" title="TODO" class="wow fadeInx rollIn" data-wow-delay="0.375s">
        <img alt="TODO" src="/media/japan/japan-disaster-01.jpg" width="400">
      </a>
    </div>

    <div class="columns medium-6 medium-11x medium-centeredx large-9x">

      <!-- TODO: -->
      <!-- <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.5s">
        <img alt="TODO" src="/media/japan/japan-disaster-02.jpg" width="400">
      </a> -->

      <!-- <div class="row"> -->
        <!-- <div class="columns text-center"> -->

          <!-- <h2 class="wow fadeInUp" data-wow-delay="0">Remember the massive quake and tsunami that hit Japan in 2011, causing nuclear meltdown and horrific damage?</h2> -->

          <h1 class="wow fadeInUp"><small>Okay, so let's put that into context...</small>Remember Japan<br>in 2011?</h1>

          <div class="row">
            <div class="medium-11 medium-centered large-10 columns">

              <p class="wow fadeIn" data-wow-delay="0.125s">That quake was of magnitude <strong>9.0</strong>. We're at real risk of an even more powerful quake from Cascadia.</p>

              <p class="wow fadeIn" data-wow-delay="0.375s">Here's what's going to happen...</p>

            </div>
          </div>

          <!-- <a style="display: block; margin: 0 auto; margin-top: 7vh; color: red;" class="wow fadeIn" data-wow-delay="1s" href="#subduction"><span class="blink">&darr;</span></a> -->

        <!-- </div> -->
      <!-- </div> -->

      <!-- <a href="TODO" title="TODO" class="hide-for-small wowx fadeIn" data-wow-delay="0.25s">
        <img alt="TODO" src="/media/japan/japan-disaster-07.jpg" width="400">
      </a> -->
    </div>

    <div class="columns medium-3 hide-for-small">
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.125s">
        <img alt="TODO" src="/media/japan/japan-disaster-03.jpg" width="380">
      </a>
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.275s">
        <img alt="TODO" src="/media/japan/japan-disaster-06.jpg" width="400">
      </a>
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.35s">
        <img alt="TODO" src="/media/japan/japan-disaster-05.jpg" width="400">
      </a>
    </div>

  </div>

</section>


<section class="prediction">

  <!-- TODO: -->
  <!-- <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/> -->

  <div class="row text-center">
    <div class="columns">

      <h1 class="fancy-headline wow fadeIn" data-wow-delay="0.5s" data-wow-duration="1.25s"><small style="position: relative; left: -25%;">&ldquo; The region will suffer</small> the worst natural disaster <small style="position: relative; right: -15%;">in the history of North America &rdquo;</small></h1>

      <ul class="medium-block-grid-3">

        <li>
          <object class="wow bounceIn" data-wow-delay="0.25s" data="/media/trbo-icon-eq.svg" type="image/svg+xml" width="165"></object>

          <div class="wow fadeInUp" data-wow-delay="0.25s">
            <h4>A huge earthquake</h4>
            <p>will last for 4 minutes or longer</p>
          </div>
        </li>

        <li>
          <br/>
          <object class="wow bounceIn" data-wow-delay="0.4s" data="/media/trbo-icon-tsunami.svg" type="image/svg+xml" width="165"></object>

          <div class="wow fadeInUp" data-wow-delay="0.4s">
            <h4>A devastating tsunami</h4>
            <p>will reach the continent 15 minutes after the shaking has stopped</p>
          </div>
        </li>

        <li>
          <br/><br/>
          <object class="wow bounceIn" data-wow-delay="0.6s" data="/media/trbo-icon-aftershock.svg" type="image/svg+xml" width="165"></object>

          <div class="wow fadeInUp" data-wow-delay="0.6s">
            <h4>Aftershocks</h4>
            <p>will follow, just when you think the coast has cleared</p>
          </div>
        </li>

      </ul>

      <br/><br/><br/><br/>

    </div>
  </div>

</section>

<!-- <section class="quote">

  <div class="row text-center">
    <div class="columns">

      <blockquote class="wow fadeIn" data-wow-delay="0.5s">

        <h2>"Our operating assumption is that everything west of Interstate 5 will be toast."</h2>

        <cite class="wow fadeIn" data-wow-delay="1.5s">
          <p>Kenneth Murphy, FEMA Region X director in an interview with The New Yorker</p>
        </cite>

      </blockquote>

    </div>
  </div>
</section> -->


<section id="js-cascadia-journey" class="cascadia-journey">

  <!-- cities trigger points -->
  <div class="cities-trigger cities-trigger--vancouver js-cities-trigger-vancouver"></div>
  <div class="cities-trigger cities-trigger--seattle js-cities-trigger-seattle"></div>
  <div class="cities-trigger cities-trigger--olympia js-cities-trigger-olympia"></div>
  <div class="cities-trigger cities-trigger--portland js-cities-trigger-portland"></div>
  <div class="cities-trigger cities-trigger--salem js-cities-trigger-salem"></div>
  <div class="cities-trigger cities-trigger--eugene js-cities-trigger-eugene"></div>
  <div class="cities-trigger cities-trigger--grantspass js-cities-trigger-grantspass"></div>
  <div class="cities-trigger cities-trigger--redding js-cities-trigger-redding"></div>

  <!-- cities -->
  <div class="cities js-cities-vancouver">
    <object data="/media/cities/trbo-map-vancouver.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities js-cities-seattle">
    <object data="/media/cities/trbo-map-seattle.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities js-cities-olympia">
    <object data="/media/cities/trbo-map-olympia.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities js-cities-portland">
    <object data="/media/cities/trbo-map-portland.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities js-cities-salem">
    <object data="/media/cities/trbo-map-salem.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities js-cities-eugene">
    <object data="/media/cities/trbo-map-eugene.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities js-cities-grantspass">
    <object data="/media/cities/trbo-map-grantspass.svg" type="image/svg+xml"></object>
  </div>

  <div class="cities js-cities-redding">
    <object data="/media/cities/trbo-map-redding.svg" type="image/svg+xml"></object>
  </div>

  <!-- tsunamis trigger points -->
  <div class="tsunamis-trigger tsunamis-trigger--wave-1 js-tsunamis-trigger-wave-1"></div>
  <div class="tsunamis-trigger tsunamis-trigger--wave-2 js-tsunamis-trigger-wave-2"></div>
  <div class="tsunamis-trigger tsunamis-trigger--wave-3 js-tsunamis-trigger-wave-3"></div>
  <div class="tsunamis-trigger tsunamis-trigger--wave-4 js-tsunamis-trigger-wave-4"></div>
  <div class="tsunamis-trigger tsunamis-trigger--wave-5 js-tsunamis-trigger-wave-5"></div>
  <div class="tsunamis-trigger tsunamis-trigger--wave-6 js-tsunamis-trigger-wave-6"></div>
  <div class="tsunamis-trigger tsunamis-trigger--wave-7 js-tsunamis-trigger-wave-7"></div>

  <!-- tsunamis -->
  <div class="tsunamis js-tsunamis-wave-1">
    <object data="/media/tsunamis/trbo-map-wave-1.svg" type="image/svg+xml"></object>
  </div>

  <div class="tsunamis js-tsunamis-wave-2">
    <object data="/media/tsunamis/trbo-map-wave-2.svg" type="image/svg+xml"></object>
  </div>

  <div class="tsunamis js-tsunamis-wave-3">
    <object data="/media/tsunamis/trbo-map-wave-3.svg" type="image/svg+xml"></object>
  </div>

  <div class="tsunamis js-tsunamis-wave-4">
    <object data="/media/tsunamis/trbo-map-wave-4.svg" type="image/svg+xml"></object>
  </div>

  <div class="tsunamis js-tsunamis-wave-5">
    <object data="/media/tsunamis/trbo-map-wave-5.svg" type="image/svg+xml"></object>
  </div>

  <div class="tsunamis js-tsunamis-wave-6">
    <object data="/media/tsunamis/trbo-map-wave-6.svg" type="image/svg+xml"></object>
  </div>

  <div class="tsunamis js-tsunamis-wave-7">
    <object data="/media/tsunamis/trbo-map-wave-7.svg" type="image/svg+xml"></object>
  </div>

  <!-- Journey background image -->
  <img class="cascadia-journey__background" src="/media/map/trbo-map-base.svg">

  <!-- TODO: position this at the beginning of the journey -->
  <!-- Helicopter -->
  <img class="helicopter" src="/media/map/helicopter.svg">

  <div class="cascadia-journey__content cascadia-journey__quake js-animate-earthquake-1">

    <div class="cascadia-journey__timer">
      <h1 class="js-quake-counter">0:00</h1>

      <div class="progress radius alert">
        <span class="meter custom-meter" style="width: 0%;"></span>
      </div>

      <small>TODO: should be visible only until you get to Olympia</small>
      <small>TODO: ideally this would change colour from yellow to red</small>
    </div>

    <div class="row">
      <div class="small-9 medium-8 medium-offset-1 columns">
        <!-- <h1>TODO: Chapter 1: Earthquake<br/>from Vancouver to Seattle</h1> -->
        <!-- <h2>TODO: Timer starts</h2> -->

        <div class="wow fadeIn">

          <!-- <h2>TODO: EQ Trivia</h2> -->

          <h1><small>The following information may save your life.</small>Here's how it will all unfold.</h1>

          <p>Animals are able to sense the seismic waves.</p>
          <p>Before the earthquake starts, dogs will start barking and animals will go crazy.</p>

          <p>TODO: An illustration/animation of dogs barking?</p>
        </div>

        <div class="wow fadeIn">
          <p>TODO: One more bit of EQ trivia?</p>
        </div>

        <!-- <div class="wow fadeIn">
          <h2>Earthquakes don’t kill people, buildings and their contents do.</h2>
        </div> -->

        <div class="wow fadeIn" data-wow-delay="0.5s">

          [TODO: icon]
          <!-- <h3>If you're indoors when it happens</h3> -->
          <h1>Indoors</h1>

          <h3>&mdash; Earthquakes don’t kill people, buildings <!-- and their contents --> do.</h3>

          <br/><br/>

          <p>Don't rush to the exit! Drop, cover and hold on!</p>

          <small>TODO: Drop, Cover and Hold On illo</small>
          <br/>
          <img src="TODO" alt="Drop, Cover and Hold On" height="100">
          <br/><br/>

          <ol>
            <li>Hide under a sturdy table</li>
            <li>Cover your head &amp; neck</li>
            <li>Hold on until the shaking stops</li>
          </ol>

          <p>If there’s no table, go to an inside wall, corner of the room, or lay down next to a couch.</p>

          <br/>

          <div class="alert-box warning"><p><small>[TODO: icon] Tip: You should practice the “DROP, COVER AND HOLD ON” method at work and at home at least twice a year.</small></p></div>

          <!-- <ul> -->
            <!-- <li>Don’t go outside</li> -->
            <!-- <li>Watch out for objects that could fall</li> -->
            <!-- <li>Don’t rush to the exit</li> -->
            <!-- <li>Hide under a sturdy table, cover your head &amp; neck, hold on until the shaking stops</li> -->
            <!-- <li>Grab onto the table leg and hold on until shaking stops</li> -->
            <!-- <li>If there’s no table, go to an inside wall, corner of the room, or lay down next to a couch</li> -->
          <!-- </ul> -->

          <!-- <p>TODO: YOU ARE SAFER PRACTICING THE “DROP, COVER, AND HOLD ON” maneuver under a sturdy piece of furniture like a strong desk or table. If indoors, stay there. Drop to the floor, make yourself small and get under a desk or table or stand in a corner. If outdoors, get into an open area away from trees, buildings, walls and power lines. If in a high-rise building, stay away from windows and outside walls, stay out of elevators, and get under a table. If driving, pull over to the side of the road and stop. Avoid overpasses and power lines. Stay inside your car until the shaking is over. If in a crowded public place, do not rush for the doors. Crouch and cover your head and neck with your hands and arms. You should practice the “DROP, COVER AND HOLD ON” method at work and at home at least twice a year.</p> -->

        </div>

        <div class="wow fadeIn" data-wow-delay="0.5s">

          [TODO: icon]
          <!-- <h3>If you're outside in the city</h3> -->
          <h1>In the city</h1>

          <ul>
            <li>Move to an open area, away from buildings, streetlights or utility wires</li>
            <li>If you’re in a densely built area, hide inside a lobby of the nearest building</li>
            <li>Avoid bridges, underpasses and parking garages</li>
            <li>If you’re in a car, stop it, set the parking brake, and stay in the car until shaking stops</li>
          </ul>

          [TODO: icon]
          <!-- <h3>If you're outdoors</h3> -->
          <h1>Outdoors</h1>

          <ul>
            <li>Move away from cliffs and steep embankments to avoid landslides</li>
            <li>Stay away from river beds as they carry a lot of debrees and surges of water and mud</li>
          </ul>

        </div>

        <div class="wow fadeIn" data-wow-delay="0.5s">

          [TODO: icon]
          <!-- <h3>If you’re near the coast</h3> -->
          <h1>At the coast</h1>

          <ul>
            <li>Flee to high ground as quickly and possible to escape tsunami waves</li>
            <li>If there's no highground in the area, go to the nearest vertical evacuation point</li>
          </ul>

          <p>[TODO: icon] Warning: If you’re at the epicentre you’ll only have a few minutes until the first wave hits</p>

        </div>

        <!-- <h2>TODO: Timer Stops</h2> -->

      </div>
    </div>

  </div>
  <!-- End of js-animate-earthquake-1 -->

  <div class="cascadia-journey__content js-animate-earthquake-2">

    <div class="row">
      <div class="small-9 medium-8 medium-offset-1 columns">

        <!-- <h1>TODO: Chapter 2: Tsunami<br/>from Seattle to Olympia</h1> -->
        <!-- <h2>TODO: 15 minutes later Tsunami will hit the continent</h2> -->

        <div class="wow fadeIn">
          <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</h2>
          <p>You have 15 minutes to get to the high ground because the tsunami will follow</p>
        </div>

        <!-- <h2>[Animation] Tsunami waves form on the left hand side of the screen</h2> -->
        <!-- <h2>Tsunami stats (people in risk zone etc)</h2> -->

        <div class="wow fadeIn">

          <ul>
            <li>Waves will be as high as 100ft in some areas, and will come 3 miles inland</li>
            <li>There are 71000 people in the inundation zone of the tsunami</li>
            <li>TODO: Etc</li>
          </ul>

        </div>

        <div class="wow fadeIn">
          <h2>Of all natural disasters tsunamis are the hardest to survive... TODO: Dig up that good line from the content strat doc</h2>
        </div>

        <div class="wow fadeIn">

          <ul>
            <li>TODO</li>
            <li>TODO</li>
          </ul>

        </div>

      </div>
    </div>

  </div>
  <!-- End of js-animate-earthquake-2 -->


  <div class="cascadia-journey__content js-animate-earthquake-3">

    <div class="row">
      <div class="small-9 medium-8 medium-offset-1 columns">

        <!-- <h1>TODO: Chapter 3: Tsunami part 2<br/>from Olympia to Portland</h1> -->

        <!-- <h2>[Animation] Tsunami reaches the continent and goes inland + the beach scene</h2> -->
        <!-- <h2>[Animation] Tsunami Receds</h2> -->

        <!-- <h1>... Portland to Eugene</h1> -->

        <div class="wow fadeIn">
          <h2>By the time the shaking has ceased and the tsunami has receded, the region will be unrecognizable</h2>
        </div>

        <div class="wow fadeIn">

          <ul class="block-grid medium-block-grid-2 blog-grid--facts">

            <li>
              <p>[TODO: Cross/Tombstone ICON]</p>
              <h3 class="fact fact--large">
                <span class="js-quake-energy">0</span>
                <br/>
                <small>dead</small>
              </h3>
            </li>

            <li>
              <p>[TODO: Medical ICON]</p>
              <h3 class="fact">
                <span class="js-quake-people">0</span>
                <br/>
                <small>injured</small>
              </h3>
            </li>

            <li>
              <p>[TODO: Broken House ICON]</p>
              <h3 class="fact fact--small">
                <span class="js-quake-miles">0</span>
                <br/>
                <small>misplaced</small>
              </h3>
            </li>

            <li>
              <p>[TODO: No supplies ICON]</p>
              <h3 class="fact fact--small">
                <span class="js-quake-miles">0</span>
                <br/>
                <small>with no access to food or water</small>
              </h3>
            </li>

          </ul>

          <div class="wow fadeIn">

            <p>TODO: ^^</p>

            <ul class="medium-block-grid-2">
              <li>13,000 dead</li>
              <li>27,000 injured</li>
              <li>1,000,000 misplaced</li>
              <li>2,500,000 with no access to food or water</li>
            </ul>

          </div>

        </div>

      </div>
    </div>

    <hr>

    <div class="quotex wow fadeIn">

      <div class="row text-center">
        <div class="small-9 medium-8 medium-offset-1 columns">

          <blockquote class="wow fadeIn" data-wow-delay="0.5s">

            <h2>"Our operating assumption is that everything west of Interstate 5 will be toast."</h2>

            <cite class="wow fadeIn" data-wow-delay="1.5s">
              <p>Kenneth Murphy, FEMA Region X director in an interview with The New Yorker</p>
            </cite>

          </blockquote>

        </div>
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="small-9 medium-8 medium-offset-1 columns">

        <!-- <h1>TODO: Chapter 3: Destruction Stats</h1> -->
        <!-- <h3>TODO: animated numbers</h3> -->

        <div class="wow fadeIn">
          <h2>A lot of the areas will be inaccessible / cut off etc</h2>
        </div>

        |<br/>
        |<br/>
        |<br/>
        |<br/>
        V<br/>


        <div class="wow fadeIn">

          <p>Region-wide, FEMA (TODO) expects to see seriously damaged or destroyed</p>

          <!-- <h3>TODO: animated numbers</h3> -->
          <ul class="small-block-grid-2 medium-block-grid-4">
            <li>88% of ports and potable water sources</li>
            <li>77% of fire stations and waste-water treatment plants</li>
            <li>⅔ of all airports, hospitals, railways and schools</li>
            <li>~ ½ of all highway bridges, police stations and emergency command centers</li>
            <li>~3,000 miles of natural gas pipelines</li>
            <li>743 electric power facilities</li>
            <li>~ 1,000,000 residential buildings</li>
          </ul>

          <p>$70 billion in damage!</p>

        </div>

        <div class="wow fadeIn">
          <p><small>These estimates are based on the agency’s official planning scenario, which has the earthquake striking at 9:41 A.M. on February 6th. If, instead, it strikes in the summer, when the beaches are full, those numbers could be off by a horrifying margin.</small></p>
        </div>

      </div>
    </div>

  </div>

  <br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/>
  <br/><br/><br/><br/><br/><br/><br/><br/>
</section>


<section id="js-risk" class="at-risk">

  <div class="row">
    <div class="columns">
      <!-- TODO: Fix 'Am I at risk?' bit -->
      <p class="js-animate-risk wow fadeIn text-center">

        <button class="button large js-button-risk">
          Am I at risk?
          <span class="loading-indicator-location js-loading">Checking your location...</span>
        </button>

      </p>
    </div>
  </div>

  <div class="row">
    <div class="columns medium-10 medium-centered large-8 end text-center">

      <!-- TODO: messaging -->

      <div class="alert-box alert-box--danger alert-box--risk js-alert-box-danger">
        <h2>You're in the affected area</h2>
        <p>Please pay close attention to the following information!</p>
      </div>

      <div class="alert-box alert-box--safe alert-box--risk js-alert-box-safe">
        <h2>You're not in the affected area.</h2>
        <p>Phew, you've got nothing to worry about. But please share this information with people you know who live in Pacific Northwest!</p>
      </div>

    </div>
  </div>

</section>


<section class="js-animate-info preparedness">

  <section class="quotex">

    <div class="row text-center">
      <div class="columns">

        <h1>We are not prepared.</h1>
        <p>Unlike our friends in Japan, the Pacific Northwest is not prepared for the disaster at all:</p>

        <br/><br/>

        <blockquote class="wow fadeIn" data-wow-delay="0.5s">

          <h2>"... the gap between what we know and what we should do about it is getting bigger and bigger"</h2>

          <cite class="wow fadeIn" data-wow-delay="1.5s">
            <p>Dr. Chris Goldfinger, Geologist with Oregon State Uni</p>
          </cite>

        </blockquote>

      </div>
    </div>

  </section>

  <div class="row">
    <div class="columns">

      <div class="text-center">

        <h1>TODO: Give people hope!</h1>

        <h2>Potential fatalities along Cascadia’s coast can be reduced if people in the tsunami zone are educated about the hazard and prepared to evacuate to higher ground.</h2>

        <h2>Stop Wasting Time and Start Preparing</h2>
        <p>The disaster is unavoidable, but it doesn't take much to get prepared. Here’s what you need to do:</p>

      </div>

      <hr>

      <h1><span>1</span> Secure your home</h1>

      <p>Lorem ipsum Excepteur Excepteur reprehenderit Excepteur in amet.</p>

      <ul>
        <li>Bolt your house to the foundation</li>
        <li>Bolt your furniture to the walls and floor. Install latches on cupboards.</li>
        <li>Secure dangerous equipment (water heater, etc) and make sure all family members excercise safe usage of utilities.</li>
        <li>Have a fire extinguisher (or five) handy.</li>
        <li>Keep beds and couches and tables away from windows.</li>
        <li>Remove heavy and sharp objects from the walls. Secure mirrors.</li>
        <li>Do not store alchohol/bottles above waist level.</li>
        <li>Get to know your neighbours -- you'll be working together when disaster strikes.</li>
      </ul>

      <hr>

      <h1><span>2</span> Prepare emergency kit</h1>

      <p>Lorem ipsum Excepteur Excepteur reprehenderit Excepteur in amet.</p>

      <ul>
        <li>Emergency-contact information</li>
        <li>Copies of important documents (birth certificates, passports, driver’s licenses, wills)</li>
        <li>Cash (A.T.M.s won’t work after the quake)</li>
        <li>Prescription drugs (these expire, so, as with food, you’ll have to periodically replace them)</li>
        <li>Flashlights, extra batteries</li>
        <li>Spare eyeglasses</li>
        <li>A whistle (attach one to your key chain, too, in case you wind up trapped somewhere)</li>
        <li>Basic first-aid supplies</li>
        <li>Warm clothing, sturdy shoes</li>
        <li>Rain gear, sleeping bags, a tent</li>
        <li>Water, food for 2-3 weeks</li>
        <li>Water-purification tablets or a back-country filtering device can be helpful in case water supplies are contaminated</li>
      </ul>

      <hr>

      <h1><span>3</span> Look up and learn the evacuation plan for your area</h1>

      <p>Know a way to the nearest gathering point / safe zone / evacuation point</p>

      <hr>

      <h1><span>4</span> Demand better seismic safety!</h1>

      <hr>

      <h1><span>5</span> Share this website.</h1>
      <p>Spread the word and help save lives.</p>

    </div>
  </div>

</section>

<section class="sharing">

  <div class="row">
    <div class="columns">

      <h1>CTA</h1>

      <a href="" class="button large">Share This</a>

    </div>
  </div>

</section>

<br/><br/><br/><br/><br/>


<section class="footer">

  <div class="row">
    <div class="columns">

      <h1>Credits &amp; More Resources</h1>


      <a target="_blank" href="http://www.ezsystemspdx.com/san-andreas-fault-vs-cascadia-subduction-zone/" style="position: relative; top: -240px;">&larr; (?) San Andreas vs Cascadia</a>

      <section class="cascadia-hands wow fadeIn">
        <div class="row">
          <div class="columns">

            <!-- Old panel -->
            <!-- <div class="deep-dive-panel wow bounceIn" data-wow-delay="1s">
            </div> -->

            <h4>'The Really Big One' earthquake and tsunami explained by hands: <a class="button" href="#" data-reveal-id="videoModal">Watch the video</a></h4>
            <!-- [TODO: PLAY button] -->

            <div id="videoModal" class="reveal-modal large" data-reveal aria-labelledby="videoModalTitle" aria-hidden="true" role="dialog">
              <div class="flex-video widescreen vimeo">
                <iframe width="1280" height="720" src="https://www.youtube.com/embed/9n_hP9o2lf8" frameborder="0" allowfullscreen></iframe>
              </div>

              <a class="close-reveal-modal" aria-label="Close">&#215;</a>
            </div>

          </div>
        </div>
      </section>

    </div>
  </div>

</section>