---
title: The Really Big One
---

<div id="preloader">The Big One Is Coming ...</div>

<!-- SVG background container -->
<!-- <div class="fixed-header">
  <object data="/assets/images/hero-map.svg" type="image/svg+xml" id="hero-map" width="100%" height="100%"></object>
</div> -->

<!-- Landing / Hero -->
<section class="hero">

  <p style="position: absolute; top: 20px; left: 5%;">[TODO: NEW YORKER LOGO]</p>

  <h5 style="position: absolute; top: 35px; left: 42.5%; font-size: 1.5rem; color: #aaa;">[TODO: TRBO LOGO]</h5>

  <p style="position: absolute; top: 20px; right: 5%;">[TODO: RED CROSS LOGO]</p>

  <div class="row">
    <!-- TODO: -->
    <div class="columns medium-10 medium-offset-1 text-center" style="position: relative;">

      <h1 class="wow fadeInUp" data-wow-delay="0" data-wow-duration="1.25s">
          An <strong>earthquake will destroy</strong> a sizable portion of the <strong>Pacific Northwest</strong>.
      </h1>

      <h3 class="wow fadeInUp" data-wow-delay="1s" data-wow-duration="1.25s">
          It’s not a question of "if", but "<strong>when</strong>".
          <!-- "The region will suffer the worst natural disaster in the history of North America." -->
      </h3>

      <!-- <p class="wow fadeInUp"  data-wow-delay="1.5s" data-wow-duration="1.25s">
        <a href="TODO">&mdash; <img src="/assets/images/nyr-logo.svg" width="150"></a>
      </p> -->

      <!-- TODO: Move this later into a better place -->
      <!-- <div class="row" style="position: absolute; bottom: -120px; width: 100%">

        <div class="columns medium-4">

          <p class="js-animate-risk">
            <button class="button large js-button-risk">
              Am I at risk?
              <span class="loading-indicator-location js-loading">Checking your location...</span>
            </button>
          </p>

        </div>

        <div class="columns medium-6 end text-center" style="position: absolute; right: -450px; width: 325px; top: -250px;">

          <div class="alert-box alert js-alert-box-danger">
            You're in the affected area. Please pay close attention to this information!
          </div>
          <div class="alert-box js-alert-box-safe">
            You're not in the affected area. Please share this information with people you know who live in PNW!
          </div>

        </div>
      </div> -->

      <a style="display: block; margin: 0 auto; margin-top: 7vh;" class="wow fadeIn" data-wow-delay="3s" href="#js-japan">&darr;</a>

    </div>
  </div>

</section>


<!-- Japan -->
<section id="js-japan" class="japan text-center">

<!--   <div class="row">
    <div class="columns medium-10 medium-centered large-9">

      <h2 class="wow fadeIn" data-wow-delay="2s">Remember the massive quake and tsunami that hit Japan in 2011, causing nuclear meltdown and horrific damage?</h2>

      <p class="wow fadeIn" data-wow-delay="4s">If we’re lucky, the quake that’s due to hit the Pacific Northwest will be of a similar size.</p>

      <p class="wow fadeIn" data-wow-delay="5.25s">If we’re not, it’s going to be a whole lot worse.</p>

    </div>
  </div> -->

  <div class="row japan__polaroids" style="width: 120%; max-width: 120%; margin: 0 0 0 -10%;">
    <div class="columns medium-3">
      <a href="TODO" title="TODO"class="wow fadeIn" data-wow-delay="0">
        <img alt="TODO" src="/media/japan/japan-disaster-09.jpg" width="500">
      </a>
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.5s">
        <img alt="TODO" src="/media/japan/japan-disaster-04.jpg" width="400">
      </a>
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.25s">
        <img alt="TODO" src="/media/japan/japan-disaster-01.jpg" width="400">
      </a>
    </div>
    <div class="columns medium-6" style="margin-top: -5rem;">
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.5s">
        <img alt="TODO" src="/media/japan/japan-disaster-02.jpg" width="400">
      </a>

      <div class="row">
        <div class="columns text-center">

          <h2 class="wow fadeIn" data-wow-delay="1.5s">Remember the massive quake and tsunami that hit Japan in 2011, causing nuclear meltdown and horrific damage?</h2>

          <!-- TODO: -->
          <br/><br/>

          <p class="wow fadeIn" data-wow-delay="2.5s">If we’re lucky, the quake that’s due to hit the Pacific Northwest will be of a similar size.</p>

          <p class="wow fadeIn" data-wow-delay="4s">If we’re not, it’s going to be a whole lot worse.</p>

        </div>
      </div>

      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.25s">
        <img alt="TODO" src="/media/japan/japan-disaster-07.jpg" width="400">
      </a>
    </div>
    <div class="columns medium-3">
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.25s">
        <img alt="TODO" src="/media/japan/japan-disaster-03.jpg" width="380">
      </a>
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.25s">
        <img alt="TODO" src="/media/japan/japan-disaster-06.jpg" width="400">
      </a>
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.5s">
        <img alt="TODO" src="/media/japan/japan-disaster-05.jpg" width="400">
      </a>
    </div>
  </div>

  <!-- <ul class="polaroids medium-block-grid-3">
    <li>
      <a href="TODO" title="TODO" class="wow fadeIn">
        <img alt="TODO" src="/media/japan/japan-disaster-09.jpg">
      </a>
    </li>
    <li>
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.75s">
        <img alt="TODO" src="/media/japan/japan-disaster-02.jpg">
      </a>
    </li>
    <li>
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.25s">
        <img alt="TODO" src="/media/japan/japan-disaster-03.jpg">
      </a>
    </li>
    <li>
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.25s">
        <img alt="TODO" src="/media/japan/japan-disaster-04.jpg">
      </a>
    </li>
    <li>
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="1.25s">
        <img alt="TODO" src="/media/japan/japan-disaster-07.jpg">
      </a>
    </li>
    <li>
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.75s">
        <img alt="TODO" src="/media/japan/japan-disaster-06.jpg">
      </a>
    </li>
    <li>
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="0.75s">
        <img alt="TODO" src="/media/japan/japan-disaster-01.jpg">
      </a>
    </li>
    <li>
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="1.75s">
        <img alt="TODO" src="/media/japan/japan-disaster-08.jpg">
      </a>
    </li>
    <li>
      <a href="TODO" title="TODO" class="wow fadeIn" data-wow-delay="1.25s">
        <img alt="TODO" src="/media/japan/japan-disaster-05.jpg">
      </a>
    </li>
  </ul> -->

</section>

<!-- Subduction description -->
<section id="subduction" class="subduction js-animate-subductionx text-centerx wowx fadeInUpx" data-wow-delay="0.5s">

  <div class="row text-center">
    <div class="columns medium-10 medium-offset-1">

      <h2>Hollywood has us brainwashed</h2>

      <p>That San Andreas fault is where the danger is. Compared to Cascadia fault rupture, the San Andreas fault looks only mildly scary. [http://www.ezsystemspdx.com/san-andreas-fault-vs-cascadia-subduction-zone/]</p>

      <p>The San Andreas fault might be the sexier, more famous fault line predicted to destroy a sizable portion of the West Coast, but another running through the Pacific Northwest, featured in an article in this week's New Yorker, is scarier: not only will it cause more damage and kill or injure tens of thousands of people, it will likely do so within the next 100 years, with a one in three chance it will happen very, very soon.</p>

      <!-- <h2>What is going on?</h2> -->

      <br /><br />

      <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magnam molestias consectetur ut aspernatur suscipit sit, numquam, voluptatem tempore dolorum accusantium atque modi quaerat nulla libero labore vitae assumenda doloribus nesciunt!</p> -->

      <p>30 years ago, no one knew that the Cascadia subduction zone had ever produced a major earthquake. 45 years ago, no one even knew it existed.</p>

      <br/><br/><br/><br/>

    </div>
  </div>

  <br/><br/><br/><br/>

  <div class="row">
    <div class="columns medium-8 end">

      <div class="row">

        <div class="columns medium-4 text-right">
          <p>Meet the</p>
          <h1>Cascadia<br/>Subduction<br/>Zone</h1>

          <br/>&mdash;<br/>
          <!-- <p>is a</p> -->
        </div>

        <div class="columns medium-8 end text-left">
          <h3 class="fact" style="margin-top: 0;">
            <span class="js-animate-subduction-number" data-wow-delay="0.6s">700 miles</span>
            <!-- <br /><small>miles long</small> -->
            <br/><br/>
          </h3>

          <p style="color: #888;">long dipping fault that stretches from Northern Vancouver Island to Cape Mendocino in Northern California. The “subduction zone” part refers to a region of the planet where one tectonic plate is sliding underneath (subducting) another.</p>

          <p>Cascadia separates the Juan de Fuca and North American plates. The denser oceanic plate Juan De Fuca is moving towards and is slipping under the less dense 'North American' continental plate. Cascadia is locked by friction while strain slowly builds up (as the subduction forces act) until the fault's frictional strength is exceeded and the rocks slip past each other along the fault. This opening up of the fault is called 'full margin rupture' and it will result in a <span data-tooltip class="has-tip tip-bottom" aria-haspopup="true" title="TODO: >9.0 magnitude">megathrust earthquake</span>.</p>

          <br/><br/><br/><br/><a href="">&darr;</a><br/>
        </div>

      </div>

    </div>
  </div>

  <!-- <div class="row">
    <div class="columns medium-7 medium-offset-2">

    </div>
  </div> -->

</section>

<!-- <section class="subduction-labels js-animate-subduction-labels">
  <div class="row">
    <div class="columns medium-4 text-right" style="opacity: 0.3;" data-wow-delay="1s">
      <img style="margin-bottom: 1rem; margin-left: 1rem;" src="/assets/images/arrows/arrow-up-left.svg" width="100">
      <p class="label-text"><br/> Pacific Plate</p>
    </div>
    <div class="columns medium-5 text-center" data-wow-delay="1s">
      <img style="margin-bottom: 1rem; margin-left: 1rem;" src="/assets/images/arrows/arrow-up.svg" width="100">
      <p class="label-text"><br/> Juan de Fuca plate</p>
      <p>is slipping underneath the continental plate building up massive strain</p>
    </div>
    <div class="columns medium-3 text-left" data-wow-delay="1s">
      <img data-wow-delay="1.5s" style="margin-bottom: 1rem; margin-left: 1rem;" src="/assets/images/arrows/arrow-up-left.svg" width="100">
      <p class="label-text"><br/> North American plate</p>
      <p>is stuck, and will eventually rebound like a spring</p>
    </div>
  </div>
</section> -->

<section id="intro">

  <!-- <div class="row text-center">
    <div class="columns medium-10 medium-offset-1">

      <h2>Hollywood has us brainwashed</h2>

      <p>That San Andreas fault is where the danger is. Compared to Cascadia fault rupture, the San Andreas fault looks only midly scary. [http://www.ezsystemspdx.com/san-andreas-fault-vs-cascadia-subduction-zone/]</p>

      <p>The San Andreas fault might be the sexier, more famous fault line predicted to destroy a sizable portion of the West Coast, but another running through the Pacific Northwest, featured in an article in this week's New Yorker, is scarier: not only will it cause more damage and kill or injure tens of thousands of people, it will likely do so within the next 100 years, with a one in three chance it will happen very, very soon.</p>

    </div>
  </div> -->

  <br/><br/><br/><br/>

  <div class="row">
    <div class="columns medium-8 end">

      <div class="row">

        <div class="columns medium-4 text-right">
          <!-- <p>The resulting</p> -->
          <h1>Megathrust<br/>Earthquake</h1>

          <br/>&mdash;<br/>
        </div>

        <div class="columns medium-8 end text-left">

          <ul class="blog-grid--facts">

            <li>
              <p>It will boast</p>
              <h3 class="fact fact--small">
                <span class="js-quake-energy">30 x</span>
                <br/>
              </h3>
              <p>the energy that San Andreas fault can muster!</p>
            </li>

            <li>
              <p>There are</p>
              <h3 class="fact fact--small">
                <span class="js-quake-people">0</span>
                <br/>
              </h3>
              <p>70000 people in the inundation zone</p>
            </li>

            <li>
              <p>Affected area covers</p>
              <h3 class="fact fact--small">
                <span class="js-quake-miles">0</span>
                <br/>
                <small>sq miles</small>
              </h3>
            </li>

          </ul>

          <br/><br/><br/><br/><a href="">&darr;</a><br/>
        </div>

      </div>

    </div>
  </div>

</section>

<br/><br/><br/><br/>
<hr>

<h2>Ignore stuff beyond this line. Still need to realign it to work with the new direction.</h2>

<hr>
<br/><br/><br/><br/>

<!-- Earthquake -->
<section class="earthquake js-animate-earthquake-1">

  <div class="row">
    <div class="columns medium-8">

      <h1>Here's what's going to happen</h1>

      <br/><br/>

      <div class="wow fadeIn">

        <!-- <button class="quake-timer radius" style="display: block; width: 250px; line-height: 1; height: 45px; margin: 0 auto; color: #fff; background: red;">Animate the bar:</button> -->

        <!-- <br/><br/> -->

        <div class="row">
          <div class="columns small-2">

            <h3 class="fact">
              <span class="js-quake-counter" style="color: salmon !important; position: relative; top: -1.75rem;">0:00</span>
              <br/>
            </h3>

          </div>
          <div class="columns small-10 medium-8 end">

            <div class="progress radius alert">
              <span class="meter custom-meter" style="width: 0%;"></span>
            </div>

          </div>
        </div>

      </div>

      <ul class="block-grid medium-block-grid-3 blog-grid--facts">

        <li>
          <p>[TODO: Cross/Tombstone ICON]</p>
          <h3 class="fact fact--large">
            <span class="js-quake-energy">0</span>
            <br/>
            <small>dead</small>
          </h3>
        </li>

        <li>
          <p>[TODO: Medical ICON]</p>
          <h3 class="fact">
            <span class="js-quake-people">0</span>
            <br/>
            <small>injured</small>
          </h3>
        </li>

        <li>
          <p>[TODO: Broken House ICON]</p>
          <h3 class="fact fact--small">
            <span class="js-quake-miles">0</span>
            <br/>
            <small>misplaced</small>
          </h3>
        </li>

      </ul>

      <br/>
      <p>The earthquake will last for 4 minutes or more, killing 13,000 people and injuring another 27,000 people; leaving 1,000,000 misplaced and 2,500,000 without access to food or water.</p>

      <br/>
      <p><small>These FEMA estimates are based on the agency’s official planning scenario, which has the earthquake striking at 9:41 A.M. on February 6th. If, instead, it strikes in the summer, when the beaches are full, those numbers could be off by a horrifying margin.</small></p>

    </div>

    <div class="columns medium-4">

      <br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>

      [TODO: Here we'll have some pop-up animations illustrating what happens during the EQ]
      [e.g. dogs bark before it starts]
      [e.g. electricity goes out]
      [e.g. buildings crumble]

    </div>

  </div>

</section>

<section class="earthquake text-center js-animate-earthquake-2">

  <div class="row">
    <div class="columns medium-7 medium-offset-1 large-offset-0">

      <br/><br/><br/><br/>

      <blockquote>
        <h2 class="wow fadeInDown" data-wow-delay="0.15s" data-wow-duration="1s">
            "Our operating assumption is that everything west of Interstate 5 will be toast."
        </h2>
        <cite>FEMA Guy</cite>
      </blockquote>

      <br/><br/><br/><br/>

      [TODO: Highlight I5 on the map?]
      <br/><br/>
      [TODO: I5 icon]

    </div>
  </div>

</section>

<section class="earthquake text-center js-animate-earthquake-3">

  <div class="row">
    <div class="columns medium-7 medium-offset-1 large-offset-0">

      <!-- <h2>FEMA victims estimates are pretty grim</h2>

      <ul class="block-grid medium-block-grid-2 blog-grid--facts">

        <li>
          <h3 class="fact fact--small wow fadeIn">
            <span class="wow pulse">
              2.500.0000 <small>with no food or water</small>
            </span>
          </h3>
        </li>

        <li>
          <h3 class="fact wow fadeIn" data-wow-delay="0.2s">

              <span class="wow pulse" data-wow-delay="0.2s" data-wow-duration="0.6s">
                1.000.000 <small>misplaced</small>
              </span>

          </h3>
        </li>

      </ul>
      <ul class="block-grid medium-block-grid-2 blog-grid--facts">
        <li>
          <h3 class="fact fact--large wow fadeIn" data-wow-delay="0.4s">

            <span class="wow pulse" data-wow-delay="0.4s" data-wow-duration="0.8s">
              27.000 <small>injured</small>
            </span>

          </h3>
        </li>

        <li>
          <h3 class="fact fact--huge wow fadeIn" data-wow-delay="0.6s" data-wow-duration="1s">

            <span class="wow pulse" data-wow-delay="0.6s" data-wow-duration="2s" data-wow-iteration="5">
              13.000 <small>dead</small>
            </span>

          </h3>
        </li>

      </ul> -->


      <br/><br/><br/><br/><br/><br/><br/>


      <h2>The EQ will destroy:</h2>

      <br/><br/><br/>

      <ul class="block-grid medium-block-grid-4">
        <li>
          <h3 class="fact fact--large">
            <span>2/3</span>
            <br/>
            <small>of all airports, hospitals, railways, and schools</small>
          </h3>
        </li>
        <li>
          <h3 class="fact fact--large">
            <span>1/2</span>
            <br/>
            <small>of all highway bridges, police stations, and emergency command centers</small>
          </h3>
        </li>
        <li>
          <h3 class="fact fact--large">
            <span>88<strong style="font-size: 2rem; position: relative; top: -0.75rem; left: 0.25rem;">%</strong></span>
            <br/>
            <small>of all ports and potable water sources</small>
          </h3>
        </li>
        <li>
          <h3 class="fact fact--large">
            <span>77<strong style="font-size: 2rem; position: relative; top: -0.75rem; left: 0.25rem;">%</strong></span>
            <br/>
            <small>of all fire stations and waste-water treatment plants</small>
          </h3>
        </li>
      </ul>

      <ul class="block-grid medium-block-grid-3 blog-grid--facts">
        <li>
          <h3 class="fact fact--small">
            <span>743</span>
            <br/>
            <small>electric power facilities</small>
          </h3>
        </li>
        <li>
          <h3 class="fact fact--small">
            <span>1.000.000</span>
            <br/>
            <small>residential buildings</small>
          </h3>
        </li>
        <li>
          <h3 class="fact fact--small">
            <span>3.000</span>
            <br/>
            <small>miles of natural gas pipelines</small>
          </h3>
        </li>
      </ul>

    </div>
  </div>

</section>

<section class="earthquake text-center js-animate-earthquake-4">

  <div class="row">
    <div class="columns medium-10 medium-centered">

      <h2>Pacific Northwest is not prepared for the disaster at all</h2>

      <blockquote>
        <h3 class="wow fadeInDown" data-wow-delay="0.15s" data-wow-duration="1s">
            "... the gap between what we know and what we should do about it is getting bigger and bigger"
        </h3>

        <cite>- Dr. Chris Goldfinger, Geologist with Oregon State Uni</cite>
      </blockquote>

    </div>
  </div>

</section>

<section class="js-animate-info">

  <div class="row">
    <div class="columns">

      <h2>Stop Wasting Time and Start Preparing</h2>

      <p>The disaster is unavoidable, but it doesn't take much to get prepared. Here's what you need to do:</p>

      <hr>

      <h1><span>1</span> Secure your home</h1>

      <p>Lorem ipsum Excepteur Excepteur reprehenderit Excepteur in amet.</p>

      <ul>
        <li>Bolt your house to the foundation</li>
        <li>Bolt your furniture to the walls and floor. Install latches on cupboards.</li>
        <li>Secure dangerous equipment (water heater, etc) and make sure all family members excercise safe usage of utilities.</li>
        <li>Have a fire extinguisher (or five) handy.</li>
        <li>Keep beds and couches and tables away from windows.</li>
        <li>Remove heavy and sharp objects from the walls. Secure mirrors.</li>
        <li>Do not store alchohol/bottles above waist level.</li>
        <li>Get to know your neighbours -- you'll be working together when disaster strikes.</li>
      </ul>

      <hr>

      <h1><span>2</span> Prepare emergency kit</h1>

      <p>Lorem ipsum Excepteur Excepteur reprehenderit Excepteur in amet.</p>

      <ul>
        <li>Emergency-contact information</li>
        <li>Copies of important documents (birth certificates, passports, driver’s licenses, wills)</li>
        <li>Cash (A.T.M.s won’t work after the quake)</li>
        <li>Prescription drugs (these expire, so, as with food, you’ll have to periodically replace them)</li>
        <li>Flashlights, extra batteries</li>
        <li>Spare eyeglasses</li>
        <li>A whistle (attach one to your key chain, too, in case you wind up trapped somewhere)</li>
        <li>Basic first-aid supplies</li>
        <li>Warm clothing, sturdy shoes</li>
        <li>Rain gear, sleeping bags, a tent</li>
        <li>Water, food for 2-3 weeks</li>
        <li>Water-purification tablets or a back-country filtering device can be helpful in case water supplies are contaminated</li>
      </ul>

      <hr>

      <h1><span>3</span> Look up and learn the evacuation plan for your area</h1>

      <p>Know a way to the nearest gathering point / safe zone / evacuation point</p>

    </div>
  </div>

</section>

<section>

  <div class="row">
    <div class="columns">

      <h2>CTA</h2>

      <a href="" class="button large">Share This</a>

    </div>
  </div>

</section>