---
title: The Really Big One
---

<section class="hero">

  <div class="row">
    <div class="columns medium-7 medium-offset-1 large-7 large-offset-0">

      <h1 class="logo" style="position: relative; left: -1rem;"><span style="position: relative; top: -0.35rem;">The</span> <span style="font-size: 115%">Really</span><br><span style="font-size: 135%; margin-left: 1rem;">Big</span> <span style="position: relative; top: -0.75rem;">One</span></h1>

      <h2 class="animated fadeIn">An earthquake will destroy a sizable portion of the Pacific Northwest.</h2>
      <h3 class="animated slideInUp">The region will suffer the worst natural disaster<br/>in the history of North America.</h3>

    </div>
  </div>

</section>

<section class="subduction">

  <div class="row">
    <div class="columns medium-7 medium-offset-1 large-8x large-offset-0 text-center">

      <h2>Cascadia Subduction zone</h2>
      <h3 class="fact"><span class="animated fadeIn">700 miles</span><br/>off the coast of the Pacific Northwest</h3>
      <br/><br/><br/><br/><br/>

    </div>
  </div>

  <!-- <div class="row">
    <div class="columns small-6">

      <p>Juan de Fuca plate <br/> &darr;</p>

    </div>
    <div class="columns small-6">

      <p>North American plate <br/> &darr;</p>

    </div>
  </div> -->

  <ul class="block-grid medium-block-grid-3 text-center">
    <li class="animated slideInDown">Pacific Plate <br/> &darr;</li>
    <li class="animated slideInDown">Juan de Fuca plate <br/> &darr;</li>
    <li class="animated slideInDown">North American plate <br/> &darr;</li>
  </ul>

</section>

<section class="earthquake text-center">

  <div class="row">
    <div class="columns medium-7 medium-offset-1 large-8x large-offset-0">

      <h2>Full-margin Rupture</h2>
      <h3 class="fact"><span style="color: salmon !important;">2:48</span><br/></h3>
      <br/><br/>

      <div class="progress radius alert small-10 small-offset-1 medium-6 medium-offset-3">
        <span class="meter" style="width: 66%"></span>
      </div>

      <br/><br/><br/>
      <ul class="block-grid medium-block-grid-3 blog-grid--facts">
        <li><h3 class="fact fact"><span>30 x</span><br/><small>the energy of a San Andreas fault earthquake!</small></h3></li>
        <li><h3 class="fact fact"><span>7.000.000</span><br/><small>people in the affected area</small></h3></li>
        <li><h3 class="fact"><span>14.000</span><br/><small>sq miles</small></h3></li>
      </ul>

    </div>
  </div>

</section>

<section class="earthquake text-center">

  <div class="row">
    <div class="columns medium-7 medium-offset-1 large-8x large-offset-0">

      <br/><br/>
      <br/><br/>
      <blockquote>
        <h2 style="color: lightblue;">"Our operating assumption is that everything west of Interstate 5 will be toast."</h2>
      </blockquote>

    </div>
  </div>
</section>

<section class="earthquake text-center">

  <div class="row">
    <div class="columns medium-7 medium-offset-1 large-8x large-offset-0">

      <ul class="block-grid medium-block-grid-2 blog-grid--facts">
        <li><h3 class="fact fact--small"><span class="animated bounceIn">2.500.0000<small>with no food or water</small></span></h3></li>
        <li><h3 class="fact"><span class="animated bounceIn">1.000.000<small>misplaced</small></span></h3></li>
      </ul>
      <ul class="block-grid medium-block-grid-2 blog-grid--facts">
        <li><h3 class="fact fact--large"><span class="animated bounceIn">27.000<small>injured</small></span></h3></li>
        <li><h3 class="fact fact--huge"><span class="animated bounceIn">13.000<small>dead</small></span></h3></li>
      </ul>


      <br/><br/><br/>
      <br/><br/><br/><br/>

      <h2>It will destroy:</h2>

      <br/><br/><br/>
      <ul class="block-grid medium-block-grid-4">
        <li><h3 class="fact fact--large"><span>2/3</span><br/><small>of all airports, hospitals, railways, and schools</small></h3></li>
        <li><h3 class="fact fact--large"><span>1/2</span><br/><small>of all highway bridges, police stations, and emergency command centers</small></h3></li>
        <li><h3 class="fact fact--large"><span>88%</span><br/><small>of all ports and potable water sources</small></h3></li>
        <li><h3 class="fact fact--large"><span>77%</span><br/><small>of all fire stations and waste-water treatment plants</small></h3></li>
      </ul>
      <ul class="block-grid medium-block-grid-3 blog-grid--facts">
        <li><h3 class="fact fact--small"><span>743</span><br/><small>electric power facilities</small></h3></li>
        <li><h3 class="fact fact--small"><span>1.000.000</span><br/><small>residential buildings</small></h3></li>
        <li><h3 class="fact fact--small"><span>3.000</span><br/><small>miles of natural gas pipelines</small></h3></li>
      </ul>

      <br/>

      <div class="row">
        <div class="columns">

          <p style="color: #999;">* Estimates are based on the agency’s official planning scenario, which has the earthquake striking at 9:41 A.M. on February 6th. If, instead, it strikes in the summer, when the beaches are full, those numbers could be off by a horrifying margin.</p>

        </div>
      </div>

    </div>
  </div>

</section>